:where(.cui-actionableBox) {
	position: relative;
}
:where(.cui-actionableBox-contents) {
	display: contents;
}

:where(.cui-actionableBox.view-image),
:where(.cui-actionableBox.view-video) {
	--cui-box--padding: 0;
	--cui-box--border: none;
}

:where(.cui-actionableBox-actions) {
	position: absolute;
	top: 0.625em;
	right: -0.3125em;
	list-style-type: none;
	display: inline-flex;
	flex-direction: column;
	gap: var(--cui-gap);
	margin: 0;
	padding: 0;
}

:where(.cui-actionableBox-action) {
	opacity: 0;
	pointer-events: none;
	transition-property: opacity, visibility, pointer-events, transform;
	transition-duration: 0.1s;
	transform: translateY(-0.625em);
}

:where(.cui-actionableBox-action:has(.cui-button[data-active])),
:where(.cui-actionableBox:hover > .cui-actionableBox-actions > .cui-actionableBox-action),
:where(.cui-actionableBox:focus-within > .cui-actionableBox-actions > .cui-actionableBox-action) {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}
