@import '../common'

.fileInput
	$previewWidth: em(150px)

	width: 100%
	height: $previewWidth
	display: flex

	&-preview
		width: $previewWidth
	&-preview ~ &-dropZone
		margin-left: em(10px)

	&-dropZone
		flex-grow: 1
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		height: 100%

	&-cta
		&-label
			display: block
			color: $c-text-light
			font-size: $fs-small
			text-align: center
