@import '../common'

.fileInput
	width: 100%
	display: flex

	&-input
		+absolute
		+size(rem(.1px))
		opacity: 0
		z-index: -1
		overflow: hidden

	&-preview
		width: 25%

	&-message
		display: block
		align-self: center
		margin-left: rem(10px)
		flex-grow: 1
		text-align: center
	&-drop
		display: block
		color: $c-text-light
		font-size: $fs-small
		text-align: center
	&-empty
		color: $c-text-light
		font-style: italic
		font-size: $fs-small
