:where(.projectsList-item) {
  padding: 1em 0;
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
}

:where(.projectsList-item:not(:last-child))::after {
  position: absolute;
  right: -1em;
  bottom: 0;
  left: -1em;
  content: "";
  background: rgba(16, 22, 26, 0.15);
  height: 0.0625rem;
}
