:where(.sideDimensions) {
	display: contents;
}

:where(.sideDimensions-dimensions) {
	display: flex;
	flex-direction: column;
	gap: var(--cui-layout-section-gap);
}

:where(.sideDimensions-dimensions-in) {
	display: flex;
	flex-direction: column;
	gap: var(--cui-layout-section-gap);
}

:where(.sideDimensions-dimensions-dimension) {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--cui-layout-section-gap);
	position: relative;
}

:where(.sideDimensions-dimensions-dimensionValue) {
	background-color: rgb(var(--cui-background-color--rgb-25));
	border-radius: 0.5em;
	font-size: 0.5em;
	padding: 0.1em 0.75em;
	position: absolute;
	right: 1px;
	text-transform: uppercase;
	top: 1px;
}

@media (min-width: 768px) {
	:where(.cui-layout-page-content .sideDimensions-dimensions) {
		gap: var(--cui-layout-section-gap);
	}

	:where(.cui-layout-page-content .sideDimensions-dimensions-in) {
		flex-direction: row;
		gap: var(--cui-layout-section-gap);
	}

	:where(.cui-layout-page-content .sideDimensions-dimensions-in:not(:first-child) .cui-layout-page-content .sideDimensions-dimensions-dimensionValue) {
		display: none;
	}
}
