:where(.sideDimensions) {
	display: contents;
}

:where(.sideDimensions-dimensions),
:where(.sideDimensions-dimensions-in) {
	display: contents;
}

:where(.sideDimensions-dimensions-dimension) {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--cui-layout-section-gap);
	position: relative;
}

:where(.sideDimensions-dimensions-dimensionValue) {
	background-color: rgb(var(--cui-background-color--rgb-25));
	border-radius: 0.5em;
	font-size: 0.5em;
	padding: 0.1em 0.75em;
	position: absolute;
	right: 1px;
	text-transform: uppercase;
	top: 1px;
}
