@use 'sass:math'

@import '../common'

.sideDimensions
	display: contents

	&-dimensions
		display: flex
		flex-direction: column
		gap: $cui-gap * 6

		&-in
			display: flex
			gap: $cui-gap * 6

		&-dimension
			display: flex
			flex: 1
			flex-direction: column
			gap: $cui-gap * 6
