@import '../common'

.toolbar
	$color: #F6F7F9
	color: $c-text
	background: linear-gradient(to top, $color 0%, lighten($color, 5) 100%)
	border: rem(1px) solid darken($color, 10)
	border-top-left-radius: calc(var(--cui-control-border-radius) + var(--cui-control-border-width, 1px))
	border-top-right-radius: calc(var(--cui-control-border-radius) + var(--cui-control-border-width, 1px))
	border-bottom: none
