:where(.cui-menu) {
	color: rgb(var(--cui-color-strong-rgb-75));
	user-select: none;
}

:where(.cui-menu *) {
	color: inherit;
}

:where(.cui-menu .cui-label) {
	--cui-label-inset-vertical: calc(1.5 * var(--cui-gap));
	--cui-label-inset-horizontal: calc(1.5 * var(--cui-gap));
	color: inherit;
}

:where(.cui-menu-list) {
	list-style: none;
	padding: 0;
	margin: 0;
}

:where(.cui-menu-section .cui-collapsible .cui-collapsible-content) {
	padding-left: calc(1 * var(--cui-gap));
	padding-bottom: calc(3 * var(--cui-gap));
}

:where(.cui-menu-group[aria-disabled="true"]) {
	color: rgba(var(--cui-color-rgb-50), var(--cui-opacity--low));
}

:where(
	.cui-menu-group[data-active] > .cui-menu-group-title,
	.cui-menu-section[data-active] > .cui-menu-section-title,
) {
	color: rgb(var(--cui-color-accent-rgb-50));
}

:where(
	li[data-focusable] > .cui-menu-section-title:hover > .cui-menu-section-title-content > .cui-label,
	li[data-focusable] > .cui-menu-group-title:hover > .cui-menu-group-title-content > .cui-label,
) {
	color: rgb(var(--cui-color-accent-rgb-75));
	background-color: rgba(var(--cui-background-color-toned-controls-rgb-50), var(--cui-opacity--lower));;
}

:where(
	li:focus > .cui-menu-section-title > .cui-menu-section-title-content > .cui-label,
	li:focus > .cui-menu-group-title > .cui-menu-group-title-content > .cui-label,
) {
	color: rgb(var(--cui-color-accent-rgb-75));
	background-color: rgba(var(--cui-background-color-toned-controls-rgb-50), var(--cui-opacity--low));;
}

:where(.cui-menu-expand-toggle) {
	--cui-menu-expand-toggle-size: calc(5 * var(--cui-gap));
	background: transparent;
	border: 0;
	color: inherit;
	height: var(--cui-menu-expand-toggle-size);
	padding: 0;
	position: absolute;
	right: 100%;
	width: var(--cui-menu-expand-toggle-size);
}

:where(.cui-menu-expand-toggle)::before {
	border-bottom: 0.109375rem solid rgb(var(--cui-color-rgb-50));
	border-right: 0.109375rem solid rgb(var(--cui-color-rgb-50));
	bottom: 0;
	content: "";
	display: inline-block;
	height: 0.4em;
	left: calc(var(--cui-menu-expand-toggle-size) / 2 - 0.2em);
	margin: auto;
	position: absolute;
	top: -0.15em;
	transform-origin: 70% 70%;
	transform: rotate(45deg);
	transition: transform var(--cui-transition-duration-fast);
	width: 0.4em;
}

:where(.cui-menu-expand-toggle[aria-expanded="false"])::before {
	transform: rotate(-45deg);
}

:where(.cui-menu-expand-toggle[disabled]) {
	display: none;
}

:where(.cui-menu-expand-toggle-label) {
	visibility: hidden;
}

:where(.cui-menu-section-title),
:where(.cui-menu-group-title) {
	align-items: center;
	display: flex;
	font-weight: 600;
	position: relative;
}

:where(
	.cui-menu-section-title:not([aria-disabled="true"]),
	.cui-menu-group-title:not([aria-disabled="true"]),
) {
	cursor: pointer;
}

:where(.cui-menu-section-title-content),
:where(.cui-menu-group-title-content) {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: calc(2 * var(--cui-gap));
}

:where(.cui-menu-section) {
	padding-right: 0;
	position: relative;
}

:where(
	[data-suppress-focus-ring] .cui-menu-section,
	[data-suppress-focus-ring] .cui-menu-group,
) {
	outline: none;
}

:where(.cui-menu-section-title[data-active])::after {
	visibility: unset;
}

:where(.cui-menu-section-list) {
	list-style: none;
	padding: 0 0 0 calc(4 * var(--cui-gap));
}

:where(.cui-menu-group-list) {
	list-style: none;
	padding-left: calc(4 * var(--cui-gap));
	position: relative;
}
