:where(.cui-devBar) {
	--devBar-soft-shadow-color: rgba(var(--cui-color--accent-rgb-75), var(--cui-opacity--low));
	--devBar-control-background-color--highlighted: rgba(var(--cui-background-color--toned-controls-rgb-50), var(--cui-opacity--low));
	--devBar-brand-background-color--highlighted: rgb(var(--cui-background-color--controls-rgb-50));
	--devBar-padding-vertical: var(--cui-padding, 1rem);
	--devBar-padding-horizontal: var(--cui-padding, 1rem);

	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 1000;
	left: 0;
	right: 0;
	opacity: 1;
	padding: var(--devBar-padding-vertical) var(--devBar-padding-horizontal);
	transition-property: opacity, transform;
	transition-duration: var(--cui-transition-duration--fast);
	transition-timing-function: ease-in-out;
}

:where(.cui-devBar) .cui-table-container {
	--cui-table-container--overflow-padding-left: var(--devBar-padding-horizontal);
	--cui-table-container--overflow-padding-right: var(--devBar-padding-horizontal);
}

:where(
	.cui-devBar-content,
	.cui-devBar-panel-content,
) {
	background: rgb(var(--cui-background-color--rgb-50));
	box-shadow: inset 0 0 0 1px rgba(var(--cui-color--rgb-50), var(--cui-opacity--low)), 0 1rem 4rem rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));;
	color: rgb(var(--cui-color--rgb-50));
}

:where(.cui-devBar-content) {
	transition: box-shadow var(--cui-transition-duration--slow) ease-in-out;
	align-self: center;
	align-items: center;
	border-radius: 2rem;
	display: flex;
	gap: var(--cui-gutter);
	padding: var(--cui-gap);
	margin: 0 auto;
}


:where(
	.cui-devBar-content:hover,
	.cui-devBar-content:focus-within,
) {
	box-shadow: inset 0 0 0 1px rgba(var(--cui-color--rgb-50), var(--cui-opacity--low)), 0 1rem 4rem var(--devBar-soft-shadow-color);

}
:where(
	.cui-devBar-close,
	.cui-devBar-trigger-label,
	.cui-devBar-brand,
) {
	align-items: center;
	height: var(--cui-size--controls);
	border-radius: 2rem;
	justify-content: center;
	max-height: var(--cui-size--controls);
	min-height: var(--cui-size--controls);
	min-width: var(--cui-size--controls);
	padding: 0.625rem;
}

:where(.cui-devBar-close) {
	background: transparent;
	cursor: pointer;
	display: flex;
	max-width: var(--cui-size--controls);
	width: var(--cui-size--controls);
	order: 999;
}

:where(
	.cui-devBar-close:hover,
	.cui-devBar-close:focus-visible,
) {
	color: rgb(var(--cui-color--toned-controls-rgb-50));
	background-color: var(--devBar-control-background-color--highlighted);
}

:where(.cui-devBar-brand) {
	align-items: center;
	color: rgb(var(--cui-color--rgb-0));
	display: flex;
	gap: var(--cui-gap);
	text-align: right;
}

:where(
	.cui-devBar-brand:hover,
	.cui-devBar-brand:focus-visible,
) {
	background-color: var(--devBar-brand-background-color--highlighted);
	color: rgb(var(--cui-color--controls-rgb-50));
}

:where(.cui-devBar-brand .cui-brand-logo-type) {
	width: 90px;
}

:where(.cui-devBar-panels) {
	display: flex;
	gap: var(--cui-gap);
}

:where(.cui-devBar-trigger) {
	--y-offset: calc(-1 * var(--devBar-padding-vertical) - var(--cui-size--controls));
	color: rgb(var(--cui-color--rgb-50));
	display: flex;
}

:where(.cui-devBar-trigger-label) {
	background: transparent;
	align-items: center;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-weight: normal;
	gap: var(--cui-gutter);
}
:where(
	.cui-devBar-trigger-label:hover,
	.cui-devBar-trigger-label:focus-visible,
	.cui-devBar-trigger[data-expanded] > .cui-devBar-trigger-label,
) {
	color: rgb(var(--cui-color--toned-controls-rgb-50));
	background-color: var(--devBar-control-background-color--highlighted);
}
:where(
	.cui-devBar-trigger[data-expanded] > .cui-devBar-trigger-label,
) {
	box-shadow: inset 0 1px 0 0px rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));
}

:where(.cui-devBar-panel) {
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: var(--cui-gutter);
	left: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: calc(2 * var(--cui-gutter));
	transform: translateY(var(--y-offset));
}

:where(.cui-devBar-trigger:not([data-expanded]) > .cui-devBar-panel) {
	display: none;
}

:where(.cui-devBar-panel-content) {
	gap: inherit;
	background: rgb(var(--cui-background-color--rgb-50));
	box-shadow: inset 0 0 0 1px rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));
	border-radius: 1rem;
	display: flex;
	min-width: min(20rem, 100%);
	max-width: 100%;
	flex-direction: column;
	flex-shrink: 1;
	padding: var(--cui-padding);
}

@media screen and (min-width: 768px) {
	:where(.cui-devBar-trigger) {
		--y-offset: calc(-1 * var(--cui-size--controls) + 2 * var(--cui-gap));
		position: relative;
	}
	:where(.cui-devBar-panel-content) {
		min-width: unset;
		max-width: unset;
	}
	:where(.cui-devBar-panel-body) {
		min-width: 20rem;
	}
}

:where(.cui-devBar-panel-body) {
	display: flex;
	flex-direction: column;
	gap: var(--cui-gap);
}

:where(
	.cui-devBar-trigger:hover,
	.cui-devBar-trigger[data-expanded],
) {
	color: rgb(var(--cui-color--rgb-0));
}

:where(.cui-devBar:not([data-expanded])) {
	transform: translateY(var(--cui-size--controls));
	opacity: 0;
	max-width: 5rem;
	margin: auto;
}

:where(
	.cui-devBar:not([data-expanded]):hover,
	.cui-devBar:not([data-expanded]):focus-within,
) {
	transform: unset;
	opacity: unset;
}

:where([id^="dev-bar-panel"]:not([data-expanded]) > *) {
	display: none;
}

:where(.cui-devBar-panel .cui-table-wrapper) {
	overflow: auto;
}
