:where(.cui-devBar) {
	--soft-shadow-color: rgba(var(--cui-controls-800), 0.5);
	--brand-background-color--highlighted: var(--cui-filled-primary-control-background-color);
	--control-background-color--highlighted: var(--cui-toned-control-background-color);
	--screen-offset-vertical: var(--cui-padding, 1rem);
	--screen-offset-horizontal: var(--cui-padding, 1rem);

	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 1000;
	left: 0;
	right: 0;
	opacity: 1;
	padding: var(--screen-offset-vertical) var(--screen-offset-horizontal);
	transition-property: opacity, transform;
	transition-duration: var(--cui-transition-duration--fast);
	transition-timing-function: ease-in-out;
}


:where(
	.cui-devBar-content,
	.cui-devBar-panel-content,
) {
	background: var(--cui-background-color--above);
	box-shadow: inset 0 0 0 1px var(--cui-color--lower), 0 1rem 4rem var(--cui-color--low);
	color: var(--cui-color);
}

:where(.cui-devBar-content) {
	transition: box-shadow var(--cui-transition-duration--slow) ease-in-out;
	align-self: center;
	align-items: center;
	border-radius: 2rem;
	display: flex;
	gap: var(--cui-gutter);
	padding: var(--cui-gap);
	margin: 0 auto;
}


:where(
	.cui-devBar-content:hover,
	.cui-devBar-content:focus-within,
) {
	box-shadow: inset 0 0 0 1px var(--cui-color--low), 0 1rem 4rem var(--soft-shadow-color);
}

:where(
	.cui-devBar-close,
	.cui-devBar-trigger-label,
	.cui-devBar-brand,
) {
	align-items: center;
	height: var(--cui-control-height);
	border-radius: 2rem;
	justify-content: center;
	max-height: var(--cui-control-height);
	min-height: var(--cui-control-height);
	min-width: var(--cui-control-height);
	padding: 0.625rem;
}

:where(.cui-devBar-close) {
	background: transparent;
	cursor: pointer;
	display: flex;
	max-width: var(--cui-control-height);
	width: var(--cui-control-height);
	order: 999;
}

:where(
	.cui-devBar-close:hover,
	.cui-devBar-close:focus-visible,
) {
	background: var(--control-background-color--highlighted);
}

:where(.cui-devBar-brand) {
	align-items: center;
	color: var(--cui-color--strong);
	display: flex;
	gap: var(--cui-gutter);
	text-align: right;
}

:where(
	.cui-devBar-brand:hover,
	.cui-devBar-brand:focus-visible,
) {
	background-color: var(--brand-background-color--highlighted);
	color: var(--cui-filled-primary-control-color);
}

:where(.cui-devBar-brand .cui-brand-logo-type) {
	width: 90px;
}

:where(.cui-devBar-panels) {
	display: flex;
	gap: var(--cui-gap);
}

:where(.cui-devBar-trigger) {
	--y-offset: calc(-1 * var(--screen-offset-vertical) - var(--cui-control-height));
	color: var(--cui-color);
	display: flex;
}

:where(.cui-devBar-trigger-label) {
	background: transparent;
	align-items: center;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-weight: normal;
	gap: var(--cui-gutter);
}
:where(
	.cui-devBar-trigger-label:hover,
	.cui-devBar-trigger-label:focus-visible,
	.cui-devBar-trigger[data-expanded] > .cui-devBar-trigger-label,
) {
	background-color: var(--control-background-color--highlighted);
}
:where(
	.cui-devBar-trigger[data-expanded] > .cui-devBar-trigger-label,
) {
	box-shadow: inset 0 1px 0 0px var(--cui-color--lower);
}

:where(.cui-devBar-panel) {
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: var(--cui-gutter);
	left: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: calc(2 * var(--cui-gutter));
	transform: translateY(var(--y-offset));
}

:where(.cui-devBar-trigger:not([data-expanded]) > .cui-devBar-panel) {
	display: none;
}

:where(.cui-devBar-panel-content) {
	gap: inherit;
	background: var(--cui-background-color--above);
	box-shadow: inset 0 0 0 1px var(--cui-color--low);
	border-radius: 1rem;
	display: flex;
	min-width: min(20rem, 100%);
	max-width: 100%;
	flex-direction: column;
	flex-shrink: 1;
	padding: var(--cui-padding);
}

@media screen and (min-width: 768px) {
	:where(.cui-devBar-trigger) {
		--y-offset: calc(-1 * var(--cui-control-height) + 2 * var(--cui-gap));
		position: relative;
	}
	:where(.cui-devBar-panel-content) {
		min-width: unset;
		max-width: unset;
	}
	:where(.cui-devBar-panel-body) {
		min-width: 20rem;
	}
}

:where(.cui-devBar-panel-body) {
	display: flex;
	flex-direction: column;
	gap: var(--cui-gap);
}

:where(
	.cui-devBar-trigger:hover,
	.cui-devBar-trigger[data-expanded],
) {
	color: var(--cui-color--strong);
}

:where(.cui-devBar:not([data-expanded])) {
	transform: translateY(var(--cui-control-height));
	opacity: 0;
}

:where(
	.cui-devBar:not([data-expanded]):hover,
	.cui-devBar:not([data-expanded]):focus-within,
) {
	transform: unset;
	opacity: unset;
}

:where(#dev-bar-toggle-button-target:not([data-expanded]) > *) {
	display: none;
}

:where(.cui-devBar-panel .cui-table-wrapper) {
	overflow: auto;
}
