@use 'sass:math'

.#{$cui-conf-globalPrefix}description
  font-size: $cui-fieldContainer-size-default * 0.95
  font-weight: $fw-normal
  line-height: $cui-base-lineHeight
  color: var(--cui-color--medium)
  display: inline-block
  margin: em(2px) 0
