@use 'sass:math'

.#{$cui-conf-globalPrefix}field-label
  color: inherit
  cursor: default
  font-size: var(--cui-font-size-label)
  font-weight: $fw-bold
  line-height: $cui-base-lineHeight
  user-select: none
