/.pnpm-store
/.npmrc
/.yarn
/dist
/ee/**/dist
/ee/**/temp
/ee/**/node_modules
/packages/**/dist
/packages/**/temp
/packages/**/node_modules
/packages/admin/tests/playwright/output
/packages/admin/tests/playwright/report
/packages/admin-sandbox/.env.development.local
/node_modules
/docker-compose.override.yaml
