# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# node_modules
/ee/**/node_modules
/packages/**/node_modules
/node_modules

# build
/dist
/ee/**/dist
/ee/**/temp
/packages/**/dist
/packages/**/temp

# env / config
/packages/admin-sandbox/.env.development.local
/docker-compose.override.yaml

# tests
/packages/admin/tests/playwright/output
/packages/admin/tests/playwright/report
