shared-workspace-shrinkwrap = true
link-workspace-packages = true
registry=https://registry.npmjs.org/
//verdaccio.mgw.cz/:_authToken={VERDACCIO_NPM_TOKEN}
@contember:registry=https://verdaccio.mgw.cz/
