services:

  playground:
    image: oven/bun:1.2.9
    command: 'bun run start'

    environment:
      NODE_ENV: 'development'
      VITE_CONTEMBER_ADMIN_API_BASE_URL: 'http://localhost:3001'
      VITE_CONTEMBER_ADMIN_SESSION_TOKEN: '0000000000000000000000000000000000000000'

    working_dir: /src/packages/playground
    volumes:
      - .:/src:cached

  test:
    image: oven/bun:1.2.9
    working_dir: /src
    volumes:
      - .:/src:cached
    deploy:
      replicas: 0
    environment:
      NODE_ENV: development
      CONTEMBER_API_URL: 'http://engine:4000'
      CONTEMBER_ROOT_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
      MAILHOG_URL: 'http://mailhog:8025'
    entrypoint:
      - bun
      - "--conditions=typescript"
      - "test"
  engine:
    image: oven/bun:1.2.9
    working_dir: /src

    environment:
      NODE_ENV: development
      CONTEMBER_PORT: 4000
      CONTEMBER_MONITORING_PORT: 4001
      CONTEMBER_ROOT_EMAIL: 'admin@localhost'
      CONTEMBER_ROOT_PASSWORD: 'admin@localhost'
      CONTEMBER_ROOT_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_API_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
      CONTEMBER_API_URL: 'http://localhost:4000'
      CONTEMBER_APPLICATION_WORKER: 'all'
      DEFAULT_DB_STATEMENT_TIMEOUT_MS: 5000
      DEFAULT_DB_QUERY_TIMEOUT_MS: 5000
      DEFAULT_DB_HOST: 'postgres'
      DEFAULT_DB_PORT: '5432'
      DEFAULT_DB_USER: 'contember'
      DEFAULT_DB_PASSWORD: 'contember'
      TEST_DB_HOST: 'postgres'
      TEST_DB_PORT: '5432'
      TEST_DB_USER: 'contember'
      TEST_DB_PASSWORD: 'contember'
      TENANT_DB_NAME: 'tenant'
      TENANT_MAILER_HOST: 'mailhog'
      TENANT_MAILER_PORT: '1025'
      TENANT_MAILER_FROM: 'contember@localhost'
      DEFAULT_S3_PROVIDER: 'minio'
      DEFAULT_S3_REGION: ''
      DEFAULT_S3_BUCKET: 'contember'
      DEFAULT_S3_PREFIX: 'data'
      DEFAULT_S3_KEY: 'contember'
      DEFAULT_S3_SECRET: 'contember'
      DEFAULT_S3_ENDPOINT: 'http://localhost:3003'
      CONTEMBER_PACKAGE_JSON: /src/packages/engine-server/package.json
    volumes:
      - .:/src:cached
    command:
      - bun
      - "--watch"
      - "--conditions=typescript"
      - ./packages/engine-server/src/start.ts
    healthcheck:
#      test: 'curl --fail http://localhost:4000'
      test: [ "CMD", "bash", "-c", "echo > /dev/tcp/localhost/4000" ]
      interval: 5s
      timeout: 5s
      retries: 10

    depends_on:
      postgres:
        condition: service_healthy


  cli:
    image: oven/bun:1.2.9
    working_dir: /src/packages/playground
    deploy:
      replicas: 0

    environment:
      CONTEMBER_SKIP_VERSION_CHECK: 1
      CONTEMBER_API_URL: 'http://engine:4000/'
      CONTEMBER_API_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_PROJECT_NAME: playground

    volumes:
      - ./:/src
    entrypoint:
      - bun
      - "--conditions=typescript"
      - /src/packages/cli/src/run.ts
#    depends_on:
#      engine:
#        condition: service_healthy


  minio:
    image: bitnami/minio

    environment:
      MINIO_ROOT_USER: 'contember'
      MINIO_ROOT_PASSWORD: 'contember'
      MINIO_DEFAULT_BUCKETS: 'contember:download'

    volumes:
      - minio-data:/data:cached


  adminer:
    image: michalhosna/adminer:latest

    environment:
      ADMINER_DRIVER: pgsql
      ADMINER_SERVER: postgres
      ADMINER_DB: contember
      ADMINER_USERNAME: contember
      ADMINER_PASSWORD: contember
      ADMINER_AUTOLOGIN: 1
      ADMINER_NAME: Contember

    depends_on:
      - postgres


  postgres:
    image: postgres:16-alpine

    environment:
      POSTGRES_PASSWORD: contember
      POSTGRES_USER: contember
      POSTGRES_DB: contember

    volumes:
      - pgsql-data:/var/lib/postgresql/data

    healthcheck:
      test: 'pg_isready --username contember'
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s


  redis:
    image: redis:3.2-alpine

  mailhog:
    image: mailhog/mailhog
volumes:
  pgsql-data: ~
  minio-data: ~
