version: '2.4'
services:
  ts_watch:
    image: node:16
    volumes:
      - ./:/src:cached
    working_dir: /src
    command: yarn run ts:watch

  db:
    image: postgres:14-alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: contember
      POSTGRES_USER: contember
      POSTGRES_DB: contember
    volumes:
    - pgsql-data:/var/lib/postgresql/data
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U contember' ]
      interval: 5s
      timeout: 5s
      retries: 10
  api:
    image: node:16
    working_dir: /src
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/src
    environment:
      NODE_ENV: development
      CONTEMBER_PORT: 4000
      CONTEMBER_MONITORING_PORT: 4001
      CONTEMBER_ROOT_EMAIL: 'admin@localhost'
      CONTEMBER_ROOT_PASSWORD: 'admin@localhost'
      CONTEMBER_ROOT_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_API_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
      CONTEMBER_INSTANCE: 'http://localhost:4000'
      CONTEMBER_API_URL: 'http://localhost:4000'
      DEFAULT_DB_HOST: 'db'
      DEFAULT_DB_PORT: '5432'
      DEFAULT_DB_USER: 'contember'
      DEFAULT_DB_PASSWORD: 'contember'
      TEST_DB_HOST: 'db'
      TEST_DB_PORT: '5432'
      TEST_DB_USER: 'contember'
      TEST_DB_PASSWORD: 'contember'
      TENANT_DB_NAME: 'tenant'
      TENANT_MAILER_HOST: 'mailhog'
      TENANT_MAILER_PORT: '1025'
      TENANT_MAILER_FROM: 'contember@localhost'
    command:
      - node
      - --expose-gc
      - --inspect=0.0.0.0:4002
      - ./ee/engine-server-ee/dist/src/start.js
  mailhog:
    image: mailhog/mailhog
volumes:
  pgsql-data: ~
