version: '3'

services:
  sandbox_vite:
    image: node:16-alpine
    command: '/src/node_modules/.bin/vite src --config vite.config.js --debug --port 5000 --host 0.0.0.0'

    environment:
      NODE_ENV: 'development'
      VITE_CONTEMBER_ADMIN_API_BASE_URL: 'http://localhost:5001'
      VITE_CONTEMBER_ADMIN_SESSION_TOKEN: '0000000000000000000000000000000000000000'

    working_dir: /src/packages/admin-sandbox
    volumes:
      - .:/src:cached


  admin_server:
    image: node:16-alpine
    command: 'node dist/server/run-admin.js'

    working_dir: /src/ee/admin-server
    volumes:
      - .:/src:cached

    environment:
      NODE_ENV: 'development'
      CONTEMBER_PORT: '4000'

      CONTEMBER_API_ENDPOINT: 'http://api:4000'
      CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
      CONTEMBER_PUBLIC_DIR: '/src/ee/admin-server/dist/public'

      CONTEMBER_S3_ENDPOINT: 'http://s3:5003'
      CONTEMBER_S3_REGION: '_'
      CONTEMBER_S3_BUCKET: 'contember'
      CONTEMBER_S3_PREFIX: 'admin/'
      CONTEMBER_S3_KEY: 'contember'
      CONTEMBER_S3_SECRET: 'contember'

      REDIS_HOST: 'redis://redis:6379'
      REDIS_PREFIX: 'contember-admin-server'

    depends_on:
      - admin_server_esbuild
      - admin_server_vite


  admin_server_esbuild:
    image: node:16-alpine
    command: 'npm run watch:server'

    working_dir: /src/ee/admin-server
    volumes:
      - .:/src:cached


  admin_server_vite:
    image: node:16-alpine
    command: 'npm run watch:public'

    working_dir: /src/ee/admin-server
    volumes:
      - .:/src:cached


  api:
    image: contember/engine:0.12.0-beta.2

    environment:
      NODE_ENV: 'development'

      CONTEMBER_PORT: '4000'
      CONTEMBER_ROOT_EMAIL: 'superadmin@localhost'
      CONTEMBER_ROOT_PASSWORD: 'superadmin@localhost'
      CONTEMBER_ROOT_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
      CONTEMBER_ENCRYPTION_KEY: '0000000000000000000000000000000000000000000000000000000000000000'

      DEFAULT_DB_HOST: 'postgres'
      DEFAULT_DB_PORT: '5432'
      DEFAULT_DB_USER: 'contember'
      DEFAULT_DB_PASSWORD: 'contember'

      DEFAULT_S3_ENDPOINT: 'http://host.docker.internal:5003'
      DEFAULT_S3_PROVIDER: 'minio'
      DEFAULT_S3_REGION: ''
      DEFAULT_S3_BUCKET: 'contember'
      DEFAULT_S3_PREFIX: 'data'
      DEFAULT_S3_KEY: 'contember'
      DEFAULT_S3_SECRET: 'contember'

      TENANT_DB_NAME: 'tenant'

    depends_on:
      postgres:
        condition: service_healthy

  contember-cli:
    image: contember/cli:0.12.0-beta.2
    volumes:
      - ./:/src:cached
    working_dir: /src/packages/admin-sandbox
    command: 'version'
    environment:
      CONTEMBER_API_URL: 'http://api:4000/'
      CONTEMBER_API_TOKEN: '0000000000000000000000000000000000000000'

  s3:
    image: minio/minio
    entrypoint: /src/s3-entrypoint.sh
    command: 'server /data'

    environment:
      MINIO_ROOT_USER: contember
      MINIO_ROOT_PASSWORD: contember


    volumes:
      - s3-data:/data:cached
      - ./scripts/docker-compose/:/src/:cached

  adminer:
    image: michalhosna/adminer:latest

    environment:
      ADMINER_DRIVER: pgsql
      ADMINER_SERVER: postgres
      ADMINER_DB: contember
      ADMINER_USERNAME: contember
      ADMINER_PASSWORD: contember
      ADMINER_AUTOLOGIN: 1
      ADMINER_NAME: Contember

    depends_on:
      - postgres


  postgres:
    image: postgres:13-alpine

    environment:
      POSTGRES_PASSWORD: contember
      POSTGRES_USER: contember
      POSTGRES_DB: contember

    volumes:
      - pgsql-data:/var/lib/postgresql/data

    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U contember']
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  redis:
    image: redis:3.2-alpine


volumes:
  pgsql-data: ~
  s3-data: ~
