version: '2.4'
services:
  ts_watch:
    image: node:20
    volumes:
      - ./:/src:cached
    working_dir: /src
    command: yarn run ts:watch

  db:
    image: postgres:14-alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: contember
      POSTGRES_USER: contember
      POSTGRES_DB: contember
    volumes:
    - pgsql-data:/var/lib/postgresql/data
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U contember' ]
      interval: 5s
      timeout: 5s
      retries: 10

  cli-sandbox:
    image: node:20
    working_dir: /src/sandbox
    depends_on:
      api:
        condition: service_started
    volumes:
      - .:/src
    environment:
      NODE_ENV: development
      CONTEMBER_API_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_API_URL: 'http://api:4000'
      CONTEMBER_PROJECT_NAME: 'sandbox'
      CONTEMBER_CLI_PACKAGE_ROOT: '/src/packages/cli'
    entrypoint:
      - yarn
      - run
      - "-T"
      - tsx
      - "--conditions=typescript"
      - /src/packages/cli/src/run.ts

  api:
    image: node:20
    working_dir: /src
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/src
    environment:
      NODE_ENV: development
      CONTEMBER_PORT: 4000
      CONTEMBER_MONITORING_PORT: 4001
      CONTEMBER_ROOT_EMAIL: 'admin@localhost'
      CONTEMBER_ROOT_PASSWORD: 'admin@localhost'
      CONTEMBER_ROOT_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_API_TOKEN: '0000000000000000000000000000000000000000'
      CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
      CONTEMBER_API_URL: 'http://localhost:4000'
      CONTEMBER_APPLICATION_WORKER: 'all'
      DEFAULT_DB_HOST: 'db'
      DEFAULT_DB_PORT: '5432'
      DEFAULT_DB_USER: 'contember'
      DEFAULT_DB_PASSWORD: 'contember'
      TEST_DB_HOST: 'db'
      TEST_DB_PORT: '5432'
      TEST_DB_USER: 'contember'
      TEST_DB_PASSWORD: 'contember'
      TENANT_DB_NAME: 'tenant'
      TENANT_MAILER_HOST: 'mailhog'
      TENANT_MAILER_PORT: '1025'
      TENANT_MAILER_FROM: 'contember@localhost'
      DEFAULT_S3_PROVIDER: 'minio'
      DEFAULT_S3_REGION: ''
      DEFAULT_S3_BUCKET: 'contember'
      DEFAULT_S3_PREFIX: 'data'
      DEFAULT_S3_KEY: 'contember'
      DEFAULT_S3_SECRET: 'contember'
      CONTEMBER_PACKAGE_JSON: /src/packages/engine-server/package.json
    command:
      - yarn
      - tsx
      - watch
      - "--conditions=typescript"
      - ./packages/engine-server-ee/src/start.ts
  mailhog:
    image: mailhog/mailhog

  minio:
    image: bitnami/minio

    environment:
      MINIO_ROOT_USER: 'contember'
      MINIO_ROOT_PASSWORD: 'contember'
      MINIO_DEFAULT_BUCKETS: 'contember:download'

    volumes:
      - minio-data:/data:cached
volumes:
  pgsql-data: ~
  minio-data: ~
