:where(.cui-layout-page) {
	align-items: stretch;
	background-color: inherit;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
}

:where(.cui-layout-page-content-wrap) {
	--cui-page-width: calc(100vw - var(--layout-chrome-bar-width, 0px));
	--cui-page-height: calc(100vh - var(--cui-content-offset-top, 0px));
	background-color: rgb(var(--cui-background-color--rgb-25));
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	position: relative;
}

:where(.cui-layout-page-content-wrap.fit-none) {
	max-width: var(--cui-page-width, 100vw);
}

:where(.cui-layout-page-content-wrap.fit-content) {
	max-width: initial;
}

@media (min-width: 1280px) {
	:where(.cui-layout-page-content-wrap) {
		flex-direction: row;
	}
}
