:where(.cui-layout) {
	display: contents;
}

:where(.cui-legacy-layout) {
	--cui-gap--screen-horizontal: 0.25em;
	--cui-gap--screen-vertical: 0.25em;
	--cui-screen-gap: var(--cui-gap--screen-horizontal);
	--cui-padding--screen-horizontal: calc(var(--cui-gap--screen-horizontal) * 3);
	--cui-edge-offset--horizontal: 0em;
	--cui-edge-offset-left: var(--cui-edge-offset--horizontal);
	--cui-edge-offset-right: var(--cui-edge-offset--horizontal);
	--cui-edge-offset-vertical: 0px;
	--cui-edge-offset-bottom: var(--cui-edge-offset-vertical);
	--cui-edge-offset-top: var(--cui-edge-offset-vertical);
}

@media (min-width: 480px) {
	:where(.cui-legacy-layout) {
		--cui-gap--screen-horizontal: 0.3125em;
		--cui-padding--screen-horizontal: calc(var(--cui-gap--screen-horizontal) * 4);
		--cui-edge-offset--horizontal: calc(var(--cui-gap--screen-horizontal) * 1);
	}
}

@media (min-width: 768px) {
	:where(.cui-legacy-layout) {
		--cui-padding--screen-horizontal: calc(var(--cui-gap--screen-horizontal) * 5);
		--cui-edge-offset--horizontal: calc(var(--cui-gap--screen-horizontal) * 2);
		--cui-field-container--min-width: 20em;
	}
}

@media (min-width: 1024px) {
	:where(.cui-legacy-layout) {
		--cui-gap--screen-horizontal: 0.375em;
		--cui-edge-offset--horizontal: calc(var(--cui-gap--screen-horizontal) * 3);
		--cui-field-container--min-width: 25em;
	}
}

@media (min-width: 1280px) {
	:where(.cui-legacy-layout) {
		--cui-padding--screen-horizontal: calc(var(--cui-gap--screen-horizontal) * 6);
		--cui-edge-offset--horizontal: calc(var(--cui-gap--screen-horizontal) * 4);
	}
}

@media (min-height: 768px) {
	:where(.cui-legacy-layout) {
		--cui-gap--screen-vertical: 0.3125em;
	}
}

@media (min-height: 1024px) {
	:where(.cui-legacy-layout) {
		--cui-gap--screen-vertical: 0.375em;
	}
}
