:where(.cui-editorTable) {
	--cui-editorTable--control-size: 0em;
	display: grid;
	grid-template-rows: var(--cui-editorTable--control-size) repeat(calc(var(--cui-editorTable-rowCount, 0)), 1px auto) 1px;
	grid-template-columns: repeat(calc(var(--cui-editorTable-columnCount, 0)), 1px 1fr) 1px var(--cui-editorTable--control-size);
	margin-top: calc(-1 * var(--cui-editorTable--control-size));
	margin-right: calc(-1 * var(--cui-editorTable--control-size));;
	position: relative;
}

:where(.cui-editorTable.is-selected) {
	--cui-editorTable--control-size: var(--cui-padding);
	z-index: 1;
	position: relative;
}

:where(.cui-editorTable-rowControls),
:where(.cui-editorTable-rowLineControls),
:where(.cui-editorTable-columnLineControls),
:where(.cui-editorTable-columnControls),
:where(.cui-editorTable-row) {
	display: contents;
}

:where(.cui-editorTable-rowControls-before),
:where(.cui-editorTable-rowControls-after) {
	grid-row: calc(2 * var(--cui-editorTable-row, 0) + 3) / span 1;
}

:where(.cui-editorTable-rowLineControls-before),
:where(.cui-editorTable-rowLineControls),
:where(.cui-editorTable-rowLineControls-after) {
	grid-row: calc(2 * var(--cui-editorTable-row, 0) + 2) / span 1;
}

:where(.cui-editorTable-rowControls-before),
:where(.cui-editorTable-rowLineControls-before) {
	grid-column: 1/span 1;
}

:where(.cui-editorTable-rowControls-after),
:where(.cui-editorTable-rowLineControls-after) {
	grid-column: -2/span 1;
}

:where(.cui-editorTable-rowControls-before),
:where(.cui-editorTable-rowControls-after) {
	justify-content: center;
	align-items: center;
	display: flex;
	opacity: 0;
	position: relative;
	visibility: hidden;
}

:where(.cui-editorTable-columnLineControls-line),
:where(.cui-editorTable-columnLineControls-line-inner),
:where(.cui-editorTable-rowLineControls-line),
:where(.cui-editorTable-rowLineControls-line-inner) {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

:where(.cui-editorTable-columnLineControls-line),
:where(.cui-editorTable-rowLineControls-line) {
	background: rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));
	position: relative;
}

:where(.cui-editorTable-columnLineControls-line) {
	grid-column: calc(2 * var(--cui-editorTable-column, 0) + 1) / span 1;
	grid-row: 2/-2;
}
:where(.cui-editorTable-rowLineControls-line) {
	grid-column: 2/-2;
	grid-row: calc(2 * var(--cui-editorTable-row, 0) + 2) / span 1;
}

:where(.cui-editorTable-columnLineControls-line-inner),
:where(.cui-editorTable-rowLineControls-line-inner) {
	cursor: pointer;
	height: 0.5rem;
}

:where(.cui-editorTable-columnLineControls-line-inner)::before,
:where(.cui-editorTable-rowLineControls-line-inner)::before {
	content: "";
	border-radius: 2px;
	display: block;
	position: absolute;
}
:where(.cui-editorTable-columnLineControls-line-inner)::before {
	height: 100%;
	width: 2px;
}
:where(.cui-editorTable-rowLineControls-line-inner)::before {
	height: 2px;
	width: 100%;
}

:where(.cui-editorTable[data-hover] .cui-editorTable-columnLineControls-line-inner:hover)::before,
:where(.cui-editorTable[data-hover] .cui-editorTable-rowLineControls-line-inner:hover)::before {
	background-color: rgb(var(--cui-background-color--controls-rgb-50));
}

:where(.cui-editorTable-columnControls) {
	grid-row: 1/span 1;
	grid-column: calc(2 * var(--cui-editorTable-column, 0) + 3) / span 1;
	justify-self: center;
	place-self: center;
}

:where(.cui-editorTable-handle) {
	grid-area: 1/1/span 1/span 1;
}

:where(.cui-editorTable-cell) {
	padding: calc(var(--cui-gap) / 2) var(--cui-double-gap);
}

:where(.cui-editorTable-cell.view-justify-start) { text-align: left }
:where(.cui-editorTable-cell.view-justify-center) { text-align: center }
:where(.cui-editorTable-cell.view-justify-end) { text-align: right }
:where(.cui-editorTable-cell > p) { margin: 0 }
:where(.cui-editorTable-cell > p + p) { margin-top: 0.5em }

:where(.cui-editorTable-cell.view-headerScope-row),
:where(.cui-editorTable-row.view-headerScope-table .cui-editorTable-cell) {
	font-weight: 700;
	background: rgba(var(--cui-color--rgb-100), var(--cui-opacity--lower));
}

:where(.cui-editorTable-handle:hover > *) {
	transform: scale(1);
}
:where(.cui-editorTable-remove) {
	grid-row: 1/1;
	grid-column: -2/span 1;
	position: relative;
}
:where(.cui-editorTable-remove > .cui-button) {
	position: absolute;
	right: calc(-1 * var(--cui-gap));
	top: calc(-1 * var(--cui-gap));
	transform: translateY(calc(-1 * var(--cui-gutter)));
	transition-duration: var(--cui-transition-duration--immediate);
	transition-property: opacity, visibility, pointer-events, transform;
	visibility: hidden;
}

:where(.cui-editorTable:not(.is-selected):hover .cui-editorTable-remove > .cui-button) {
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
}

:where(.cui-editorTable-lineAddButton) {
	position: absolute;
	pointer-events: none;
}

:where(.cui-editorTable-lineAddButton),
:where(.cui-editorTable-columnControls),
:where(.cui-editorTable-rowControls-after),
:where(.cui-editorTable-rowControls-before),
:where(.cui-editorTable-appendRow),
:where(.cui-editorTable-appendColumn),
:where(.cui-editorTable-handle) {
	transition-property: opacity;
	transition-duration: var(--cui-transition-duration--immediate);
	visibility: hidden;
	opacity: 0;
}

:where(.cui-editorTable-rowLineControls-line-inner:hover .cui-editorTable-lineAddButton),
:where(.cui-editorTable-columnLineControls-line-inner:hover .cui-editorTable-lineAddButton),
:where(.cui-editorTable.is-selected .cui-editorTable-columnControls),
:where(.cui-editorTable.is-selected .cui-editorTable-rowControls-after),
:where(.cui-editorTable.is-selected .cui-editorTable-rowControls-before),
:where(.cui-editorTable.is-selected .cui-editorTable-appendRow),
:where(.cui-editorTable.is-selected .cui-editorTable-appendColumn),
:where(.cui-editorTable.is-selected .cui-editorTable-handle) {
	opacity: 1;
	visibility: visible;
}
