\:root
	--brand-accent-color: #4E4E4E

	--base-text-color: #3E3F42

	--navbar-color: #FFFFFF
	--navbar-background-color: var(--brand-accent-color)

	--side-background-color: #ECF0F5
	--side-border-color: #DCDCDC
