\:root
	--layout-background-color: #ECF0F5

	--navbar-color: #FFFFFF
	--navbar-background-color: #4E4E4E

	--side-background-color: var(--layout-background-color)
	--side-border-color: #DCDCDC

	--menu-link-color: #484848
	--menu-link-active-color: #000000
	--menu-link-active-background-color: #00000012
	--menu-title-color: #00000045

	--box-color: #000000
	--box-background-color: #FFFFFF
	--box-shadow-color: #00000014
