@import './../../node_modules/@mangoweb/sass-base/crucialVariables'
@import './../../node_modules/@mangoweb/sass-base/functions/index'

// Dimensions

$spacings: rem(10px), rem(20px), rem(24px), rem(30px)
$spacing-1: nth($spacings, 1)
$spacing-2: nth($spacings, 2)
$spacing-3: nth($spacings, 3)
$spacing-4: nth($spacings, 4)

$spacing: nth($spacings, 2)
$padding: nth($spacings, 1)

// Font properties
$font-family-sans-serif: Roboto, $font-family-sans-serif-fallback
$font-family-base: $font-family-sans-serif
$font-family-head: $font-family-sans-serif

$font-size-0: rem(12px)
$font-size-1: rem(14px)
$font-size-2: rem(16px)
$font-size-3: rem(18px)
$font-size-4: rem(20px)
$font-size-5: rem(22px)
$font-size-6: rem(26px)
$font-size-7: rem(30px)
$font-size-8: rem(36px)

// Colors
$c-success: #38B249
$c-info: #1665D8
$c-warn: #F6AB2F
$c-danger: #E6492D
$c-alt: #6977FF
$c-accent: #FACF55

$color-pairs: (success, $c-success), (info, $c-info), (warn, $c-warn), (danger, $c-danger), (alt, $c-alt), (accent, $c-accent)

// Links
$c-link: #1665D8
$link-default: $c-link

// Other
$c-text: #3E3F42
$c-text-alt: #6B6C6F
$c-icon: #9EA0A5
$c-text-tertiary: #BCBCBC
$c-text-back: #FFF

// Menu
$menu-title-color: $c-icon
$menu-title-font-size: $font-size-0
$menu-icon-color: $c-text
$menu-link-color: $c-text
$menu-link-padding: $spacing-4

// Layout
$layout-background-color: #FFFFFF
$layout-text-color: $c-text
$layout-navbar-height: 70px
$layout-navbar-link-color: white


$c-login-background: #F9F9F9
