.cui-scroll-view {
  overflow-y: auto;
  overflow-x: hidden;
  border-width: var(--cui-border-width, 1px);
  border-color: transparent;
  transform: translateZ(0px); /* Fixes Safari drawing scroll bar below */
  min-height: 0px;
  min-width: 0px;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}
.cui-scroll-view[data-direction="horizontal"] {
  overflow-y: hidden;
  overflow-x: auto;
  flex-direction: row;
}
.cui-scroll-view[data-scrolled-bottom] {
  border-bottom-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--lower));
}
.cui-scroll-view[data-scrolled-top] {
  border-top-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--lower));
}
.cui-scroll-view[data-scrolled-left] {
  border-left-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--lower));
}
.cui-scroll-view[data-scrolled-right] {
  border-right-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--lower));
}

.cui-scroll-view-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: var(--cui-gutter);
}

:where(.cui-layout-sidebar-body .cui-scroll-view) {
  ----padding-bottom: max(var(--inset-bottom, 0px), var(--cui-padding--panel-vertical));
  ----padding-left: max(var(--inset-left, 0px), var(--cui-padding--panel-horizontal));
  ----padding-right: max(var(--inset-right, 0px), var(--cui-padding--panel-horizontal));
  ----padding-top: max(var(--inset-top, 0px), var(--cui-padding--panel-vertical));
  margin-bottom: calc(-1 * var(----padding-bottom));
  margin-left: calc(-1 * var(----padding-left));
  margin-right: calc(-1 * var(----padding-right));
  margin-top: calc(-1 * var(----padding-top));
}
:where(.cui-layout-sidebar-body .cui-scroll-view-content) {
  padding-bottom: var(----padding-bottom);
  padding-left: var(----padding-left);
  padding-right: var(----padding-right);
  padding-top: var(----padding-top);
}
