.#{$cui-conf-globalPrefix}radio-button
  border-radius: 50%
  border: var(--cui-control-border-width, 1px) solid var(--button-color)
  display: flex
  max-height: var(--radio-size)
  max-width: var(--radio-size)
  min-height: var(--radio-size)
  min-width: var(--radio-size)
  position: relative
  transition-duration: var(--cui-transition-duration--fast),var(--cui-transition-duration--immediate), var(--cui-transition-duration--fast)
  transition-property: box-shadow, border-color, box-shadow
  &.is-focused
    box-shadow: 0 0 0 0.2em var(--cui-control-border-color--highlighted)
  &::after
    background-color: var(--button-color)
    border-radius: inherit
    content: ''
    display: inherit
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    transform: scale(0)
    transition-duration: var(--cui-transition-duration--immediate), var(--cui-transition-duration--fast)
    transition-property: background-color, transform
  &.is-checked::after
    transform: scale(var(--button-knob-scale))
