:where(.cui-table) {
  color: var(--cui-color);
  display: table;
  border-collapse: collapse;
  width: 100%;
  color: var(--cui-color);
  display: table;
  border-collapse: collapse;
  width: 100%;
  color: var(--cui-color);
  display: table;
  border-collapse: collapse;
  width: 100%;
}

:where(.cui-table) {
  --cui-table-spacingX: 0.75em;
  --cui-table-spacingY: 0.75em;
  font-size: 1em;
}

:where(.cui-table.view-small) {
  --cui-table-spacingX: 0.4em;
  --cui-table-spacingY: 0.4em;
  font-size: 0.9em;
}

:where(.cui-table.view-large) {
  --cui-table-spacingX: 1em;
  --cui-table-spacingY: 1em;
  font-size: 1.3em;
}

:where(.cui-table-wrapper) {
  padding-bottom: 1px;
  border-radius: var(--cui-control-border-radius, 0);
  margin: calc(-1 * var(--cui-boxNesting-paddingY, 0)) calc(-1 * var(--cui-boxNesting-paddingX, 0));
  width: calc(100% + 2 * var(--cui-boxNesting-paddingX, 0));
}

:where(.cui-table-row) {
  display: table-row;
}

:where(.cui-table-row:nth-child(even)) {
  background-color: rgba(0, 0, 0, 0.02);
}

:where(.cui-table-row.with-hover:hover),
:where(.cui-table-row.with-hover:hover > .cui-table-cell) {
  color: var(--cui-control-color);
  background-color: var(--cui-toned-control-background-color--highlighted);
  cursor: pointer;
}

:where(.cui-table-row.with-press:active),
:where(.cui-table-row.with-press:active > .cui-table-cell) {
  color: var(--cui-control-color--pressed);
  background-color: var(--cui-toned-control-background-color--pressed);
}

:where(.cui-table-row.is-active) {
  background-color: var(--cui-toned-control-background-color);
  color: var(--cui-control-color--highlighted);
}

:where(.cui-table thead .cui-table-row) {
  background-color: rgba(0, 0, 0, 0.05);
}

:where(.cui-table-cell) {
  display: table-cell;
  white-space: nowrap;
  padding: calc(var(--cui-table-spacingY) / 2) var(--cui-boxNesting-paddingX, var(--cui-table-spacingX));
}

:where(.cui-table-cell th.cui-table-cell) {
  font-weight: 600;
}

:where(.cui-table-cell:not(:first-child)) {
  padding-left: calc(var(--cui-table-spacingX) / 2);
}

:where(.cui-table-cell:not(:last-child)) {
  padding-right: calc(var(--cui-table-spacingX) / 2);
}

:where(.cui-table-cell.view-numeric) {
  font-variant-numeric: tabular-nums;
}

:where(.cui-table-cell.view-shrunk) {
  width: 0.001px;
}

:where(.cui-table-row),
:where(.cui-table-cell) {
  text-align: inherit;
}

:where(.cui-table.view-justifyStart),
:where(.cui-table-row.view-justifyStart),
:where(.cui-table-cell.view-justifyStart) {
  text-align: left;
}

:where(.cui-table.view-justifyCenter),
:where(.cui-table-row.view-justifyCenter),
:where(.cui-table-cell.view-justifyCenter) {
  text-align: center;
}

:where(.cui-table.view-justifyEnd),
:where(.cui-table-row.view-justifyEnd),
:where(.cui-table-cell.view-justifyEnd) {
  text-align: right;
}

:where(.cui-table.view-alignStart),
:where(.cui-table-row.view-alignStart),
:where(.cui-table-cell.view-alignStart) {
  vertical-align: top;
}

:where(.cui-table.view-alignCenter),
:where(.cui-table-row.view-alignCenter),
:where(.cui-table-cell.view-alignCenter) {
  vertical-align: center;
}

:where(.cui-table.view-alignEnd),
:where(.cui-table-row.view-alignEnd),
:where(.cui-table-cell.view-alignEnd) {
  vertical-align: bottom;
}
