:where(.cui-button) {
	--cui-line-height: var(--cui-line-height--controls);
	--cui-button--align-items: center;
	--cui-button--justify-content: center;
	--cui-button--background-color--disabled: rgba(var(--cui-background-color--toned-controls-rgb-75), var(--cui-opacity--lower));
	--cui-button--background-color--highlighted: rgba(var(--cui-background-color--toned-controls-rgb-75), var(--cui-opacity--low));
	--cui-button--background-color--pressed: rgba(var(--cui-background-color--toned-controls-rgb-75), var(--cui-opacity--medium));
	--cui-button--background-color: rgb(var(--cui-background-color--rgb-75));
	--cui-button--border-color--disabled: rgba(var(--cui-color--rgb-50), var(--cui-opacity--lower));
	--cui-button--border-color--highlighted: rgba(var(--cui-color--accent-rgb-50), var(--cui-opacity--medium));
	--cui-button--border-color--pressed: rgb(var(--cui-color--accent-rgb-50));
	--cui-button--border-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--lower));
	--cui-button--border-radius: 0px;
	--cui-button--border-width: var(--cui-border-width, 1px);
	--cui-button--box-shadow--disabled: 0 0 transparent;
	--cui-button--box-shadow--highlighted: var(--cui-button--box-shadow-dark-edge-bottom);
	--cui-button--box-shadow--pressed: 0 0 transparent;
	--cui-button--box-shadow-dark-edge-bottom: inset 0 -2px 0 -1px rgba(var(--cui-theme-content--rgb-0), 0.1);
	--cui-button--box-shadow-dark-edge-top: inset 0 1px 0 1px rgba(var(--cui-theme-content--rgb-0), 0.5);
	--cui-button--box-shadow-shadow-below: 0 0 transparent;
	--cui-button--box-shadow: var(--cui-button--box-shadow-shadow-below), var(--cui-button--box-shadow-dark-edge-bottom);
	--cui-button--color--disabled: rgba(var(--cui-color--accent-rgb-50), var(--cui-opacity--low));
	--cui-button--color--highlighted: rgb(var(--cui-color--accent-rgb-75));
	--cui-button--color--pressed: rgb(var(--cui-color--toned-controls-rgb-100));
	--cui-button--color-rgb: var(--cui-color--accent-rgb-50);
	--cui-button--color: rgb(var(--cui-button--color-rgb));
	--cui-button--height: var(--cui-size--controls);
	--cui-button--inset: 0px;
	--cui-button--inset-horizontal: var(--cui-button--inset);
	--cui-button--inset-vertical: var(--cui-button--inset);
	--cui-button--inset-optical: calc((var(--cui-button--border-radius)) * var(--cui-border-radius-optical-grow));
	--cui-button--inset-optical-horizontal: var(--cui-button--inset-optical);
	--cui-button--inset-optical-vertical: var(--cui-button--inset-optical);
	--cui-button--label-font-size: var(--cui-font-size--label);
	--cui-button--line-height: var(--cui-line-height--controls);
	--cui-button--padding: 0px;
	--cui-button--padding-horizontal: var(--cui-button--padding);
	--cui-button--padding-vertical: var(--cui-button--padding);
	--cui-button--size-horizontal: 1;
	--cui-button--size-vertical: 1;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-color: var(--cui-button--border-color);
	border-radius: var(--cui-button--border-radius);
	border-style: solid;
	border-width: 0px;
	color: rgb(var(--cui-color--accent-rgb-50));
	display: inline-flex;
	font-family: inherit;
	font-size: var(--cui-button--label-font-size);
	font-weight: 600;
	gap: var(--cui-gap);
	line-height: var(--cui-button--line-height);
	margin: 0px;
	outline: none;
	padding: 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	vertical-align: baseline;
}

:where(.cui-button:focus) {
	z-index: 1;
}

:where(.cui-button[data-border-radius]) {
	--cui-button--border-radius: min(var(--cui-button--padding), var(--cui-border-radius--controls));
}
:where(.cui-button[data-border-radius="gap"]) {
	--cui-button--border-radius: min(var(--cui-button--padding), var(--cui-gap));
}
:where(.cui-button[data-border-radius="double"]) {
	--cui-button--border-radius: min(var(--cui-button--padding), var(--cui-double-gap));
}
:where(.cui-button[data-border-radius="gutter"]) {
	--cui-button--border-radius: min(var(--cui-button--padding), var(--cui-gutter));
}
:where(.cui-button[data-border-radius="padding"]) {
	--cui-button--border-radius: min(var(--cui-button--padding), var(--cui-padding));
}
:where(.cui-button[data-border-radius="full"]) {
	--cui-button--border-radius: min(
		var(--cui-button--size-horizontal) * var(--cui-button--padding)
		+ var(--cui-button--border-width)
		+ 1em * var(--cui-button--line-height), 9999px);
}

:where(.cui-button[data-display="block"]) {
	display: flex;
	flex-grow: 1;
}

:where(.cui-button[data-align="start"]) { --cui-button--align-items: start }
:where(.cui-button[data-align="center"]) { --cui-button--align-items: center }
:where(.cui-button[data-align="end"]) { --cui-button--align-items: end }
:where(.cui-button[data-align="stretch"]) { --cui-button--align-items: stretch }

:where(.cui-button[data-justify="start"]) { --cui-button--justify-content: start }
:where(.cui-button[data-justify="center"]) { --cui-button--justify-content: center }
:where(.cui-button[data-justify="end"]) { --cui-button--justify-content: end }
:where(.cui-button[data-justify="space-around"]) { --cui-button--justify-content: space-around }
:where(.cui-button[data-justify="space-between"]) { --cui-button--justify-content: space-between }
:where(.cui-button[data-justify="space-evenly"]) { --cui-button--justify-content: space-evenly }

:where(.cui-button[data-distinction="seamless"]) {
	--cui-button--background-color--highlighted: transparent;
	--cui-button--background-color: transparent;
	--cui-button--box-shadow--highlighted: 0 0 transparent;
	--cui-button--box-shadow: var(--cui-button--box-shadow-shadow-below);
	--cui-button--color-rgb: var(--cui-color--accent-rgb-50);
	--cui-button--border-width: 0px;
	--cui-button--color--highlighted: rgb(var(--cui-color--accent-rgb-75));
}

:where(.cui-button[data-padding]) { --cui-button--padding: calc(2.25 * var(--cui-gap)) }
:where(.cui-button[data-padding="gap"]) { --cui-button--padding: calc(var(--cui-gap)) }
:where(.cui-button[data-padding="double"]) { --cui-button--padding: calc(var(--cui-double-gap)) }
:where(.cui-button[data-padding="gutter"]) { --cui-button--padding: calc(var(--cui-gutter)) }
:where(.cui-button[data-padding="padding"]) { --cui-button--padding: calc(var(--cui-padding)) }

:where(.cui-button[data-inset]) { --cui-button--inset: var(--cui-button--padding) }
:where(.cui-button[data-inset="gap"]) { --cui-button--inset: var(--cui-gap) }
:where(.cui-button[data-inset="double"]) { --cui-button--inset: var(--cui-double-gap) }
:where(.cui-button[data-inset="gutter"]) { --cui-button--inset: var(--cui-gutter) }
:where(.cui-button[data-inset="padding"]) { --cui-button--inset: var(--cui-padding) }

:where(.cui-button[data-size="small"]),
:where(.cui-button-list[data-size="small"] > .cui-button),
:where(.cui-button-group[data-size="small"] > .cui-button) {
	--cui-button--size-horizontal: 0.5;
	--cui-button--size-vertical: 0.5;
}

:where(.cui-button[data-size="large"]),
:where(.cui-button-list[data-size="large"] > .cui-button),
:where(.cui-button-group[data-size="large"] > .cui-button) {
	--cui-button--label-font-size: var(--cui-font-size--body);
	--cui-button--size-horizontal: 2;
	--cui-button--size-vertical: 2;
}

:where(.cui-button[data-distinction="inverse"]) {
	--cui-button--background-color--highlighted: rgb(var(--cui-background-color--controls-inverse-rgb-75));
	--cui-button--background-color--pressed: rgb(var(--cui-background-color--controls-inverse-rgb-100));
	--cui-button--background-color: rgb(var(--cui-background-color--controls-inverse-rgb-50));
	--cui-button--border-color--pressed: rgb(var(--cui-background-color--controls-inverse-rgb-75));
	--cui-button--color--highlighted: rgb(var(--cui-color--controls-inverse-rgb-75));
	--cui-button--color--pressed: rgb(var(--cui-color--controls-inverse-rgb-75));
	--cui-button--color-rgb: var(--cui-color--controls-inverse-rgb-50);
}

:where(.cui-button[data-distinction="primary"]) {
	--cui-button--background-color--highlighted: rgb(var(--cui-background-color--controls-rgb-75));
	--cui-button--background-color--pressed: rgb(var(--cui-background-color--controls-rgb-100));
	--cui-button--background-color: rgb(var(--cui-background-color--controls-rgb-50));
	--cui-button--border-color--pressed: rgb(var(--cui-background-color--controls-rgb-0));
	--cui-button--border-width: 0px;
	--cui-button--color--highlighted: rgb(var(--cui-color--controls-rgb-75));
	--cui-button--color--pressed: rgb(var(--cui-color--controls-rgb-100));
	--cui-button--color-rgb: var(--cui-color--controls-rgb-50);
}

:where(.cui-button[data-distinction="toned"]) {
	--cui-button--background-color--highlighted: rgba(var(--cui-background-color--toned-controls-rgb-50), var(--cui-opacity--low));
	--cui-button--background-color--pressed: rgba(var(--cui-background-color--toned-controls-rgb-50), var(--cui-opacity--medium));
	--cui-button--background-color: rgba(var(--cui-background-color--toned-controls-rgb-50), var(--cui-opacity--lower));
	--cui-button--border-color--pressed: rgb(var(--cui-color--toned-controls-rgb-100));
	--cui-button--border-width: 0px;
	--cui-button--box-shadow--highlighted: 0 0 transparent;
	--cui-button--box-shadow: var(--cui-button--box-shadow-shadow-below);
	--cui-button--color--highlighted: rgb(var(--cui-color--toned-controls-rgb-75));
	--cui-button--color-rgb: var(--cui-color--toned-controls-rgb-50);
}

:where(.cui-button[data-distinction="outlined"]) {
	--cui-button--background-color--disabled: transparent;
	--cui-button--background-color--highlighted: transparent;
	--cui-button--background-color: transparent;
	--cui-button--border-color--highlighted: rgb(var(--cui-color--accent-rgb-75));
	--cui-button--border-color--pressed: rgb(var(--cui-color--accent-rgb-100));
	--cui-button--border-color: rgb(var(--cui-color--accent-rgb-50));
	--cui-button--border-width: var(--cui-border-width--controls, 2px);;
	--cui-button--box-shadow--highlighted: 0 0 transparent;
	--cui-button--color--highlighted: rgb(var(--cui-color--accent-rgb-75));
	--cui-button--color-rgb: var(--cui-color--accent-rgb-50);
}

/* TODO: deprecated since v1.3.0 */
:where(.cui-button[data-bland]) {
	opacity: var(--cui-opacity--high);
}

:where(.cui-button[data-elevated]) {
	--cui-button--box-shadow-shadow-below:
	0 0 1px rgba(var(--cui-button--color-rgb), 0.25),
	0 1px 1em rgba(var(--cui-button--color-rgb), 0.25);
}

:where(.cui-button[data-distinction="primary"][data-elevated]) {
	--cui-button--box-shadow-shadow-below:
	0 0 1px rgba(var(--cui-background-color--controls-rgb-50), 0.25),
	0 1px 1em rgba(var(--cui-background-color--controls-rgb-50), 0.25);
}

:where(.cui-button > .cui-button-content) {
	--cui-button-content--padding-horizontal: calc(
		var(--cui-button--size-horizontal) * (var(--cui-button--padding-horizontal) + var(--cui-button--inset-optical-horizontal))
		- var(--cui-button--border-width)
	);
	--cui-button-content--padding-vertical: calc(
		var(--cui-button--size-vertical) * (var(--cui-button--padding-vertical) + var(--cui-button--inset-optical-vertical))
		- var(--cui-button--border-width)
	);

	--cui-button-content--inset-horizontal: calc(-1 * var(--cui-button--size-horizontal) * (
		var(--cui-button--inset-horizontal) + var(--cui-button--inset-optical-horizontal)
	));
	--cui-button-content--inset-vertical: calc(-1 * var(--cui-button--size-vertical) * (
		var(--cui-button--inset-vertical) + var(--cui-button--inset-optical-vertical)
	));

	align-items: var(--cui-button--align-items);
	background: var(--cui-button--background-color);
	border-color: inherit;
	border-style: inherit;
	border-width: var(--cui-button--border-width);
	box-sizing: content-box;
	box-shadow: var(--cui-button--box-shadow);
	border-radius: inherit;
	color: var(--cui-button--color);
	justify-content: var(--cui-button--justify-content);
	display: flex;
	flex: 1;
	gap: inherit;
	overflow: hidden;
	outline: none;
	margin: var(--cui-button-content--inset-vertical) var(--cui-button-content--inset-horizontal);
	min-width: calc(var(--cui-line-height) * 1em);
	min-height: calc(var(--cui-line-height) * 1em);
	padding: var(--cui-button-content--padding-vertical) var(--cui-button-content--padding-horizontal);
	text-overflow: ellipsis;
	transition-duration: var(--cui-transition-duration--fast);
	transition-property: box-shadow, color, background, opacity, border-color;
	transition-timing-function: ease-in-out;
	vertical-align: middle;
	white-space: nowrap;
}

:where(.cui-button[data-square] > .cui-button-content) {
	max-width: calc(var(--cui-line-height) * 1em);
	max-height: calc(var(--cui-line-height) * 1em);
}

:where(.cui-button:not([disabled]):hover > .cui-button-content) {
	background: var(--cui-button--background-color--highlighted);
	border-color: var(--cui-button--border-color--highlighted);
	box-shadow: var(--cui-button--box-shadow--highlighted);
	color: var(--cui-button--color--highlighted);
}

:where(.cui-button:active:not([disabled]) > .cui-button-content),
:where(.cui-button[data-active]:not([disabled]) > .cui-button-content) {
	background: var(--cui-button--background-color--pressed);
	border-color: var(--cui-button--border-color--pressed);
	box-shadow: var(--cui-button--box-shadow--pressed);
	color: var(--cui-button--color--pressed);
}

:where(.cui-button:focus:focus-visible:not([disabled]) > .cui-button-content) {
	background: var(--cui-button--background-color--highlighted);
	box-shadow: var(--cui-button--box-shadow--highlighted);
	color: var(--cui-button--color--highlighted);
}

:where(.cui-button[data-focus-ring]:focus:focus-visible:not([disabled]) > .cui-button-content) {
	box-shadow: var(--cui-button--box-shadow--highlighted), var(--cui-box-shadow--controls-focus-ring);
}

:where(.cui-button[data-focus-ring]:active:focus:focus-visible > .cui-button-content),
:where(.cui-button[data-focus-ring][data-active]:focus:focus-visible > .cui-button-content) {
	box-shadow: var(--cui-button--box-shadow--pressed), var(--cui-box-shadow--controls-focus-ring);
}

:where(.cui-button-list),
:where(.cui-button-group) {
	--cui-view--inset: 0px;
	align-items: center;
	display: inline-flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--cui-view--inset, 0px));
	position: relative;
}

:where(.cui-button-list) {
	--cui-button-list--gap: 0px;
	gap: var(--cui-button-list--gap);
}
:where(.cui-button-list[data-gap]) { --cui-button-list--gap: var(--cui-gap) }
:where(.cui-button-list[data-gap="gap"]) { --cui-button-list--gap: var(--cui-gap) }
:where(.cui-button-list[data-gap="double"]) { --cui-button-list--gap: var(--cui-double-gap) }
:where(.cui-button-list[data-gap="gutter"]) { --cui-button-list--gap: var(--cui-gutter) }
:where(.cui-button-list[data-gap="padding"]) { --cui-button-list--gap: var(--cui-padding) }
:where(.cui-button-list[data-gap="large"]) { --cui-button-list--gap: calc(1.5 * var(--cui-padding)) }
:where(.cui-button-list[data-gap="larger"]) { --cui-button-list--gap: calc(3 * var(--cui-padding)) }

:where(.cui-button-list[data-display="block"]),
:where(.cui-button-group[data-display="block"]) {
	display: flex;
	flex-grow: 1;
}

:where(.cui-button-list[data-direction="vertical"]),
:where(.cui-button-group[data-direction="vertical"]) {
	align-items: stretch;
	flex-direction: column;
}

:where(.cui-button-group > .cui-button) {
	--cui-button--inset-optical: 0px;
}

:where(.cui-button-group > .cui-button[data-inset]) {
	--cui-button--inset: 0px;
}
:where(.cui-button-group > .cui-button[data-distinction="outlined"]) {
	--cui-button--border-color--disabled: rgb(var(--cui-color--accent-rgb-50));
	--cui-button--border-color--pressed: rgb(var(--cui-color--accent-rgb-50));
}
:where(.cui-button-group > .cui-button[data-distinction="default"]) {
	--cui-button--box-shadow--disabled: var(--cui-button--box-shadow-shadow-below), var(--cui-button--box-shadow-dark-edge-bottom);
}
:where(.cui-button-group > .cui-button[data-distinction="primary"]) {
	--cui-button--background-color--disabled: rgb(var(--cui-background-color--controls-rgb-75));
	--cui-button--color--disabled: rgba(var(--cui-color--controls-rgb-100), var(--cui-opacity--low));
}

/* TODO: Should be removed with deprecated code */
:where(.cui-button-group.view-isTopToolbar > *) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

:where(.cui-button-group[data-direction="horizontal"] > :not(:first-child):not(:last-child)) {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

:where(.cui-button-group[data-direction="horizontal"] > :first-child:not(:last-child)) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

:where(.cui-button-group[data-direction="horizontal"] > :last-child:not(:first-child)) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

:where(.cui-button-group[data-direction="vertical"] > :not(:first-child):not(:last-child)) {
	border-top: none;
	border-bottom: none;
	border-radius: 0;
}

:where(.cui-button-group[data-direction="vertical"] > :first-child:not(:last-child)) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
}

:where(.cui-button-group[data-direction="vertical"] > :last-child:not(:first-child)) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}

:where(.cui-button-group[data-border-radius]) { border-radius: var(--cui-border-radius--controls) }
:where(.cui-button-group[data-border-radius="gap"]) { border-radius: calc(var(--cui-gap)) }
:where(.cui-button-group[data-border-radius="double"]) { border-radius: calc(var(--cui-double-gap)) }
:where(.cui-button-group[data-border-radius="gutter"]) { border-radius: calc(var(--cui-gutter)) }
:where(.cui-button-group[data-border-radius="padding"]) { border-radius: calc(var(--cui-padding)) }

:where(.cui-button-group[data-inset="border"]),
:where(.cui-button-list[data-inset="border"]) { --cui-view--inset: var(--cui-border-width) }
:where(.cui-button-group[data-inset="gap"]),
:where(.cui-button-list[data-inset="gap"]) { --cui-view--inset: var(--cui-gap) }
:where(.cui-button-group[data-inset="double"]),
:where(.cui-button-list[data-inset="double"]) { --cui-view--inset: var(--cui-double-gap) }
:where(.cui-button-group[data-inset="gutter"]),
:where(.cui-button-list[data-inset="gutter"]) { --cui-view--inset: var(--cui-gutter) }
:where(.cui-button-group[data-inset="padding"]),
:where(.cui-button-list[data-inset="padding"]) { --cui-view--inset: var(--cui-padding) }

:where(.cui-button-group[data-focus-ring]:focus-within) {
	box-shadow: var(--cui-box-shadow--controls-focus-ring);
	z-index: 1;
}

:where(.cui-button[disabled]) {
	--cui-button--background-color--highlighted: var(--cui-button--background-color--disabled);
	--cui-button--background-color--pressed: var(--cui-button--background-color--disabled);
	--cui-button--background-color: var(--cui-button--background-color--disabled);
	--cui-button--border-color: var(--cui-button--border-color--disabled);
	--cui-button--box-shadow--highlighted: none;
	--cui-button--box-shadow-pressed: none;
	--cui-button--box-shadow: var(--cui-button--box-shadow--disabled);
	--cui-button--color--highlighted: var(--cui-button--color--disabled);
	--cui-button--color--pressed: var(--cui-button--color--disabled);
	--cui-button--color: var(--cui-button--color--disabled);
	cursor: not-allowed;
	opacity: 1;
}
