:where(.cui-button) {
	--cui-button-box-shadow-light-edge: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	--cui-button-box-shadow-dark-edge-bottom: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.1);
	--cui-button-box-shadow-dark-edge-top: inset 0 1px 0 1px rgba(0, 0, 0, 0.025);
	--cui-button-box-shadow-shadow-below: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 0.5em rgba(0, 0, 0, 0.1);
	--cui-button-box-shadow-highlighted: inset 0 -0.5em 2em -1em rgba(0, 0, 0, 0.1);
	--cui-button-box-shadow-pressed: inset 0 0 1px rgba(0, 0, 0, 0.1);
	--cui-button-box-shadow: var(--cui-button-box-shadow-shadow-below), var(--cui-button-box-shadow-light-edge), var(--cui-button-box-shadow-dark-edge-bottom);
	--cui-button-box-shadow--highlighted: var(--cui-button-box-shadow-shadow-below), var(--cui-button-box-shadow-highlighted), var(--cui-button-box-shadow-light-edge), var(--cui-button-box-shadow-dark-edge-bottom);
	--cui-button-box-shadow--pressed: var(--cui-button-box-shadow-dark-edge-top), var(--cui-button-box-shadow-pressed), var(--cui-button-box-shadow-light-edge);
	--cui-button-color: var(--cui-filled-control-color);
	--cui-button-color--highlighted: var(--cui-filled-control-color--highlighted);
	--cui-button-color--disabled: var(--cui-color--medium);
	--cui-button-color--pressed: var(--cui-filled-control-color--pressed);
	--cui-button-background-color: var(--cui-filled-background-color);
	--cui-button-background-color--highlighted: var(--cui-filled-background-color--highlighted);
	--cui-button-background-color--pressed: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)), var(--cui-filled-control-background-color--pressed);
	--cui-button-background-color--disabled: var(--cui-toned-control-background-color);
	--cui-button-border-color: rgba(0, 0, 0, 0);
	--cui-button-border-color--highlighted: rgba(0, 0, 0, 0);
	--cui-button-border-color--pressed: rgba(0, 0, 0, 0);
	--cui-button-border-width: 0px;
	--cui-button-label-font-size: var(--cui-font-size-label);
	--cui-button-height: var(--cui-control-height);
	--cui-button-line-height: 1em;
	--cui-button-padding-horizontal: calc(4 * var(--cui-gap));
	align-items: center;
	background: var(--cui-button-background-color);
	border-color: var(--cui-button-border-color);
	border-radius: var(--cui-control-border-radius);
	border-style: solid;
	border-width: var(--cui-button-border-width);
	box-shadow: var(--cui-button-box-shadow);
	color: var(--cui-button-color);
	display: inline-flex;
	font-family: inherit;
	font-size: unset;
	font-weight: 600;
	height: var(--cui-button-height);
	overflow: hidden;
	padding-left: var(--cui-button-padding-horizontal);
	padding-right: var(--cui-button-padding-horizontal);
	position: relative;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--cui-transition-duration--fast);
	transition-property: box-shadow, color, background, opacity, border-color;
	user-select: none;
}

:where(.cui-button:focus) {
	color: var(--cui-button-color--highlighted);
	background: var(--cui-button-background-color--highlighted);
	border-color: var(--cui-button-border-color--highlighted);
	box-shadow: var(--cui-button-box-shadow--highlighted), var(--cui-control-focus-ring-box-shadow);
}

:where(.cui-button:focus:not(:focus-visible)) {
	box-shadow: var(--cui-button-box-shadow--highlighted);
}

:where(.cui-button:hover) {
	color: var(--cui-button-color--highlighted);
	background: var(--cui-button-background-color--highlighted);
	border-color: var(--cui-button-border-color--highlighted);
	box-shadow: var(--cui-button-box-shadow--highlighted);
}

:where(.cui-button:active),
:where(.cui-button.is-active) {
	color: var(--cui-button-color--pressed);
	background: var(--cui-button-background-color--pressed);
	border-color: var(--cui-button-border-color--pressed);
	box-shadow: var(--cui-button-box-shadow--pressed);
}

:where(.cui-button.view-small),
:where(.cui-button-list.view-small .cui-button),
:where(.cui-button-group.view-small .cui-button) {
	--cui-button-height: var(--cui-control-height--small);
}

:where(.cui-button.view-large),
:where(.cui-button-list.view-large .cui-button),
:where(.cui-button-group.view-large .cui-button) {
	--cui-button-label-font-size: var(--cui-font-size-body);
	--cui-button-height: var(--cui-control-height--large);
	--cui-button-padding-horizontal: calc(var(--cui-gap) * 7 - var(--cui-control-border-width, 1px));
}

:where(.cui-button.view-block),
:where(.cui-button.view-generousBlock) {
	display: flex;
	width: 100%;
}

:where(.cui-button.view-circular) {
	border-radius: 50%;
}

:where(.cui-button.view-squarish),
:where(.cui-button.view-circular) {
	overflow: hidden;
	padding: 0;
}

:where(.cui-button.view-justifyStart) {
	justify-content: start;
}

:where(.cui-button.view-justifyCenter) {
	justify-content: center;
}

:where(.cui-button.view-justifyEnd) {
	justify-content: end;
}

:where(.cui-button.view-squarish) {
	height: var(--cui-button-height);
	min-height: var(--cui-button-height);
	min-width: var(--cui-button-height);
	width: var(--cui-button-height);
}

:where(.cui-button.view-circular) {
	--cui-circular-button-extra-optical-size: calc(var(--cui-button-height) * 0.5641895835477563 - var(--cui-button-height) / 2);
	height: calc(var(--cui-button-height) + 2 * var(--cui-circular-button-extra-optical-size));
	margin: calc(-1 * var(--cui-circular-button-extra-optical-size));
	min-height: calc(var(--cui-button-height) + 2 * var(--cui-circular-button-extra-optical-size));
	min-width: calc(var(--cui-button-height) + 2 * var(--cui-circular-button-extra-optical-size));
	width: calc(var(--cui-button-height) + 2 * var(--cui-circular-button-extra-optical-size));
}

:where(.cui-button.view-generous),
:where(.cui-button.view-generousBlock) {
	--cui-button-padding-horizontal: calc(var(--cui-gap) * 11 - var(--cui-control-border-width, 1px));
}

:where(.cui-button.view-seamless) {
	--cui-button-background-color: transparent;
	--cui-button-background-color--highlighted: var(--cui-control-background-color--highlighted);
	--cui-button-background-color--pressed: var(--cui-control-background-color--pressed);
	--cui-button-box-shadow--highlighted: 0 0 transparent;
	--cui-button-box-shadow: 0 0 transparent;
	--cui-button-color: var(--cui-control-color);
	--cui-button-color--highlighted: var(--cui-control-color--highlighted);
	--cui-button-color--pressed: var(--cui-control-color--pressed);
	position: relative;
}

:where(.cui-button.view-seamless:not(.view-generousBlock):not(.view-squarish):not(.view-circular)) {
	--cui-button-height: auto;
	--cui-button-padding-horizontal: calc(var(--cui-gap) - var(--cui-control-border-width, 1px));
}

:where(.cui-button.view-primary) {
	--cui-button-color: var(--cui-filled-primary-control-color);
	--cui-button-color--highlighted: var(--cui-filled-primary-control-color--highlighted);
	--cui-button-color--pressed: var(--cui-filled-primary-control-color--pressed);
	--cui-button-background-color: var(--cui-filled-primary-control-background-color);
	--cui-button-background-color--highlighted: var(--cui-filled-primary-control-background-color--highlighted);
	--cui-button-background-color--pressed: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)), var(--cui-filled-primary-control-background-color--pressed);
}

:where(.cui-button.view-toned) {
	--cui-button-background-color: var(--cui-toned-control-background-color);
	--cui-button-background-color--highlighted: var(--cui-toned-control-background-color--highlighted);
	--cui-button-color: var(--cui-toned-control-color);
	--cui-button-color--highlighted: var(--cui-toned-control-color--highlighted);
	--cui-button-color--pressed: var(--cui-toned-control-color--pressed);
}

:where(.cui-button.view-outlined) {
	--cui-button-background-color: transparent;
	--cui-button-background-color--highlighted: var(--cui-control-background-color--highlighted);
	--cui-button-border-color: var(--cui-control-border-color);
	--cui-button-border--highlighted: var(--cui-control-border-color--highlighted);
	--cui-button-border-width: 1px;
	--cui-button-border-color: var(--cui-control-border-color);
	--cui-button-border-color--highlighted: var(--cui-control-border-color--highlighted);
	--cui-button-box-shadow: none;
	--cui-button-box-shadow--highlighted: none;
	--cui-button-color: var(--cui-control-color);
}

:where(.cui-button[disabled]) {
	--cui-button-background-color--highlighted: var(--cui-button-background-color--disabled);
	--cui-button-background-color--pressed: var(--cui-button-background-color--disabled);
	--cui-button-background-color: var(--cui-button-background-color--disabled);
	--cui-button-border-color: rgba(0,0,0,0);
	--cui-button-box-shadow--highlighted: none;
	--cui-button-box-shadow-pressed: none;
	--cui-button-box-shadow: none;
	--cui-button-color--highlighted: var(--cui-button-color--disabled);
	--cui-button-color--pressed: var(--cui-button-color--disabled);
	--cui-button-color: var(--cui-button-color--disabled);
	cursor: not-allowed;
}

:where(.cui-button[disabled].view-seamless) {
	--cui-button-background-color: transparent;
}

:where(.cui-button.view-bland .cui-button-content) {
	opacity: var(--cui-opacity--high);
}

:where(.cui-button.view-justifyStart) {
	justify-content: start;
	text-align: start;
}

:where(.cui-button.view-justifyEnd) {
	justify-content: end;
	text-align: end;
}

:where(.cui-button.elevation-none) {
	--cui-button-box-shadow-shadow-below: 0 0 transparent;
	--cui-button-box-shadow-dark-edge-top: 0 0 transparent;
	--cui-button-box-shadow-dark-edge-bottom: 0 0 transparent;
}

:where(.cui-button.elevation-none:not(.view-outlined):not(.view-seamless):not(.view-primary):not(.view-toned)) {
	--cui-button-border-color: var(--cui-color--lower);
	--cui-button-border-width: var(--cui-control-border-width, 1px);
}

:where(.cui-button.elevation-none:not(.view-outlined):not(.view-seamless):not(.view-primary):not(.view-toned):hover) {
	--cui-button-border-color--highlighted: var(--cui-color--low);
}

:where(.cui-button-content) {
	font-size: var(--cui-button-label-font-size);
	flex: 1;
	line-height: var(--cui-button-line-height);
	padding-bottom: calc(var(--cui-gap) - var(--cui-control-border-width, 1px));
	padding-top: calc(var(--cui-gap) - var(--cui-control-border-width, 1px));
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

:where(.cui-button-list) {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	margin: -0.25em -0.25em;
}

:where(.cui-button-list .cui-button) {
	margin: 0.25em 0.25em;
}

:where(.cui-button-list.view-block) {
	display: flex;
}

:where(.cui-button-list.view-vertical) {
	align-items: stretch;
	flex-direction: column;
}

:where(.cui-button-list.view-vertical.view-block) {
	width: 100%;
}

:where(.cui-button-group) {
	display: inline-flex;
	flex-wrap: wrap;
}

:where(.cui-button-group.view-vertical) {
	flex-direction: column;
}

:where(.cui-button-group.view-block) {
	width: 100%;
}

:where(.cui-button-group.view-isTopToolbar .cui-button) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

:where(.cui-button-group .cui-button:focus) {
	z-index: 1;
}

:where(.cui-button-group:not(.view-vertical) .cui-button:not(:first-child):not(:last-child)) {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

:where(.cui-button-group:not(.view-vertical) .cui-button:first-child:not(.cui-button-group-last)),
:where(.cui-button-group:not(.view-vertical) .cui-button-group-first) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

:where(.cui-button-group:not(.view-vertical) .cui-button:last-child:not(.cui-button-group-first)),
:where(.cui-button-group:not(.view-vertical) .cui-button-group-last) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

:where(.cui-button-group.view-vertical .cui-button:not(:first-child):not(:last-child)) {
	border-top: none;
	border-bottom: none;
	border-radius: 0;
}

:where(.cui-button-group.view-vertical .cui-button:first-child:not(.cui-button-group-last)),
:where(.cui-button-group.view-vertical .cui-button-group-first) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
}

:where(.cui-button-group.view-vertical .cui-button:last-child:not(.cui-button-group-first)),
:where(.cui-button-group.view-vertical .cui-button-group-last) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}

:where(button.cui-button),
:where([type=button].cui-button) {
	background: var(--cui-button-background-color);
}

:where(button.cui-button:focus),
:where([type=button].cui-button:focus) {
	background: var(--cui-button-background-color--highlighted);
}

:where(button.cui-button:hover),
:where([type=button].cui-button:hover) {
	background: var(--cui-button-background-color--highlighted);
}

:where(button.cui-button:active),
:where(button.cui-button.is-active),
:where([type=button].cui-button:active),
:where([type=button].cui-button.is-active) {
	background: var(--cui-button-background-color--pressed);
}
