:where(.cui-button) {
	--cui-button-background-color--disabled: rgba(var(--cui-background-color-toned-controls-rgb-75), var(--cui-opacity--lower));
	--cui-button-background-color--highlighted: rgba(var(--cui-background-color-toned-controls-rgb-75), var(--cui-opacity--low));
	--cui-button-background-color--pressed: rgba(var(--cui-background-color-toned-controls-rgb-75), var(--cui-opacity--medium));
	--cui-button-background-color: rgb(var(--cui-background-color-rgb-75));
	--cui-button-border-color--disabled: rgba(var(--cui-color-rgb-50), var(--cui-opacity--lower));
	--cui-button-border-color--highlighted: rgba(var(--cui-color-accent-rgb-50), var(--cui-opacity--medium));
	--cui-button-border-color--pressed: rgb(var(--cui-color-accent-rgb-50));
	--cui-button-border-color: rgba(var(--cui-color-rgb-50), var(--cui-opacity--lower));
	--cui-button-border-radius: 0px;
	--cui-button-border-width: var(--cui-border-width, 1px);
	--cui-button-box-shadow--disabled: 0 0 transparent;
	--cui-button-box-shadow--highlighted: var(--cui-button-box-shadow-dark-edge-bottom);
	--cui-button-box-shadow--pressed: 0 0 transparent;
	--cui-button-box-shadow-dark-edge-bottom: inset 0 -2px 0 -1px rgba(var(--cui-theme-content-rgb-0), 0.1);
	--cui-button-box-shadow-dark-edge-top: inset 0 1px 0 1px rgba(var(--cui-theme-content-rgb-0), 0.5);
	--cui-button-box-shadow-shadow-below: 0 0 transparent;
	--cui-button-box-shadow: var(--cui-button-box-shadow-shadow-below), var(--cui-button-box-shadow-dark-edge-bottom);
	--cui-button-color--disabled: rgba(var(--cui-color-accent-rgb-50), var(--cui-opacity--low));
	--cui-button-color--highlighted: rgb(var(--cui-color-accent-rgb-75));
	--cui-button-color--pressed: rgb(var(--cui-color-toned-controls-rgb-100));
	--cui-button-color-rgb: var(--cui-color-accent-rgb-50);
	--cui-button-color: rgb(var(--cui-button-color-rgb));
	--cui-button-gap: var(--cui-gap);
	--cui-button-height: var(--cui-size-controls);
	--cui-button-inset: 0px;
	--cui-button-inset-horizontal: var(--cui-button-inset);
	--cui-button-inset-vertical: var(--cui-button-inset);
	--cui-button-optical-size: 0px;
	--cui-button-label-font-size: var(--cui-font-size-label);
	--cui-button-line-height: var(--cui-line-height-controls);
	--cui-button-padding: 0px;
	--cui-button-padding-horizontal: var(--cui-button-padding);
	--cui-button-padding-vertical: var(--cui-button-padding);
	--cui-button-size-horizontal: 1;
	--cui-button-size-vertical: 1;
	align-items: stretch;
	background: var(--cui-button-background-color);
	border-color: var(--cui-button-border-color);
	border-radius: var(--cui-button-border-radius);
	border-style: solid;
	border-width: var(--cui-button-border-width);
	box-shadow: var(--cui-button-box-shadow);
	color: var(--cui-button-color);
	display: inline-flex;
	font-family: inherit;
	font-size: unset;
	font-weight: 600;
	min-height: var(--cui-button-height);
	margin:
		calc(-1 * var(--cui-button-inset-vertical) - 1 * var(--cui-button-optical-size))
		calc(-1 * var(--cui-button-inset-horizontal) - 1 * var(--cui-button-optical-size));
	padding: 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--cui-transition-duration-fast);
	transition-property: box-shadow, color, background, opacity, border-color;
	transition-timing-function: ease-in-out;
	user-select: none;
	vertical-align: baseline;
}

:where(.cui-button[data-square]) {
	--cui-button-optical-grow: 0;
	--cui-button-size-square: calc(1em + var(--cui-button-border-width) + 2 * var(--cui-button-padding));
	--cui-button-optical-size: calc(var(--cui-button-size-square) * var(--cui-button-optical-grow));
	height: calc(var(--cui-button-size-square) + 2 * var(--cui-button-optical-size));
	min-height: calc(var(--cui-button-size-square) + 2 * var(--cui-button-optical-size));
	min-width: calc(var(--cui-button-size-square) + 2 * var(--cui-button-optical-size));
	width: calc(var(--cui-button-size-square) + 2 * var(--cui-button-optical-size));
}

:where(.cui-button[data-border-radius]) { --cui-button-border-radius: var(--cui-border-radius-controls) }
:where(.cui-button[data-border-radius="gap"]) { --cui-button-border-radius: var(--cui-gap) }
:where(.cui-button[data-border-radius="gutter"]) { --cui-button-border-radius: var(--cui-gutter) }
:where(.cui-button[data-border-radius="padding"]) { --cui-button-border-radius: var(--cui-padding) }
:where(.cui-button[data-border-radius="full"]) {
	--cui-button-optical-grow: var(--cui-circle-optical-grow);
	border-radius: 50%;
}

:where(.cui-button[data-display="block"]) {
	--cui-button-inset-horizontal: 0px;
	display: flex;
	flex-grow: 1;
}

:where(.cui-button[data-align="start"]) { align-items: start }
:where(.cui-button[data-align="center"]) { align-items: center }
:where(.cui-button[data-align="end"]) { align-items: end }
:where(.cui-button[data-align="stretch"]) { align-items: stretch }

:where(.cui-button[data-justify="start"]) { justify-content: start }
:where(.cui-button[data-justify="center"]) { justify-content: center }
:where(.cui-button[data-justify="end"]) { justify-content: end }
:where(.cui-button[data-justify="space-around"]) { justify-content: space-around }
:where(.cui-button[data-justify="space-between"]) { justify-content: space-between }
:where(.cui-button[data-justify="space-evenly"]) { justify-content: space-evenly }

:where(.cui-button[data-distinction="seamless"]) {
	--cui-button-background-color--highlighted: transparent;
	--cui-button-background-color: transparent;
	--cui-button-box-shadow--highlighted: 0 0 transparent;
	--cui-button-box-shadow: var(--cui-button-box-shadow-shadow-below);
	--cui-button-color-rgb: var(--cui-color-accent-rgb-50);
	--cui-button-border-width: 0px;
	--cui-button-color--highlighted: rgb(var(--cui-color-accent-rgb-75));
	align-items: stretch;
	background: transparent;
	position: relative;
}

:where(.cui-button[data-padding]) { --cui-button-padding: calc(2.75 * var(--cui-button-gap) - var(--cui-border-width, 1px)) }
:where(.cui-button[data-padding="gap"]) { --cui-button-padding: calc(var(--cui-button-gap) - var(--cui-border-width, 1px)) }
:where(.cui-button[data-padding="gutter"]) { --cui-button-padding: calc(var(--cui-gutter) - var(--cui-border-width, 1px)) }
:where(.cui-button[data-padding="padding"]) { --cui-button-padding: calc(var(--cui-padding) - var(--cui-border-width, 1px)) }

:where(.cui-button[data-inset]) { --cui-button-inset: var(--cui-button-padding) }
:where(.cui-button[data-inset="gap"]) { --cui-button-inset: calc(var(--cui-button-gap) - var(--cui-border-width, 1px)) }
:where(.cui-button[data-inset="gutter"]) { --cui-button-inset: calc(var(--cui-gutter) - var(--cui-border-width, 1px)) }
:where(.cui-button[data-inset="padding"]) { --cui-button-inset: calc(var(--cui-padding) - var(--cui-border-width, 1px)) }

:where(.cui-button[data-size="small"]),
:where(.cui-button-list[data-size="small"] .cui-button),
:where(.cui-button-group[data-size="small"] .cui-button) {
	--cui-button-size-horizontal: 0.5;
	--cui-button-size-vertical: 0.5;
}

:where(.cui-button[data-size="large"]),
:where(.cui-button-list[data-size="large"] .cui-button),
:where(.cui-button-group[data-size="large"] .cui-button) {
	--cui-button-label-font-size: var(--cui-font-size-body);
	--cui-button-size-horizontal: 2;
}

:where(.cui-button[data-distinction="inverse"]) {
	--cui-button-background-color--highlighted: rgb(var(--cui-background-color-controls-inverse-rgb-75));
	--cui-button-background-color--pressed: rgb(var(--cui-background-color-controls-inverse-rgb-100));
	--cui-button-background-color: rgb(var(--cui-background-color-controls-inverse-rgb-50));
	--cui-button-border-color--pressed: rgb(var(--cui-background-color-controls-inverse-rgb-75));
	--cui-button-color--highlighted: rgb(var(--cui-color-controls-inverse-rgb-75));
	--cui-button-color--pressed: rgb(var(--cui-color-controls-inverse-rgb-75));
	--cui-button-color-rgb: var(--cui-color-controls-inverse-rgb-50);
}

:where(.cui-button[data-distinction="primary"]) {
	--cui-button-background-color--highlighted: rgb(var(--cui-background-color-controls-rgb-75));
	--cui-button-background-color--pressed: rgb(var(--cui-background-color-controls-rgb-100));
	--cui-button-background-color: rgb(var(--cui-background-color-controls-rgb-50));
	--cui-button-border-color--pressed: rgb(var(--cui-background-color-controls-rgb-0));
	--cui-button-color--highlighted: rgb(var(--cui-color-controls-rgb-75));
	--cui-button-color--pressed: rgb(var(--cui-color-controls-rgb-100));
	--cui-button-color-rgb: var(--cui-color-controls-rgb-50);
}

:where(.cui-button[data-distinction="toned"]) {
	--cui-button-background-color--highlighted: rgba(var(--cui-background-color-toned-controls-rgb-50), var(--cui-opacity--low));
	--cui-button-background-color--pressed: rgba(var(--cui-background-color-toned-controls-rgb-50), var(--cui-opacity--medium));
	--cui-button-background-color: rgba(var(--cui-background-color-toned-controls-rgb-50), var(--cui-opacity--lower));
	--cui-button-border-color--pressed: rgb(var(--cui-color-toned-controls-rgb-100));
	--cui-button-border-width: 0px;
	--cui-button-box-shadow--highlighted: 0 0 transparent;
	--cui-button-box-shadow: var(--cui-button-box-shadow-shadow-below);
	--cui-button-color--highlighted: rgb(var(--cui-color-toned-controls-rgb-75));
	--cui-button-color-rgb: var(--cui-color-toned-controls-rgb-50);
}

:where(.cui-button[data-distinction="outlined"]) {
	--cui-button-background-color--disabled: transparent;
	--cui-button-background-color--highlighted: transparent;
	--cui-button-background-color: transparent;
	--cui-button-border-color--highlighted: rgb(var(--cui-color-accent-rgb-75));
	--cui-button-border-color--pressed: rgb(var(--cui-color-accent-rgb-100));
	--cui-button-border-color: rgb(var(--cui-color-accent-rgb-50));
	--cui-button-border-width: var(--cui-border-width-controls, 2px);;
	--cui-button-box-shadow--highlighted: 0 0 transparent;
	--cui-button-color--highlighted: rgb(var(--cui-color-accent-rgb-75));
	--cui-button-color-rgb: var(--cui-color-accent-rgb-50);
}

/* TODO: deprecated since v1.3.0 */
:where(.cui-button[data-bland] .cui-button-content) {
	opacity: var(--cui-opacity--high);
}

:where(.cui-button[data-elevated]) {
	--cui-button-box-shadow-shadow-below:
		0 0 1px rgba(var(--cui-button-color-rgb), 0.25),
		0 1px 1em rgba(var(--cui-button-color-rgb), 0.25);
}

:where(.cui-button[data-distinction="primary"][data-elevated]) {
	--cui-button-box-shadow-shadow-below:
		0 0 1px rgba(var(--cui-background-color-controls-rgb-50), 0.25),
		0 1px 1em rgba(var(--cui-background-color-controls-rgb-50), 0.25);
}

:where(.cui-button-content) {
	align-items: center;
	border-radius: inherit;
	justify-content: inherit;
	display: flex;
	flex: 1;
	gap: inherit;
	font-size: var(--cui-button-label-font-size);
	line-height: var(--cui-button-line-height);
	overflow: hidden;
	padding:
		calc(var(--cui-button-size-vertical) * var(--cui-button-padding-vertical))
		calc(var(--cui-button-size-horizontal) * var(--cui-button-padding-horizontal));
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

:where(.cui-button-list),
:where(.cui-button-group) {
	align-items: center;
	display: inline-flex;
	flex-wrap: wrap;
}

:where(.cui-button-list) {
	--cui-button-list-gap: 0px;
	gap: var(--cui-button-list-gap);
}
:where(.cui-button-list[data-gap]) { --cui-button-list-gap: var(--cui-gap) }
:where(.cui-button-list[data-gap="gap"]) { --cui-button-list-gap: var(--cui-gap) }
:where(.cui-button-list[data-gap="gutter"]) { --cui-button-list-gap: var(--cui-gutter) }
:where(.cui-button-list[data-gap="padding"]) { --cui-button-list-gap: var(--cui-padding) }
:where(.cui-button-list[data-gap="large"]) { --cui-button-list-gap: calc(1.5 * var(--cui-padding)) }
:where(.cui-button-list[data-gap="larger"]) { --cui-button-list-gap: calc(3 * var(--cui-padding)) }

:where(.cui-button-group .cui-button[data-border-radius]) {
	--cui-button-optical-grow: 0;
}

:where(.cui-button-list[data-display="block"]),
:where(.cui-button-group[data-display="block"]) {
	--cui-button-inset-horizontal: 0px;
	display: flex;
	flex-grow: 1;
}

:where(.cui-button-list[data-orientation="vertical"]),
:where(.cui-button-group[data-orientation="vertical"]) {
	align-items: stretch;
	flex-direction: column;
}

:where(.cui-button-group > .cui-button[data-distinction="outlined"]) {
	--cui-button-border-color--disabled: rgb(var(--cui-color-accent-rgb-50));
}
:where(.cui-button-group > .cui-button[data-distinction="default"]) {
	--cui-button-box-shadow--disabled: var(--cui-button-box-shadow-shadow-below), var(--cui-button-box-shadow-dark-edge-bottom);
}
:where(.cui-button-group > .cui-button[data-distinction="primary"]) {
	--cui-button-background-color--disabled: rgb(var(--cui-background-color-controls-rgb-75));
	--cui-button-color--disabled: rgba(var(--cui-color-controls-rgb-100), var(--cui-opacity--low));
}

:where(.cui-button-group.view-isTopToolbar .cui-button) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button:not(:first-child):not(:last-child)) {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button:first-child:not(.cui-button-group-last)),
:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button-group-first) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button:last-child:not(.cui-button-group-first)),
:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button-group-last) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

:where(.cui-button-group[data-orientation="vertical"] .cui-button:not(:first-child):not(:last-child)) {
	border-top: none;
	border-bottom: none;
	border-radius: 0;
}

:where(.cui-button-group[data-orientation="vertical"] .cui-button:first-child:not(.cui-button-group-last)),
:where(.cui-button-group[data-orientation="vertical"] .cui-button-group-first) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
}

:where(.cui-button-group[data-orientation="vertical"] .cui-button:last-child:not(.cui-button-group-first)),
:where(.cui-button-group[data-orientation="vertical"] .cui-button-group-last) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}

:where(button.cui-button:focus:focus-visible),
:where([type=button].cui-button:focus:focus-visible) {
	outline: 2px solid;
}

:where(.cui-button:focus:not(:focus-visible)) {
	box-shadow: var(--cui-button-box-shadow--highlighted);
}

:where(.cui-button:not([disabled]):hover) {
	color: var(--cui-button-color--highlighted);
	background: var(--cui-button-background-color--highlighted);
	border-color: var(--cui-button-border-color--highlighted);
	box-shadow: var(--cui-button-box-shadow--highlighted);
}

:where(.cui-button:active),
:where(.cui-button[data-active]) {
	color: var(--cui-button-color--pressed);
	background: var(--cui-button-background-color--pressed);
	border-color: var(--cui-button-border-color--pressed);
	box-shadow: var(--cui-button-box-shadow--pressed);
}

:where(.cui-button:focus:focus-visible) {
	color: var(--cui-button-color--highlighted);
	box-shadow: var(--cui-button-box-shadow--highlighted), var(--cui-control-focus-ring-box-shadow);
	z-index: 1;
}

:where(.cui-button:active:focus:focus-visible),
:where(.cui-button[data-active]:focus:focus-visible) {
	box-shadow: var(--cui-button-box-shadow--pressed), var(--cui-control-focus-ring-box-shadow);
}

:where(.cui-button[disabled]) {
	--cui-button-background-color--highlighted: var(--cui-button-background-color--disabled);
	--cui-button-background-color--pressed: var(--cui-button-background-color--disabled);
	--cui-button-background-color: var(--cui-button-background-color--disabled);
	--cui-button-border-color: var(--cui-button-border-color--disabled);
	--cui-button-box-shadow--highlighted: none;
	--cui-button-box-shadow-pressed: none;
	--cui-button-box-shadow: var(--cui-button-box-shadow--disabled);
	--cui-button-color--highlighted: var(--cui-button-color--disabled);
	--cui-button-color--pressed: var(--cui-button-color--disabled);
	--cui-button-color: var(--cui-button-color--disabled);
	cursor: not-allowed;
	opacity: 1;
}
