:where(.cui-button) {
	--cui-button-box-shadow-dark-edge-bottom: inset 0 -2px 0 -1px rgba(var(--cui-theme-content-rgb-0), 0.1);
	--cui-button-box-shadow-dark-edge-top: inset 0 1px 0 1px rgba(var(--cui-theme-content-rgb-0), 0.125);
	--cui-button-box-shadow-shadow-below: 0 0 1px rgba(var(--cui-theme-content-rgb-0), 0.1), 0 1px 0.5em rgba(var(--cui-theme-content-rgb-0), 0.1);
	--cui-button-box-shadow-highlighted: inset 0 -0.5em 2em -1em rgba(var(--cui-theme-content-rgb-0), 0.05);
	--cui-button-background-color--disabled: rgba(var(--cui-background-color-toned-rgb-75), var(--cui-opacity--lower));
	--cui-button-background-color--highlighted: rgb(var(--cui-background-color-rgb-100));
	--cui-button-background-color--pressed: rgba(var(--cui-background-color-toned-rgb-75), var(--cui-opacity--medium));
	--cui-button-background-color: rgb(var(--cui-background-color-rgb-75));
	--cui-button-border-color--disabled: rgba(var(--cui-color-rgb-50), var(--cui-opacity--lower));
	--cui-button-border-color--highlighted: rgba(var(--cui-color-rgb-50), var(--cui-opacity--medium));
	--cui-button-border-color--pressed: rgba(var(--cui-background-color-toned-rgb-75), var(--cui-opacity--medium));
	--cui-button-border-color: rgba(var(--cui-color-rgb-50), var(--cui-opacity--lower));
	--cui-button-border-width: var(--cui-border-width, 1px);
	--cui-button-box-shadow--highlighted: var(--cui-button-box-shadow-shadow-below), var(--cui-button-box-shadow-highlighted), var(--cui-button-box-shadow-dark-edge-bottom);
	--cui-button-box-shadow--pressed: 0 0 transparent;
	--cui-button-box-shadow--disabled: 0 0 transparent;
	--cui-button-box-shadow: var(--cui-button-box-shadow-shadow-below), var(--cui-button-box-shadow-dark-edge-bottom);
	--cui-button-color--disabled: rgba(var(--cui-color-accent-rgb-50), var(--cui-opacity--low));
	--cui-button-color--highlighted: rgb(var(--cui-color-accent-rgb-100));
	--cui-button-color--pressed: rgb(var(--cui-color-toned-rgb-100));
	--cui-button-color: rgb(var(--cui-color-accent-rgb-50));
	--cui-button-height: var(--cui-size--controls);
	--cui-button-label-font-size: var(--cui-font-size--label);
	--cui-button-line-height: 1em;
	--cui-button-padding-horizontal: calc(4 * var(--cui-gap) - var(--cui-border-width, 1px));
	--cui-button-padding-vertical: calc(var(--cui-gap) - var(--cui-border-width, 1px));
	align-items: center;
	background: var(--cui-button-background-color);
	border-color: var(--cui-button-border-color);
	border-radius: var(--cui-border-radius--controls);
	border-style: solid;
	border-width: var(--cui-button-border-width);
	box-shadow: var(--cui-button-box-shadow);
	color: var(--cui-button-color);
	display: inline-flex;
	font-family: inherit;
	font-size: unset;
	font-weight: 600;
	height: var(--cui-button-height);
	padding: 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition-duration: var(--cui-transition-duration--fast);
	transition-property: box-shadow, color, background, opacity, border-color;
	user-select: none;
}

:where(.cui-button[data-size="small"]),
:where(.cui-button-list[data-size="small"] .cui-button),
:where(.cui-button-group[data-size="small"] .cui-button) {
	--cui-button-height: var(--cui-size--controls--small);
}

:where(.cui-button[data-size="large"]),
:where(.cui-button-list[data-size="large"] .cui-button),
:where(.cui-button-group[data-size="large"] .cui-button) {
	--cui-button-label-font-size: var(--cui-font-size--body);
	--cui-button-height: var(--cui-size--controls--large);
	--cui-button-padding-horizontal: calc(var(--cui-gap) * 7 - var(--cui-border-width, 1px));
}

:where(.cui-button[data-flow="block"]),
:where(.cui-button[data-flow="generousBlock"]) {
	display: flex;
	width: 100%;
}

:where(.cui-button[data-justification="justifyStart"]) {
	justify-content: start;
	text-align: start;
}

:where(.cui-button[data-justification="justifyCenter"]) {
	justify-content: center;
}

:where(.cui-button[data-justification="justifyEnd"]) {
	justify-content: end;
	text-align: end;
}

:where(.cui-button[data-flow="squarish"]),
:where(.cui-button[data-flow="circular"]) {
	--cui-button-padding-horizontal: 0px;
	--cui-button-padding-vertical: 0px;
}

:where(.cui-button[data-flow="squarish"]) {
	height: var(--cui-button-height);
	min-height: var(--cui-button-height);
	min-width: var(--cui-button-height);
	width: var(--cui-button-height);
}

:where(.cui-button[data-flow="circular"]) {
	--cui-circular-button-extra-optical-size: calc(var(--cui-button-height) * var(--cui-circle-optical-grow));
	border-radius: 50%;
	height: calc(var(--cui-button-height) + 2 * var(--cui-circular-button-extra-optical-size));
	margin: calc(-1 * var(--cui-circular-button-extra-optical-size));
	min-height: calc(var(--cui-button-height) + 2 * var(--cui-circular-button-extra-optical-size));
	min-width: calc(var(--cui-button-height) + 2 * var(--cui-circular-button-extra-optical-size));
	width: calc(var(--cui-button-height) + 2 * var(--cui-circular-button-extra-optical-size));
}

:where(.cui-button[data-distinction="seamless"]) {
	--cui-button-background-color--highlighted: transparent;
	--cui-button-background-color: transparent;
	--cui-button-box-shadow--highlighted: 0 0 transparent;
	--cui-button-box-shadow: 0 0 transparent;
	--cui-button-color: rgb(var(--cui-color-accent-rgb-50));
	--cui-button-border-width: 0px;
	--cui-button-color--highlighted: rgb(var(--cui-color-accent-rgb-100));
	--cui-button-padding-horizontal: calc(2 * var(--cui-gap) - var(--cui-border-width, 1px));
	--cui-button-padding-vertical: calc(2 * var(--cui-gap) - var(--cui-border-width, 1px));
	--cui-button-height: 1.3em;
	align-items: stretch;
	background: transparent;
	position: relative;
}

:where(.cui-button[data-flow="generous"]),
:where(.cui-button[data-flow="generousBlock"]) {
	--cui-button-padding-horizontal: calc(var(--cui-gap) * 11 - var(--cui-border-width, 1px));
}


:where(.cui-button[data-distinction="primary"]) {
	--cui-button-background-color--highlighted: rgb(var(--cui-background-color-controls-rgb-75));
	--cui-button-background-color--pressed: rgb(var(--cui-background-color-controls-rgb-100));
	--cui-button-background-color: rgb(var(--cui-background-color-controls-rgb-50));
	--cui-button-border-color--pressed: rgb(var(--cui-background-color-controls-rgb-0));
	--cui-button-color--highlighted: rgb(var(--cui-color-controls-rgb-75));
	--cui-button-color--pressed: rgb(var(--cui-color-controls-rgb-75));
	--cui-button-color: rgb(var(--cui-color-controls-rgb-50));
}

:where(.cui-button[data-distinction="toned"]) {
	--cui-button-background-color--highlighted: rgba(var(--cui-background-color-toned-rgb-50), var(--cui-opacity--low));
	--cui-button-background-color--pressed: rgba(var(--cui-background-color-toned-rgb-50), var(--cui-opacity--medium));
	--cui-button-background-color: rgba(var(--cui-background-color-toned-rgb-50), var(--cui-opacity--lower));
	--cui-button-border-color--pressed: rgb(var(--cui-color-toned-rgb-100));
	--cui-button-border-width: 0px;
	--cui-button-box-shadow--highlighted: 0 0 transparent;
	--cui-button-box-shadow: 0 0 transparent;
	--cui-button-color--highlighted: rgb(var(--cui-color-toned-rgb-75));
	--cui-button-color: rgb(var(--cui-color-toned-rgb-50));
}

:where(.cui-button[data-distinction="outlined"]) {
	--cui-button-background-color--disabled: transparent;
	--cui-button-background-color--highlighted: transparent;
	--cui-button-background-color--pressed: transparent;
	--cui-button-background-color: transparent;
	--cui-button-border-color--highlighted: rgb(var(--cui-color-accent-rgb-100));
	--cui-button-border-color--pressed: rgb(var(--cui-color-accent-rgb-100));
	--cui-button-border-color: rgb(var(--cui-color-accent-rgb-50));
	--cui-button-border-width: var(--cui-border-width--controls, 2px);;
	--cui-button-box-shadow--highlighted: none;
	--cui-button-box-shadow: none;
	--cui-button-color--highlighted: rgb(var(--cui-color-accent-rgb-100));
	--cui-button-color--pressed: rgb(var(--cui-color-accent-rgb-100));
	--cui-button-color: rgb(var(--cui-color-accent-rgb-50));
}

:where(.cui-button[data-bland] .cui-button-content) {
	opacity: var(--cui-opacity--high);
}

:where(.cui-button[data-elevation="none"]) {
	--cui-button-box-shadow-shadow-below: 0 0 transparent;
}

:where(.cui-button-content) {
	align-items: center;
	border-radius: inherit;
	justify-content: inherit;
	display: flex;
	flex: 1;
	gap: inherit;
	font-size: var(--cui-button-label-font-size);
	line-height: var(--cui-button-line-height);
	overflow: hidden;
	padding: var(--cui-button-padding-vertical) var(--cui-button-padding-horizontal);
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

:where(.cui-button-list) {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--cui-gutter);
}

:where(.cui-button-group .cui-button[data-flow="circular"]) {
	--cui-circular-button-extra-optical-size: 0%;
}

:where(.cui-button-list[data-flow="block"]) {
	display: flex;
}

:where(.cui-button-list[data-orientation="vertical"]) {
	align-items: stretch;
	flex-direction: column;
}

:where(.cui-button-list[data-orientation="vertical"][data-flow="block"]) {
	width: 100%;
}

:where(.cui-button-group) {
	display: inline-flex;
	flex-wrap: wrap;
}
:where(.cui-button-group > .cui-button[data-distinction="outlined"]) {
	--cui-button-border-color--disabled: rgb(var(--cui-color-accent-rgb-50));
}
:where(.cui-button-group > .cui-button[data-distinction="default"]) {
	--cui-button-box-shadow--disabled: var(--cui-button-box-shadow-shadow-below), var(--cui-button-box-shadow-dark-edge-bottom);
}
:where(.cui-button-group > .cui-button[data-distinction="primary"]) {
	--cui-button-background-color--disabled: rgb(var(--cui-background-color-controls-rgb-75));
	--cui-button-color--disabled: rgba(var(--cui-color-controls-rgb-100), var(--cui-opacity--low));
}

:where(.cui-button-group[data-orientation="vertical"]) {
	flex-direction: column;
}

:where(.cui-button-group[data-flow="block"]) {
	width: 100%;
}

:where(.cui-button-group.view-isTopToolbar .cui-button) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button:not(:first-child):not(:last-child)) {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button:first-child:not(.cui-button-group-last)),
:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button-group-first) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button:last-child:not(.cui-button-group-first)),
:where(.cui-button-group:not([data-orientation="vertical"]) .cui-button-group-last) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

:where(.cui-button-group[data-orientation="vertical"] .cui-button:not(:first-child):not(:last-child)) {
	border-top: none;
	border-bottom: none;
	border-radius: 0;
}

:where(.cui-button-group[data-orientation="vertical"] .cui-button:first-child:not(.cui-button-group-last)),
:where(.cui-button-group[data-orientation="vertical"] .cui-button-group-first) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
}

:where(.cui-button-group[data-orientation="vertical"] .cui-button:last-child:not(.cui-button-group-first)),
:where(.cui-button-group[data-orientation="vertical"] .cui-button-group-last) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}

:where(button.cui-button:focus:focus-visible),
:where([type=button].cui-button:focus:focus-visible) {
	outline: 2px solid;
}

:where(.cui-button:focus:not(:focus-visible)) {
	box-shadow: var(--cui-button-box-shadow--highlighted);
}

:where(.cui-button:not([disabled]):hover) {
	color: var(--cui-button-color--highlighted);
	background: var(--cui-button-background-color--highlighted);
	border-color: var(--cui-button-border-color--highlighted);
	box-shadow: var(--cui-button-box-shadow--highlighted);
}

:where(.cui-button:active),
:where(.cui-button[data-active]) {
	color: var(--cui-button-color--pressed);
	background: var(--cui-button-background-color--pressed);
	border-color: var(--cui-button-border-color--pressed);
	box-shadow: var(--cui-button-box-shadow--pressed);
}

:where(.cui-button:focus) {
	color: var(--cui-button-color--highlighted);
	box-shadow: var(--cui-button-box-shadow--highlighted), var(--cui-control-focus-ring-box-shadow);
	z-index: 1;
}

:where(.cui-button:active:focus:focus-visible),
:where(.cui-button[data-active]:focus:focus-visible) {
	box-shadow: var(--cui-button-box-shadow--pressed), var(--cui-control-focus-ring-box-shadow);
}

:where(.cui-button[disabled]) {
	--cui-button-background-color--highlighted: var(--cui-button-background-color--disabled);
	--cui-button-background-color--pressed: var(--cui-button-background-color--disabled);
	--cui-button-background-color: var(--cui-button-background-color--disabled);
	--cui-button-border-color: var(--cui-button-border-color--disabled);
	--cui-button-box-shadow--highlighted: none;
	--cui-button-box-shadow-pressed: none;
	--cui-button-box-shadow: var(--cui-button-box-shadow--disabled);
	--cui-button-color--highlighted: var(--cui-button-color--disabled);
	--cui-button-color--pressed: var(--cui-button-color--disabled);
	--cui-button-color: var(--cui-button-color--disabled);
	cursor: not-allowed;
	opacity: 1;
}
