:where(.cui-field-container) {
	--cui-field-container--body-content-height: ;
	gap: calc(2 * var(--cui-gap));
	flex-direction: column;
}

:where(.cui-field-container[data-label-position="left"]),
:where(.cui-field-container[data-label-position="right"]) {
	flex-direction: row;
}

:where(.cui-field-container[data-label-position="top"]),
:where(.cui-field-container[data-label-position="bottom"]) {
	flex-direction: column;
}

:where(.cui-field-container[data-label-position="right"] > .cui-field-container-body),
:where(.cui-field-container[data-label-position="bottom"] > .cui-field-container-body) {
	order: 1;
}
:where(.cui-field-container[data-label-position="right"] > .cui-field-container-header),
:where(.cui-field-container[data-label-position="bottom"] > .cui-field-container-header) {
	order: 2;
}

:where(.cui-field-container[data-label-position="left"] > .cui-field-container-header),
:where(.cui-field-container[data-label-position="right"] > .cui-field-container-header) {
	justify-content: center;
	align-self: start;
	min-height: var(--cui-field-container--body-content-height);
}
:where(.cui-field-container[data-label-position="right"][data-display="block"] > .cui-field-container-header) {
	text-align: right;
}

:where(.cui-field-container),
:where(.cui-field-container[data-display="block"]) {
	display: flex;
}
:where(.cui-field-container[data-display="block"] > .cui-field-container-header) {
	flex: 2 2 0px;
}
:where(.cui-field-container[data-display="block"] > .cui-field-container-body) {
	flex: 5 5 0px;
}

:where(.cui-field-container[data-display="inline"]) {
	display: inline-flex;
}

:where(.cui-field-container[data-size="small"]) {
	font-size: var(--cui-font-size--controls-small);
}

:where(.cui-field-container[data-size="large"]) {
	font-size: var(--cui-font-size--controls-large);
}

:where(.cui-field-container-required-asterisk) {
	color: rgb(var(--cui-color--accent-rgb-50));
	display: inline;
}

:where(.cui-field-container-header),
:where(.cui-field-container-body),
:where(.cui-field-container-footer) {
	display: flex;
	flex-direction: column;
	gap: var(--cui-gap);
}

:where(.cui-field-container-header),
:where(.cui-field-container-footer) {
	color: rgb(var(--cui-color--strong-rgb-50));
	font-weight: 700;
	user-select: none;
}
:where(.cui-field-container-header > .cui-label) {
	display: inline;
}

:where(.cui-field-container-body-content[data-direction="horizontal"] > *) {
	flex-grow: 1;
}

:where(.cui-field-container-body-content-description) {
	font-weight: 500;
	color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--medium));
	display: block;
	font-size: 0.9em;
	line-height: 1.2;
}

:where(.cui-field-container-body-content > [contenteditable=false]) {
	display: contents;
}

:where(.cui-field-container .cui-field-container-footer > .cui-new-entity-button) {
	transform: translateY(var(--cui-gap));
	margin-left: var(--cui-button--padding);
	margin-right: var(--cui-button--padding);
}

:where(.cui-field-container .cui-field-container-body-content:not([data-gap]):not([data-direction="horizontal"]) > .cui-repeater-item-container:first-child:not(:last-child)) {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
:where(.cui-field-container .cui-field-container-body-content:not([data-gap]):not([data-direction="horizontal"]) > .cui-repeater-item-container:last-child:not(:first-child)) {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-top: calc(-1 * var(--cui-box--border-width));
}
:where(.cui-field-container .cui-field-container-body-content:not([data-gap]):not([data-direction="horizontal"]) > .cui-repeater-item-container:not(:first-child):not(:last-child)) {
	border-top-width: 0;
	border-radius: 0px;
}
