:where(.cui-empty-state-container) {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
:where(.cui-empty-state-container-header > .lucide) {
	--cui-scale: 5;
	stroke-width: 1px;
	color: rgb(var(--cui-color--accent-rgb-50));
}
:where(.cui-empty-state-container-header .cui-message-content) {
	font-weight: bold;
}
