html, body {
	display: flex;
	min-height: 100vh;
	min-height: 100dvh;
	min-width: 100vw;
	min-width: 100dvw;
	margin: 0;
	padding: 0;
}

html {
	min-height: 100vh;
	min-height: 100dvh;
	-webkit-text-size-adjust: 100%;
}

html, body {
	overscroll-behavior: none;
}

:where(h1, h2, h3, h4, h5, h6, p, pre):last-child {
	margin-bottom: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, pre):first-child {
	margin-top: 0;
}

:root {
	--cui-rounding-grow: 0.05642;
	--cui-gutter: calc(3 * var(--cui-gap));
}

.lucide {
	--scale: 1;
  --square-to-circle-ratio: 1.1284;
  --square-to-circle-margin: calc((var(--square-to-circle-ratio) - 1) / 2);
  stroke: currentColor;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(1em * var(--scale));
  margin: calc(-1em * var(--square-to-circle-margin));
  vertical-align: middle;
  width: calc(1em * var(--scale));
}

/* HOTFIX: Firefox */
.cui-breadcrumbs-item {
	display: inline-flex;
}

.cui-button.view-squarish {
	min-width: var(--cui-button-height);
	min-height: var(--cui-button-height);
}
