:where(
	.responsive-app-layout-header,
	.responsive-app-layout-footer,
) {
	left: 0;
	max-width: 100vw;
	max-width: 100dvw;
	pointer-events: none;
	position: fixed;
	right: 0;
	z-index: 3;
}

:where(
	.responsive-app-layout-header,
	.responsive-app-layout-footer,
) :where(a, button, input, select, .layout-slot) {
	pointer-events: all;
}

:where(.responsive-app-layout-header) {
	top: 0;
}
:where(.responsive-app-layout-body) {
	flex: 1 1 100%;
}
:where(.responsive-app-layout-footer) {
	bottom: 0;
}

:where(
	.responsive-app-layout-header,
	.responsive-app-layout-body,
	.responsive-app-layout-footer,
) {
	display: flex;
	flex-direction: row;
}

:where(
	.responsive-app-layout-header-container,
	.responsive-app-layout-body-container,
	.responsive-app-layout-footer-container,
) {
	display: flex;
	flex: 1 0 100%;
	flex-direction: row;
}

:where(.responsive-app-layout-body-container) {
	justify-content: space-between;
}
