:where(.cui-link) {
	--cui-link-color: rgb(var(--cui-color-accent-rgb-50));
	color: var(--cui-link-color);
}

:where(.cui-link:hover),
:where(.cui-link.is-hovered),
:where(.cui-link:focus),
:where(.cui-link.is-focused) {
	--cui-link-color: rgb(var(--cui-color-accent-rgb-75));
}

:where(.cui-link:active),
:where(.cui-link.is-active) {
	--cui-link-color: rgb(var(--cui-color-accent-rgb-25));
}
