:where(.cui-link) {
  --cui-link-color: var(--cui-control-color);
  color: var(--cui-link-color);
}

:where(.cui-link:hover),
:where(.cui-link.is-hovered),
:where(.cui-link:focus),
:where(.cui-link.is-focused) {
  --cui-link-color: var(--cui-control-color--highlighted);
}

:where(.cui-link:active),
:where(.cui-link.is-active) {
  --cui-link-color: var(--cui-control-color--pressed);
}
