:where(.cui-userMiniControl) {
	display: flex;
	align-items: center;
}

:where(.cui-userMiniControl-info) {
	display: flex;
	flex-direction: column;
}

:where(.cui-userMiniControl-avatar) {
	flex-grow: 0;
	flex-shrink: 0;
	width: 3em;
	height: 3em;
	border-radius: 3em;
	overflow: hidden;
	margin-right: 0.5em;
	background: #eee;
}

:where(.cui-userMiniControl-avatar-img) {
	width: 100%;
	height: 100%;
}

:where(.cui-userMiniControl-name) {
	color: rgb(var(--cui-color--rgb-50));
	font-weight: bold;
	font-size: 0.875em;
}

:where(.cui-userMiniControl-note) {
	font-size: 0.75em;
}
