:where(.cui-focal-point-marker) {
	position: absolute;
	cursor: default;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

:where(.cui-focal-point-editor) {
	width: calc(min(90vw, 90dvw) - 2 * var(--cui-padding));
	height: calc(min(90vh, 90dvh) - 2 * var(--cui-padding));
	min-height: 0px;
}
:where(.cui-focal-point-editor-body) {
	flex: 1;
	min-height: 0px;
}
:where(.cui-focal-point-editor-previews) {
	max-width: fit-content;
}

:where(.cui-focal-point-editor-photo) {
	flex: 1 1 0%;
}
:where(.cui-focal-point-editor-photo-img-wrapper) {
	display: flex;
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

:where(.cui-focal-point-editor-photo-img-wrapper[data-photo-orientation="landscape"]) {
	padding-top: var(--min-size);
}

:where(.cui-focal-point-editor-photo img) {
	cursor: crosshair;
	display: block;
	object-fit: contain;
}

:where(.cui-focal-point-photo-holder) {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: var(--cui-border-radius);
	display: flex;
	justify-content: center;
	overflow: hidden;
}
