.#{$cui-conf-globalPrefix}checkbox
	--checkbox-button-border-radius: .3em
	--checkbox-button-background-color: transparent
	--checkbox-button-size: 1.25em

	--tick-color: transparent
	--tick-border-color: var(--cui-color--high)

	--control-font-size: var(--cui-control-font-size)

	&.view-small
		--control-font-size: var(--cui-control-font-size--small)
	&.view-large
		--control-font-size: var(--cui-control-font-size--large)

	&.is-hovered, &:hover
		--tick-border-color: var(--cui-control-border-color--highlighted)
	&.is-readonly
		--checkbox-button-background-color: var(--radio-color--readonly)
		color: var(--radio-color--readonly)
	&.is-invalid
		--checkbox-button-background-color: rgb(var(--cui-theme-danger-500))
		--tick-border-color: rgb(var(--cui-theme-danger-500))
	&.is-checked:not(.is-invalid)
		--checkbox-button-background-color: var(--cui-control-border-color)
		--tick-border-color: var(--cui-control-border-color)
	&.is-disabled.is-checked
		--checkbox-button-background-color: var(--cui-color--medium)
		--tick-border-color: var(--cui-color--medium)

	font-size: var(--control-font-size)
