@use 'sass:math'

.#{$cui-conf-globalPrefix}checkbox-button
	$tick-thickness: .15em
	$tick-short-length: .4em
	$tick-long-length: .75em
	$tick-angle-half: 40deg
	$tick-angle-half-sine: 0.642787609687 // 40deg

	background: var(--checkbox-button-background-color)
	border-radius: var(--checkbox-button-border-radius)
	border: var(--cui-control-border-width, 1px) solid var(--tick-border-color)
	color: var(--tick-color)
	display: block
	max-height: var(--checkbox-button-size)
	max-width: var(--checkbox-button-size)
	min-height: var(--checkbox-button-size)
	min-width: var(--checkbox-button-size)
	pointer-events: none
	position: relative
	transition: background-color var(--cui-transition-duration--immediate), border-color var(--cui-transition-duration--immediate), box-shadow 0.2s
	user-select: none

	&::before,
	&::after
		content: ''
		position: absolute
		top: 50%
		left: 50%
		background-color: currentColor
		border-radius: ($tick-thickness * 0.5)
		transform-origin: ($tick-thickness * 0.5) center // Essentially "left center"

	$tick-x-offset: -($tick-thickness * 0.5) - ($tick-long-length - $tick-short-length) * $tick-angle-half-sine * 0.5
	$tick-y-offset: -($tick-thickness * 0.25) + ($tick-long-length - $tick-thickness) * $tick-angle-half-sine * 0.5

	&::before
		+size($tick-short-length $tick-thickness)
		transform: translate($tick-x-offset, $tick-y-offset) rotate((90deg - $tick-angle-half)) translate(-$tick-short-length + $tick-thickness)
	&::after
		+size($tick-long-length $tick-thickness)
		transform: translate($tick-x-offset, $tick-y-offset) rotate(($tick-angle-half - 90deg))

	&.is-indeterminate
		background-color: transparent
	&.is-indeterminate &-questionmark
		align-items: center
		justify-content: center
		display: flex
		color: var(--tick-border-color)
		position: absolute
		line-height: 1em
		left: 0
		right: 0
		bottom: 0
		top: 0

	&.is-disabled
		cursor: not-allowed
		opacity: 0.33
	&.is-read-only
		cursor: not-allowed
		opacity: 0.75
	&.is-focused
		box-shadow: 0 0 0 .2em var(--cui-control-border-color--highlighted)
	&.is-focused:not(.is-checked)
		--tick-border-color: var(--cui-control-border-color--highlighted)
	&.is-indeterminate
		border-width: var(--cui-control-border-width, 1px)
		border-style: dashed
	&.is-checked
		// Repeating the color is easier than fiddling with another set of delays.
		// Animating width (and not transforming scale) so that we always get a nice border-radius
		@keyframes checkbox-tick-short
			0%
				color: white
				width: $tick-thickness
			100%
				color: white
				width: $tick-short-length
		@keyframes checkbox-tick-long
			0%
				color: white
				width: $tick-thickness
			100%
				color: white
				width: $tick-long-length
		&::before
			animation: var(--cui-transition-duration--immediate) checkbox-tick-short var(--cui-transition-duration--immediate) ease-in forwards
		&::after
			animation: var(--cui-transition-duration--immediate) checkbox-tick-long var(--cui-transition-duration--immediate) ease-in forwards
