:where(.cui-checkbox) {
	--cui-checkbox--background-color: transparent;
	--cui-checkbox--tick-border-color: rgb(var(--cui-color--rgb-50));
	--cui-checkbox--font-size: var(--cui-font-size--controls);
	--cui-checkbox--color--readonly: rgba(var(--cui-color--rgb-50), var(--cui-opacity--medium));
	display: inline-flex;
	position: relative;
	max-width: min-content;
}

:where(.cui-checkbox .cui-label) {
	font-weight: 700;
}

:where(.cui-checkbox-visually-hidden) {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	opacity: 0;
}

:where(.cui-checkbox.view-small) {
	--cui-checkbox--font-size: var(--cui-font-size--controls-small);
}

:where(.cui-checkbox.view-large) {
	--cui-checkbox--font-size: var(--cui-font-size--controls-large);
}

:where(.cui-checkbox.is-hovered),
:where(.cui-checkbox:hover) {
	--cui-checkbox--tick-border-color: rgb(var(--cui-color--accent-rgb-50));
}

:where(.cui-checkbox.is-readonly) {
	--cui-checkbox--background-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--medium));
}

:where(.cui-checkbox.is-invalid) {
	--cui-checkbox--background-color: rgb(var(--cui-theme-danger--rgb-500));
	--cui-checkbox--tick-border-color: rgb(var(--cui-theme-danger--rgb-500));
}

:where(.cui-checkbox.is-checked:not(.is-invalid)) {
	--cui-checkbox--background-color: rgb(var(--cui-background-color--controls-rgb-50));
	--cui-checkbox--tick-border-color: rgb(var(--cui-background-color--controls-rgb-50));
}

:where(.cui-checkbox.is-disabled) {
	--cui-checkbox--tick-border-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--medium));
}

:where(.cui-checkbox-button-wrapper) {
	display: inline-block;
}

:where(.cui-checkbox-button) {
	background: var(--cui-checkbox--background-color);
	border-radius: var(--cui-border-radius--controls);
	border: var(--cui-border-width--controls, 1px) solid var(--cui-checkbox--tick-border-color);
	color: transparent;
	display: inline-block;
	max-height: var(--cui-size--controls-checkbox);
	max-width: var(--cui-size--controls-checkbox);
	min-height: var(--cui-size--controls-checkbox);
	min-width: var(--cui-size--controls-checkbox);
	pointer-events: none;
	position: relative;
	transition: background-color var(--cui-transition-duration--immediate), border-color var(--cui-transition-duration--immediate), box-shadow 0.2s;
	user-select: none;
}

:where(.cui-checkbox-button)::before,
:where(.cui-checkbox-button)::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: currentColor;
	border-radius: 0.075em;
	transform-origin: 0.075em center;
}

:where(.cui-checkbox-button)::before {
	width: 0.4em;
	height: 0.15em;
	transform: translate(-0.1874878317em, 0.1553362829em) rotate(50deg) translate(-0.25em);
}

:where(.cui-checkbox-button)::after {
	width: 0.75em;
	height: 0.15em;
	transform: translate(-0.1874878317em, 0.1553362829em) rotate(-50deg);
}

:where(.cui-checkbox-button.is-indeterminate) {
	background-color: transparent;
}

:where(.cui-checkbox-button.is-indeterminate .cui-checkbox-button-questionmark) {
	align-items: center;
	justify-content: center;
	display: flex;
	color: var(--cui-checkbox--tick-border-color);
	position: absolute;
	line-height: 1em;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

:where(.cui-checkbox-button.is-disabled) {
	cursor: not-allowed;
	opacity: var(--cui-opacity--medium);
}

:where(.cui-checkbox-button.is-read-only) {
	cursor: not-allowed;
	opacity: 0.75;
}

:where(.cui-checkbox-button.is-focused) {
	box-shadow: 0 0 0 0.2em rgb(var(--cui-color--accent-rgb-50));
}

:where(.cui-checkbox-button.is-focused:not(.is-checked)) {
	--cui-checkbox--tick-border-color: rgb(var(--cui-color--accent-rgb-50));
}

:where(.cui-checkbox-button.is-indeterminate) {
	border-width: var(--cui-border-width--controls, 2px);
	border-style: dashed;
}

@keyframes checkbox-tick-short {
	0% {
		color: white;
		width: 0.15em;
	}

	100% {
		color: white;
		width: 0.4em;
	}
}

@keyframes checkbox-tick-long {
	0% {
		color: white;
		width: 0.15em;
	}

	100% {
		color: white;
		width: 0.75em;
	}
}

:where(.cui-checkbox-button.is-checked)::before {
	animation: var(--cui-transition-duration--immediate) checkbox-tick-short var(--cui-transition-duration--immediate) ease-in forwards;
}

:where(.cui-checkbox-button.is-checked)::after {
	animation: var(--cui-transition-duration--immediate) checkbox-tick-long var(--cui-transition-duration--immediate) ease-in forwards;
}
