:where(.cui-titleBar) {
	--cui-title-bar--padding-top: var(--cui-layout-page--padding-top);
	--cui-title-bar--padding-left: var(--cui-layout-page--padding-left);
	--cui-title-bar--padding-right: var(--cui-layout-page--padding-right);
	--cui-title-bar--gap: var(--cui-gutter);
	align-items: stretch;
	background-color: rgb(var(--cui-background-color--rgb-50));
	display: flex;
	flex-direction: column;
	gap: var(--cui-title-bar--gap);
	justify-content: space-between;
	padding-bottom: var(--cui-padding);
	padding-left: var(--cui-title-bar--padding-left);
	padding-right: var(--cui-title-bar--padding-right);
	padding-top: var(--cui-title-bar--padding-top);
	z-index: 1;
}

:where(.cui-titleBar.is-global-theme) {
	background-color: rgb(var(--cui-background-color--rgb-25));
}

:where(.cui-titleBar)::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom: var(--cui-border-width, 1px) solid rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));
}

:where(.cui-titleBar-in) {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: var(--cui-double-gap);
	justify-content: space-between;
}

:where(.cui-titleBar-navigation) {
	display: flex;
}
:where(.cui-titleBar-navigation + .cui-titleBar-in) {
	margin-top: 0;
}

:where(.cui-titleBar-heading) {
	display: flex;
	flex: 1;
	padding-right: 0.5em;
}
:where(.cui-titleBar-actions) {
	display: flex;
}

@media (max-width: 767.98px) {
	:where(.cui-titleBar) {
		background: linear-gradient(to bottom, var(--cui-background-color--rgb-25), rgb(var(--cui-background-color--rgb-25)));
		border-bottom-color: transparent;
	}
}

@media (min-width: 768px) {
	:where(.cui-titleBar) {
		flex-shrink: 0;
	}
}
