:where(.cui-stack) {
	--cui-stack-gap: 0px;
	--cui-stack-row-gap: var(--cui-stack-gap);
	--cui-stack-column-gap: var(--cui-stack-gap);
	display: flex;
	flex-direction: column;
	row-gap: var(--cui-stack-row-gap);
	column-gap: var(--cui-stack-column-gap);
}

:where(.cui-stack[data-reverse]) {
	flex-direction: column-reverse;
}

:where(.cui-stack[data-horizontal]) {
	flex-direction: row;
}
:where(.cui-stack[data-horizontal][data-reverse]) {
	flex-direction: row-reverse;
}

:where(.cui-stack[data-gap]) { --cui-stack-gap: var(--cui-padding) }
:where(.cui-stack[data-gap="gap"]) { --cui-stack-gap: var(--cui-gap) }
:where(.cui-stack[data-gap="gutter"]) { --cui-stack-gap: var(--cui-gutter) }
:where(.cui-stack[data-gap="padding"]) { --cui-stack-gap: var(--cui-padding) }
:where(.cui-stack[data-gap="large"]) { --cui-stack-gap: calc(1.5 * var(--cui-padding)) }
:where(.cui-stack[data-gap="larger"]) { --cui-stack-gap: calc(3 * var(--cui-padding)) }

:where(.cui-stack[data-evenly] > *) {
	flex-basis: 0%;
	flex-grow: 1;
	min-width: 0px;
}

:where(.cui-stack[data-align="center"]) { align-items: center }
:where(.cui-stack[data-align="start"]) { align-items: flex-start }
:where(.cui-stack[data-align="end"]) { align-items: flex-end }
:where(.cui-stack[data-align="stretch"]) { align-items: stretch }

:where(.cui-stack[data-justify="center"]) { justify-content: center}
:where(.cui-stack[data-justify="start"]) { justify-content: flex-start}
:where(.cui-stack[data-justify="end"]) { justify-content: flex-end}
:where(.cui-stack[data-justify="space-between"]) { justify-content: space-between}
:where(.cui-stack[data-justify="space-around"]) { justify-content: space-around}
:where(.cui-stack[data-justify="space-evenly"]) { justify-content: space-evenly}
:where(.cui-stack[data-justify="stretch"]) { justify-content: stretch}
:where(.cui-stack[data-justify="inherit"]) { justify-content: inherit}
:where(.cui-stack[data-justify="initial"]) { justify-content: initial}
:where(.cui-stack[data-justify="revert"]) { justify-content: revert}
:where(.cui-stack[data-justify="stretch"] > *) {
	flex-grow: 1;
	flex-shrink: 1;
}

:where(.cui-stack[data-grow]) { flex-grow: 1 }

:where(.cui-stack[data-shrink]) { flex-shrink: 1 }

:where(.cui-stack[data-wrap]) { flex-wrap: wrap }
:where(.cui-stack[data-wrap="reverse"]) { flex-wrap: wrap-reverse }
