@import '../../styles/common'

.#{$cui-conf-globalPrefix}stack
  --stack-gap: calc(var(--cui-padding-vertical) / 2)
  &.view-horizontal, &.view-horizontal-reverse
    --stack-gap: cacl(var(--cui-padding-horizontal) / 2)
  &.gap-small
    --stack-gap: var(--cui-gap-vertical)
    &.view-horizontal, &.view-horizontal-reverse
      --stack-gap: var(--cui-gap-horizontal)
  &.gap-large
    --stack-gap: var(--cui-padding-vertical)
    &.view-horizontal, &.view-horizontal-reverse
      --stack-gap: var(--cui-padding-horizontal)
  &.gap-none
    --stack-gap: unset

  display:  flex
  flex-direction: column
  gap: var(--stack-gap)

  &.view-horizontal
    flex-direction: row
  &.view-vertical
    flex-direction: column
  &.view-horizontal-reverse
    flex-direction: row-reverse
  &.view-vertical-reverse
    flex-direction: column-reverse

  &.view-align
    &-center
      align-items: center
    &-start
      align-items: flex-start
    &-end
      align-items: flex-end
    &-stretch
      align-items: stretch

  &.view-justify
    &-center
      justify-content: center
    &-start
      justify-content: flex-start
    &-end
      justify-content: flex-end
    &-space-between
      justify-content: space-between
    &-space-around
      justify-content: space-around
    &-space-evenly
      justify-content: space-evenly
    &-stretch
      justify-content: stretch
    &-inherit
      justify-content: inherit
    &-initial
      justify-content: initial
    &-revert
      justify-content: revert
