.#{$cui-conf-globalPrefix}divider
  --divider-margin: var(--cui-padding)

  align-self: stretch
  background-color: var(--cui-color--lower)
  margin-bottom: calc(var(--divider-margin) - 0.5px)
  margin-top: calc(var(--divider-margin) - 0.5px)
  min-height: 1px
  min-width: 1px

  .view-horizontal &
    margin-bottom: unset
    margin-left: calc(var(--divider-margin) - 0.5px)
    margin-right: calc(var(--divider-margin) - 0.5px)
    margin-top: unset

  &.view-none
    --divider-margin: 0
  &.view-small
    --divider-margin: var(--cui-gap)
  &.view-large
    --divider-margin: calc(1.5 * var(--cui-padding))
  &.view-xlarge
    --divider-margin: calc(3 * var(--cui-padding))
