:where(.cui-anchor) {
	align-items: center;
	border-radius: var(--cui-border-radius--controls);
	display: inline-flex;
	color: rgb(var(--cui-color--accent-rgb-50));
	cursor: pointer;
	text-decoration: none;
}

:where(
	.cui-anchor:active,
	.cui-anchor[data-active],
) {
	color: rgb(var(--cui-color--accent-rgb-75));
}

:where(
	.cui-anchor:hover,
	.cui-anchor:focus,
):not(
	.cui-anchor:active,
	.cui-anchor[data-active],
) {
	color: rgb(var(--cui-color--accent-rgb-75));
}

:where(.cui-anchor[disabled]) {
	cursor: not-allowed;
	color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));
}

:where(.cui-anchor) > .cui-label {
	align-items: center;
	color: inherit;
	display: inline-flex;
	margin: unset;
}
