:where(.cui-brand-icon) {
	--scale: 1;
	--aspect-ratio: 1;
	--cui-circle-optical-grow: 0.05641895835477563;
	stroke: currentColor;
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	height: calc(1em * var(--scale));
	margin: calc(-1em * var(--cui-circle-optical-grow));
	vertical-align: middle;
	width: calc(1em * var(--scale) * var(--aspect-ratio));
}
:where(.cui-brand-logo-type) {
	--scale: 1;
	--aspect-ratio: calc(440 / 130);
	stroke: currentColor;
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	height: calc(1em * var(--scale, 1));
	vertical-align: middle;
	width: calc(1em * var(--scale, 1) * var(--aspect-ratio));
}
