:where(.cui-slug-input) {
	--slug-input-control-focus-ring: var(--cui-box-shadow--controls-focus-ring);
	align-items: stretch;
	background-color: rgb(var(--cui-background-color--rgb-25));
	border-radius: var(--cui-border-radius--controls);
	border-width: var(--cui-border-width, 1px);
	display: flex;
	margin-bottom: calc(-1 * var(--cui-border-width));
	margin-top: calc(-1 * var(--cui-border-width));
}

:where(.cui-slug-input:focus-within) {
	box-shadow: var(--slug-input-control-focus-ring);
}

:where(.cui-slug-input-prefix) {
	display: flex;
	align-items: center;
	line-height: normal;
	padding-left: calc(3 * var(--cui-gap));
	color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--medium));
}

:where(.cui-field-container:hover .cui-slug-input-prefix) {
	border-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));
}

:where(.cui-slug-input:focus-within > .cui-slug-input-prefix:not(:focus-within)) {
	border-color: rgb(var(--cui-background-color--controls-rgb-50));
}

:where(.cui-slug-input-prefix-link) {
	align-items: center;
	display: flex;
	font-weight: normal;
	color: inherit;
}

:where(.cui-slug-input-prefix-link:focus),
:where(.cui-slug-input-prefix-link:hover) {
	text-decoration: underline;
	color: rgb(var(--cui-color--accent-rgb-50));
}

:where(.cui-slug-input-input) {
	display: flex;
	flex: 1 1 auto;
	position: relative;
}

:where(.cui-slug-input-input .cui-text-input) {
	border: none;
	box-shadow: none;
	flex-grow: 1;
}

:where(
	.cui-slug-input-input > .cui-text-input:active,
	.cui-slug-input-input > .cui-text-input:hover,
	.cui-slug-input-input > .cui-text-input:focus,
	.cui-slug-input-input > .cui-text-input:focus-within,
) {
	background-color: transparent;
}

:where(.cui-slug-input-prefix + .cui-slug-input-input) {
	flex: 5 1 auto;
	position: relative;
}

:where(.cui-slug-input-prefix + .cui-slug-input-input .cui-text-input) {
	--input-control-focus-ring: none;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 0;
}

:where(.cui-slug-input-overlay) {
	cursor: text;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

:where(.cui-slug-input-overlay a) {
	width: 100%;
	height: 100%;
	display: block;
}
