@use 'sass:math'
@import 'common'

=customProperties()
	--cui-transition-duration--immediate: 100ms
	--cui-transition-duration--fast: 200ms
	--cui-transition-duration: 300ms
	--cui-transition-duration--slow: 600ms
	--cui-transition-duration--slowest: 800ms

	--cui-font-family: Inter, 'system-ui'
	@supports (font-variation-settings: normal)
		--cui-font-family: 'Inter var', 'system-ui'

	--cui-line-height: 1.5
	--cui-font-size-body: 15px
	--cui-font-size-heading: 1.125em
	--cui-font-size-text: 1em
	--cui-font-size-label: 0.875em
	--cui-font-size-note: 0.8125em

	--cui-logo-size: #{em(18px)}
	--cui-logo-size--small: #{em(18px * 0.75)}
	--cui-logo-size--large: #{em(18px * 2)}

	--cui-gap: #{em(4px)}
	--cui-gutter: #{em(12px)}
	--cui-padding: calc(var(--cui-gap) * 4)

	--cui-screen-gap-horizontal: #{em(4px)}
	--cui-screen-gap-vertical: #{em(4px)}
	--cui-screen-gap: var(--cui-screen-gap-horizontal)

	--cui-screen-padding-horizontal: calc(var(--cui-screen-gap-horizontal) * 3)

	--cui-edge-offset-horizontal: 0em
	--cui-edge-offset-left: var(--cui-edge-offset-horizontal)
	--cui-edge-offset-right: var(--cui-edge-offset-horizontal)

	--cui-field-container-min-width: 100%

	@media (min-width: $breakpoint-min-small)
		--cui-screen-gap-horizontal: #{em(5px)}
		--cui-screen-padding-horizontal: calc(var(--cui-screen-gap-horizontal) * 4)
		--cui-edge-offset-horizontal: calc(var(--cui-screen-gap-horizontal) * 1)
	@media (min-width: $breakpoint-min-medium)
		--cui-screen-padding-horizontal: calc(var(--cui-screen-gap-horizontal) * 5)
		--cui-edge-offset-horizontal: calc(var(--cui-screen-gap-horizontal) * 2)
		--cui-field-container-min-width: 20em
	@media (min-width: $breakpoint-min-large)
		--cui-screen-gap-horizontal: #{em(6px)}
		--cui-edge-offset-horizontal: calc(var(--cui-screen-gap-horizontal) * 3)
		--cui-field-container-min-width: 25em
	@media (min-width: $breakpoint-min-xlarge)
		--cui-screen-padding-horizontal: calc(var(--cui-screen-gap-horizontal) * 6)
		--cui-edge-offset-horizontal: calc(var(--cui-screen-gap-horizontal) * 4)

	--cui-edge-offset-vertical: 0px
	--cui-edge-offset-bottom: var(--cui-edge-offset-vertical)
	--cui-edge-offset-top: var(--cui-edge-offset-vertical)

	@media (min-height: $breakpoint-min-medium)
		--cui-screen-gap-vertical: #{em(5px)}
	@media (min-height: $breakpoint-min-large)
		--cui-screen-gap-vertical: #{em(6px)}

	--cui-control-font-size: 1em
	--cui-control-font-size--small: 0.9em
	--cui-control-font-size--large: 1.5em

	--cui-message-font-size-small: 0.8em
	--cui-message-font-size-large: 1.2em

	--cui-control-border-radius: var(--cui-gap)
	--cui-control-border-width: 1px

	// 22px on Mac OS
	// 44px on iOS
	--cui-tap-target-size: #{em(22px)}
	--cui-control-height--small: calc(var(--cui-tap-target-size) * 1.25)
	--cui-control-height: calc(var(--cui-tap-target-size) * 1.75)
	--cui-control-height--large: calc(var(--cui-tap-target-size) * 2)

	@media (prefers-reduced-motion: reduce)
		--cui-transition-duration--immediate: 0s
		--cui-transition-duration--fast: 0s
		--cui-transition-duration: 0s
		--cui-transition-duration--slow: 0s
		--cui-transition-duration--slowest: 0s

	@media (min-width: $breakpoint-min-large)
		--cui-logo-size: #{em(25px)}
		--cui-logo-size--small: #{em(25px * 0.75)}
		--cui-logo-size--large: #{em(25px * 2)}
