@use 'sass:math'
@import 'common'

=customProperties()
	--cui-formGroup-separation: #{$cui-formGroup-separation}

	--cui-button-effect-transition-duration: #{$cui-button-effect-transition-duration}

	--cui-spinner-period: #{$cui-spinner-period}

	--cui-menu-caret-transition-duration: #{$cui-menu-caret-transition-duration}

	@media (prefers-reduced-motion: reduce)
		--cui-button-effect-transition-duration: 0s

		--cui-spinner-period: #{math.div($cui-spinner-period, 3)}

		--cui-menu-caret-transition-duration: 0s
