$local-path-to-inter: "Inter";

@mixin inter-font-faces($path: null) {
  @if $path == null {
    $path: $local-path-to-inter;
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("#{$path}/Inter-Thin.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-Thin.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("#{$path}/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-ThinItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("#{$path}/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-ExtraLight.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("#{$path}/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("#{$path}/Inter-Light.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-Light.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("#{$path}/Inter-LightItalic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-LightItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("#{$path}/Inter-Regular.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-Regular.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("#{$path}/Inter-Italic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-Italic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("#{$path}/Inter-Medium.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-Medium.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("#{$path}/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-MediumItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("#{$path}/Inter-SemiBold.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-SemiBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("#{$path}/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("#{$path}/Inter-Bold.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-Bold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("#{$path}/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-BoldItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("#{$path}/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-ExtraBold.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("#{$path}/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("#{$path}/Inter-Black.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-Black.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("#{$path}/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
        url("#{$path}/Inter-BlackItalic.woff?v=3.19") format("woff");
  }
}

@mixin inter-variable-font-faces($path: null) {
  @if $path == null {
    $path: $local-path-to-inter;
  }

  // -------------------------------------------------------
  // Variable font.
  // Usage:
  //
  //   html { font-family: 'Inter', sans-serif; }
  //   @supports (font-variation-settings: normal) {
  //     html { font-family: 'Inter var', sans-serif; }
  //   }
  //
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("#{$path}/Inter-roman.var.woff2?v=3.19") format("woff2");
  }
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("#{$path}/Inter-italic.var.woff2?v=3.19") format("woff2");
  }
}

@mixin inter-variable-experimantal-font-faces($path: null) {
  @if $path == null {
    $path: $local-path-to-inter;
  }

  // -------------------------------------------------------------------------
  // [EXPERIMENTAL] Multi-axis, single variable font.
  //
  // Slant axis is not yet widely supported (as of February 2019) and thus this
  // multi-axis single variable font is opt-in rather than the default.
  //
  // When using this, you will probably need to set font-variation-settings
  // explicitly, e.g.
  //
  //   * { font-variation-settings: "slnt" 0deg }
  //   .italic { font-variation-settings: "slnt" 10deg }
  //
  //
  @font-face {
    font-family: 'Inter var experimental';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("#{$path}/Inter.var.woff2?v=3.19") format("woff2");
  }
}
