@import 'common'
@import 'customProperties'

$cui-buildState-alreadyOutputRoot: false !default

@if $cui-buildState-alreadyOutputRoot == false
	$cui-buildState-alreadyOutputRoot: true

	:root
		+customProperties

		box-sizing: border-box
		*,
		*::before,
		*::after
			box-sizing: inherit

	*
		--cui-control-focus-ring-box-shadow: 0 0 0 .2em var(--cui-control-border-color)
		--cui-control-focus-ring-box-shadow-error: 0 0 0 .2em rgb(var(--cui-theme-danger-500))

	html, body
		margin: 0
		padding: 0

	html
		display: flex

	body
		flex: 1 1 100%

	// HELPER: Use when aligning items
	.#{$cui-conf-globalPrefix}show-guides *
		outline: 0.125px dashed red

@import 'themeSchemes'
