@import './../../../../node_modules/@mangoweb/sass-base/_variables';
@import './functions/index';

// Diameter of rounded objects is larger
$extra-optical-size-rounded-rectangle: 0.2146;
$extra-optical-size-circle: 0.1284;

// The maximum value is reduced by 0.02px to work around the limitations of
// `min-` and `max-` prefixes and viewports with fractional widths.
// See https://www.w3.org/TR/mediaqueries-4/#mq-min-max
// Uses 0.02px rather than 0.01px to work around a current rounding bug in Safari.
// See https://bugs.webkit.org/show_bug.cgi?id=178261
//
//    min-width: 798px
//    max-width: 767.98px
$breakpoint-max-offset: -0.02px;

$breakpoint-xsmall: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;
$breakpoint-xxlarge: 1366px;
$breakpoint-xxxlarge: 1600px;

$breakpoint-min-xsmall: $breakpoint-xsmall;
$breakpoint-min-small: $breakpoint-small;
$breakpoint-min-medium: $breakpoint-medium;
$breakpoint-min-large: $breakpoint-large;
$breakpoint-min-xlarge: $breakpoint-xlarge;
$breakpoint-min-xxlarge: $breakpoint-xxlarge;
$breakpoint-min-xxxlarge: $breakpoint-xxxlarge;

$breakpoint-max-xsmall: $breakpoint-min-xsmall + $breakpoint-max-offset;
$breakpoint-max-small: $breakpoint-min-small + $breakpoint-max-offset;
$breakpoint-max-medium: $breakpoint-min-medium + $breakpoint-max-offset;
$breakpoint-max-large: $breakpoint-min-large + $breakpoint-max-offset;
$breakpoint-max-xlarge: $breakpoint-min-xlarge + $breakpoint-max-offset;
$breakpoint-max-xxlarge: $breakpoint-min-xxlarge + $breakpoint-max-offset;
$breakpoint-max-xxxlarge: $breakpoint-min-xxxlarge + $breakpoint-max-offset;

// "CUI" stands for Contember UI

// Core configurations
$cui-conf-globalPrefix: 'cui-' !default; // If you need to avoid a name conflict, you can prefix all CUI classes
$cui-conf-defaultView: default !default;

// Global values
$cui-color-blue: #3DA9EB !default;
$cui-color-purple: #9013FE !default;
$cui-color-green: #7ED321 !default;
$cui-color-yellow: #FFC416 !default;
$cui-color-orange: #FF7316 !default;
$cui-color-red: #FF312E !default;

$cui-color-white: #FFFFFF !default;
$cui-color-gray-1: #F4F4F4 !default;
$cui-color-gray-2: #E0E0E0 !default;
$cui-color-gray-3: #C6C6C6 !default;
$cui-color-gray-4: #A8A8A8 !default;
$cui-color-gray-5: #8D8D8D !default;
$cui-color-gray-6: #6F6F6F !default;
$cui-color-gray-7: #525252 !default;
$cui-color-gray-8: #393939 !default;
$cui-color-gray-9: #262626 !default;
$cui-color-black: #000000 !default;

$cui-color-primary: #15009C !default;
$cui-color-success: $cui-color-green !default;
$cui-color-warn: $cui-color-orange !default;
$cui-color-danger: $cui-color-red !default;
$cui-color-info: $cui-color-blue !default;

// Common, super-global settings

$cui-base-lineHeight: 1.2 !default; // In order for computations to work, keep this a scalar

// - Global controls
$cui-control-validation-valid-color: $cui-color-success !default;
$cui-control-validation-valid-border-color: darken($cui-color-success, 5) !default;
$cui-control-validation-valid: (
	'color': $cui-control-validation-valid-color,
	'borderColor': $cui-control-validation-valid-border-color,
);
$cui-control-validation-invalid-color: $cui-color-danger !default;
$cui-control-validation-invalid-border-color: darken($cui-color-danger, 5) !default;
$cui-control-validation-invalid: (
	'color': $cui-control-validation-invalid-color,
	'borderColor': $cui-control-validation-invalid-border-color,
);

$cui-control-validation: () !default;
$cui-control-validation: map_merge((
	'valid': $cui-control-validation-valid,
	'invalid': $cui-control-validation-invalid,
), $cui-control-validation);

// Heading
$cui-heading-color: $cui-color-gray-9 !default;
$cui-heading-color-subtle: $cui-color-gray-8 !default;

$cui-heading-1-fontSize-default: 2em !default;
$cui-heading-2-fontSize-default: 1.75em !default;
$cui-heading-3-fontSize-default: 1.5em !default;
$cui-heading-4-fontSize-default: 1.3em !default;
$cui-heading-5-fontSize-default: 1.15em !default;
$cui-heading-6-fontSize-default: 1em !default;

$cui-heading-1-fontSize-small: 1.3em !default;
$cui-heading-2-fontSize-small: 1.15em !default;
$cui-heading-3-fontSize-small: 1em !default;
$cui-heading-4-fontSize-small: .95em !default;
$cui-heading-5-fontSize-small: .925em !default;
$cui-heading-6-fontSize-small: .9em !default;

$cui-heading-sizes: (
	$cui-conf-defaultView: (
		$cui-heading-1-fontSize-default,
		$cui-heading-2-fontSize-default,
		$cui-heading-3-fontSize-default,
		$cui-heading-4-fontSize-default,
		$cui-heading-5-fontSize-default,
		$cui-heading-6-fontSize-default,
	),
	'small': (
		$cui-heading-1-fontSize-small,
		$cui-heading-2-fontSize-small,
		$cui-heading-3-fontSize-small,
		$cui-heading-4-fontSize-small,
		$cui-heading-5-fontSize-small,
		$cui-heading-6-fontSize-small,
	),
);

// Spacing
$cui-gap: 0.25em;

// Panels
$cui-panel-paddingY: $cui-gap;
$cui-panel-paddingX: $cui-gap;
$cui-light-panel-background: $cui-color-white;
$cui-light-body-background: #f8f8f8;

// Icon
$cui-icon-default-size: 1em !default;
$cui-icon-small-size: .75em !default;
$cui-icon-large-size: 1.5em !default;
$cui-icon-lowercase-size: 1ex !default;

$cui-icon-sizes: () !default;
$cui-icon-sizes: map_merge((
	$cui-conf-defaultView: $cui-icon-default-size,
	'small': $cui-icon-small-size,
	'large': $cui-icon-large-size,
	'lowercase': $cui-icon-lowercase-size,
), $cui-icon-sizes);

// Navigation
$cui-navigation-text-color: $cui-color-gray-8 !default;
$cui-navigation-title-font-weight: $fw-bold;
$cui-navigation-inactive-opacity: .8 !default;
$cui-navigation-active-color: darken($cui-color-primary, 5) !default;
$cui-navigation-hover-color: $cui-color-primary !default;
$cui-navigation-inactive-color: $cui-color-gray-6 !default;
$cui-navigation-focus-background-color: rgba($cui-navigation-active-color, .2) !default;

// Breadcrumbs
$cui-breadcrumbs-text-color: $cui-navigation-text-color;
$cui-breadcrumbs-link-color: $cui-navigation-active-color;
$cui-breadcrumbs-link-hover-color: $cui-navigation-hover-color;
$cui-breadcrumbs-link-focus-background-color: $cui-navigation-focus-background-color;
$cui-breadcrumbs-link-font-weight: $cui-navigation-title-font-weight;
$cui-breadcrumbs-sep-color: $cui-color-gray-7;

// Spinner
$cui-spinner-softColor: currentColor !default;
$cui-spinner-accentColor: transparent !default;

// Container spinner
$cui-containerSpinner-default-size: 2.5em !default;
$cui-containerSpinner-small-size: 1.5em !default;
$cui-containerSpinner-large-size: 4em !default;

$cui-containerSpinner-sizes: () !default;
$cui-containerSpinner-sizes: map_merge((
	$cui-conf-defaultView: $cui-containerSpinner-default-size,
	'small': $cui-containerSpinner-small-size,
	'large': $cui-containerSpinner-large-size,
), $cui-containerSpinner-sizes);


// Table
$cui-table-small: (
	'spacingX': .4em,
	'spacingY': .4em,
	'font-size': .9em,
) !default;
$cui-table-default: (
	'spacingX': .75em,
	'spacingY': .75em,
	'font-size': 1em,
) !default;
$cui-table-large: (
	'spacingX': 1em,
	'spacingY': 1em,
	'font-size': 1.3em,
) !default;

$cui-table-sizes: () !default;
$cui-table-sizes: map_merge((
	$cui-conf-defaultView: $cui-table-default,
	'small': $cui-table-small,
	'large': $cui-table-large,
), $cui-table-sizes);


// Tag
$cui-tag-color: $cui-color-white;
$cui-tag-background: $cui-color-gray-6;
$cui-tag-remove-color: $cui-color-gray-3;
$cui-tag-remove-color-focused: $cui-color-white;


// DimensionSwitcher
$cui-dimensionSwitcher-border: solid 1px #E5E5E5;
$cui-dimensionSwitcher-spacing: 1em;

// ProgressBar
$cui-progressBar-background-color: #444444;
$cui-progressBar-foreground-color: #85FF00;

// Editor
$cui-editor-heading-counters: (
	"#{$cui-conf-globalPrefix}editorHeading-1"
	"#{$cui-conf-globalPrefix}editorHeading-2"
	"#{$cui-conf-globalPrefix}editorHeading-3"
	"#{$cui-conf-globalPrefix}editorHeading-4"
	"#{$cui-conf-globalPrefix}editorHeading-5"
	"#{$cui-conf-globalPrefix}editorHeading-6"
);
$cui-editor-paragraph-counter: "#{$cui-conf-globalPrefix}editorParagraph-counter"
