@import './../../node_modules/@mangoweb/sass-base/crucialVariables';
@import './../../node_modules/@mangoweb/sass-base/functions/index';
@import './functions/index';

// "CUI" stands for Contember UI

// Core configurations
$cui-conf-globalPrefix: 'cui-' !default; // If you need to avoid a name conflict, you can prefix all CUI classes
$cui-conf-rootSelector: ':root'; // Override this if you need to scope CUI custom properties. See _root.sass
$cui-conf-defaultView: default !default;

// Global values
$cui-color-blue: #0094FF !default;
$cui-color-pink: #FF25C3 !default;
$cui-color-purple: #9013FE !default;
$cui-color-green: #7ED321 !default;
$cui-color-yellow: #FFC416 !default;
$cui-color-red: #FF312E !default;

$cui-color-white: #FFFFFF !default;
$cui-color-gray-1: #F4F4F4 !default;
$cui-color-gray-2: #E0E0E0 !default;
$cui-color-gray-3: #C6C6C6 !default;
$cui-color-gray-4: #A8A8A8 !default;
$cui-color-gray-5: #8D8D8D !default;
$cui-color-gray-6: #6F6F6F !default;
$cui-color-gray-7: #525252 !default;
$cui-color-gray-8: #393939 !default;
$cui-color-gray-9: #262626 !default;
$cui-color-gray-10: #161616 !default;
$cui-color-black: #000000 !default;


$cui-color-bland: $cui-color-gray-3 !default;
$cui-color-primary: $cui-color-blue !default;
$cui-color-secondary: $cui-color-pink !default;
$cui-color-tertiary: $cui-color-purple !default;
$cui-color-success: $cui-color-green !default;
$cui-color-warn: $cui-color-yellow !default;
$cui-color-danger: $cui-color-red !default;
$cui-color-info: $cui-color-blue !default;
$cui-color-dark: $cui-color-gray-8 !default;
$cui-color-inactive: $cui-color-gray-6 !default;

// Common, super-global settings

$cui-base-lineHeight: 1.2 !default; // In order for computations to work, keep this a scalar

// - Global controls
$cui-effect-transition-duration: .3s !default;

$cui-control-border-width: em(1px) !default;
$cui-control-border-radius: em(3px) !default;

$cui-control-view-default-color: $cui-color-gray-7 !default;
$cui-control-view-default-background: $cui-color-white !default;
$cui-control-view-default-border-color: $cui-color-gray-2 !default;
$cui-control-view-default-distinction-color: $cui-color-primary !default;
$cui-control-view-default: (
	'color': $cui-control-view-default-color,
	'background': $cui-control-view-default-background,
	'borderColor': $cui-control-view-default-border-color,
	'distinctionColor': $cui-control-view-default-distinction-color,
) !default;

$cui-control-variants: () !default;
$cui-control-variants: map_merge((
	$cui-conf-defaultView: $cui-control-view-default,
), $cui-control-variants);


$cui-control-validation-valid-color: $cui-color-success !default;
$cui-control-validation-valid-border-color: darken($cui-color-success, 5) !default;
$cui-control-validation-valid: (
	'color': $cui-control-validation-valid-color,
	'borderColor': $cui-control-validation-valid-border-color,
);
$cui-control-validation-invalid-color: $cui-color-danger !default;
$cui-control-validation-invalid-border-color: darken($cui-color-danger, 5) !default;
$cui-control-validation-invalid: (
	'color': $cui-control-validation-invalid-color,
	'borderColor': $cui-control-validation-invalid-border-color,
);

$cui-control-validation: () !default;
$cui-control-validation: map_merge((
	'valid': $cui-control-validation-valid,
	'invalid': $cui-control-validation-invalid,
), $cui-control-validation);


$cui-control-small-height: 1.5em !default;
$cui-control-default-height: 2em !default;
$cui-control-large-height: 2.5em !default;

$cui-control-small-font-size: .9em !default;
$cui-control-default-font-size: 1em !default;
$cui-control-large-font-size: 1.3em !default;

$cui-control-size-small: (
	'height': $cui-control-small-height,
	'fontSize': $cui-control-small-font-size,
) !default;

$cui-control-size-default: (
	'height': $cui-control-default-height,
	'fontSize': $cui-control-default-font-size,
) !default;

$cui-control-size-large: (
	'height': $cui-control-large-height,
	'fontSize': $cui-control-large-font-size,
) !default;

$cui-control-sizes: () !default;
$cui-control-sizes: map_merge((
	$cui-conf-defaultView: $cui-control-size-default,
	'small': $cui-control-size-small,
	'large': $cui-control-size-large,
), $cui-control-sizes);


$cui-control-inactive-opacity: .6 !default;

// Aether
$cui-aether-background: #F7F7F7 !default;

// Select
$cui-select-chevron-background: $cui-color-gray-2 !default;
$cui-select-hover-chevron-background: $cui-color-gray-3 !default;
$cui-select-chevron-height: .5em !default;


// Buttons
$cui-button-effect-transition-duration: .15s !default;

$cui-button-bland-opacity: .75 !default;

$cui-button-view-default-color: $cui-color-gray-7 !default;
$cui-button-view-default-background: $cui-color-gray-1 !default;
$cui-button-view-default-border-color: $cui-color-gray-3 !default;
$cui-button-view-default-distinction-color: $cui-color-gray-7 !default;
$cui-button-view-default: (
	'color': $cui-button-view-default-color,
	'background': $cui-button-view-default-background,
	'borderColor': $cui-button-view-default-border-color,
	'distinctionColor': $cui-button-view-default-distinction-color,
) !default;

$cui-button-view-primary-color: $cui-color-white !default;
$cui-button-view-primary-background: $cui-color-primary !default;
$cui-button-view-primary-border-color: darken($cui-color-primary, 5) !default;
$cui-button-view-primary-distinction-color: $cui-color-primary !default;
$cui-button-view-primary: (
	'color': $cui-button-view-primary-color,
	'background': $cui-button-view-primary-background,
	'borderColor': $cui-button-view-primary-border-color,
	'distinctionColor': $cui-button-view-primary-distinction-color,
) !default;

$cui-button-view-secondary-color: $cui-color-white !default;
$cui-button-view-secondary-background: $cui-color-secondary !default;
$cui-button-view-secondary-border-color: darken($cui-color-secondary, 5) !default;
$cui-button-view-secondary-distinction-color: $cui-color-secondary !default;
$cui-button-view-secondary: (
	'color': $cui-button-view-secondary-color,
	'background': $cui-button-view-secondary-background,
	'borderColor': $cui-button-view-secondary-border-color,
	'distinctionColor': $cui-button-view-secondary-distinction-color,
) !default;

$cui-button-view-tertiary-color: $cui-color-white !default;
$cui-button-view-tertiary-background: $cui-color-tertiary !default;
$cui-button-view-tertiary-border-color: darken($cui-color-tertiary, 5) !default;
$cui-button-view-tertiary-distinction-color: $cui-color-tertiary !default;
$cui-button-view-tertiary: (
	'color': $cui-button-view-tertiary-color,
	'background': $cui-button-view-tertiary-background,
	'borderColor': $cui-button-view-tertiary-border-color,
	'distinctionColor': $cui-button-view-tertiary-distinction-color,
) !default;

$cui-button-view-success-color: $cui-color-white !default;
$cui-button-view-success-background: $cui-color-success !default;
$cui-button-view-success-border-color: darken($cui-color-success, 5) !default;
$cui-button-view-success-distinction-color: $cui-color-success !default;
$cui-button-view-success: (
	'color': $cui-button-view-success-color,
	'background': $cui-button-view-success-background,
	'borderColor': $cui-button-view-success-border-color,
	'distinctionColor': $cui-button-view-success-distinction-color,
) !default;

$cui-button-view-warn-color: $cui-color-white !default;
$cui-button-view-warn-background: $cui-color-warn !default;
$cui-button-view-warn-border-color: darken($cui-color-warn, 5) !default;
$cui-button-view-warn-distinction-color: $cui-color-warn !default;
$cui-button-view-warn: (
	'color': $cui-button-view-warn-color,
	'background': $cui-button-view-warn-background,
	'borderColor': $cui-button-view-warn-border-color,
	'distinctionColor': $cui-button-view-warn-distinction-color,
) !default;

$cui-button-view-danger-color: $cui-color-white !default;
$cui-button-view-danger-background: $cui-color-danger !default;
$cui-button-view-danger-border-color: darken($cui-color-danger, 5) !default;
$cui-button-view-danger-distinction-color: $cui-color-danger !default;
$cui-button-view-danger: (
	'color': $cui-button-view-danger-color,
	'background': $cui-button-view-danger-background,
	'borderColor': $cui-button-view-danger-border-color,
	'distinctionColor': $cui-button-view-danger-distinction-color,
) !default;

$cui-button-view-dark-color: $cui-color-gray-2 !default;
$cui-button-view-dark-background: $cui-color-dark !default;
$cui-button-view-dark-border-color: darken($cui-color-dark, 5) !default;
$cui-button-view-dark-distinction-color: $cui-color-dark !default;
$cui-button-view-dark: (
	'color': $cui-button-view-dark-color,
	'background': $cui-button-view-dark-background,
	'borderColor': $cui-button-view-dark-border-color,
	'distinctionColor': $cui-button-view-dark-distinction-color,
) !default;


$cui-button-variants: () !default;
$cui-button-variants: map_merge((
	$cui-conf-defaultView: $cui-button-view-default,
	'primary': $cui-button-view-primary,
	'secondary': $cui-button-view-secondary,
	'tertiary': $cui-button-view-tertiary,
	'success': $cui-button-view-success,
	'warn': $cui-button-view-warn,
	'danger': $cui-button-view-danger,
	'dark': $cui-button-view-dark,
), $cui-button-variants);


$cui-button-small-height: $cui-control-small-height !default;
$cui-button-small-font-size: $cui-control-small-font-size !default;
$cui-button-size-small: (
	'height': $cui-button-small-height,
	'fontSize': $cui-button-small-font-size,
) !default;

$cui-button-default-height: $cui-control-default-height !default;
$cui-button-default-font-size: $cui-control-default-font-size !default;
$cui-button-size-default: (
	'height': $cui-button-default-height,
	'fontSize': $cui-button-default-font-size,
) !default;

$cui-button-large-height: $cui-control-large-height !default;
$cui-button-large-font-size: $cui-control-large-font-size !default;
$cui-button-size-large: (
	'height': $cui-button-large-height,
	'fontSize': $cui-button-large-font-size,
) !default;


$cui-button-sizes: () !default;
$cui-button-sizes: map_merge((
	$cui-conf-defaultView: $cui-button-size-default,
	'small': $cui-button-size-small,
	'large': $cui-button-size-large,
), $cui-button-sizes);


$cui-button-list-separation-x: .5em !default;
$cui-button-list-separation-y: .5em !default;

// Message
$cui-message-size-small: .8em !default;
$cui-message-size-default: 1em !default;
$cui-message-size-large: 1.2em !default;

$cui-message-sizes: () !default;
$cui-message-sizes: map_merge((
	$cui-conf-defaultView: $cui-message-size-default,
	'small': $cui-message-size-small,
	'large': $cui-message-size-large,
), $cui-message-sizes);


$cui-message-common-boxShadow: 0 em(4px) em(6px) rgba($cui-color-black, .1), 0 em(8px) em(12px) rgba($cui-color-black, .1), 0 em(16px) em(24px) rgba($cui-color-black, .1) !default;

$cui-message-default-defaultColor: $cui-color-gray-5 !default;
$cui-message-default-strikingColor: $cui-color-white !default;
$cui-message-default-background: $cui-color-gray-4 !default;
$cui-message-default-boxShadow: $cui-message-common-boxShadow !default;

$cui-message-success-defaultColor: $cui-color-success !default;
$cui-message-success-strikingColor: $cui-color-white !default;
$cui-message-success-background: $cui-color-success !default;
$cui-message-success-boxShadow: $cui-message-default-boxShadow !default;

$cui-message-info-defaultColor: $cui-color-info !default;
$cui-message-info-strikingColor: $cui-color-white !default;
$cui-message-info-background: $cui-color-info !default;
$cui-message-info-boxShadow: $cui-message-default-boxShadow !default;

$cui-message-warn-defaultColor: $cui-color-warn !default;
$cui-message-warn-strikingColor: $cui-color-white !default;
$cui-message-warn-background: $cui-color-warn !default;
$cui-message-warn-boxShadow: $cui-message-default-boxShadow !default;

$cui-message-danger-defaultColor: $cui-color-danger !default;
$cui-message-danger-strikingColor: $cui-color-white !default;
$cui-message-danger-background: $cui-color-danger !default;
$cui-message-danger-boxShadow: $cui-message-default-boxShadow !default;


$cui-message-border-radius: .3em !default;

$cui-message-variants: () !default;
$cui-message-variants: map_merge((
	$cui-conf-defaultView: (
		'defaultColor': $cui-message-default-defaultColor,
		'strikingColor': $cui-message-default-strikingColor,
		'background': $cui-message-default-background,
		'boxShadow': $cui-message-default-boxShadow,
	),
	'success': (
		'defaultColor': $cui-message-success-defaultColor,
		'strikingColor': $cui-message-success-strikingColor,
		'background': $cui-message-success-background,
		'boxShadow': $cui-message-success-boxShadow,
	),
	'info': (
		'defaultColor': $cui-message-info-defaultColor,
		'strikingColor': $cui-message-info-strikingColor,
		'background': $cui-message-info-background,
		'boxShadow': $cui-message-info-boxShadow,
	),
	'warn': (
		'defaultColor': $cui-message-warn-defaultColor,
		'strikingColor': $cui-message-warn-strikingColor,
		'background': $cui-message-warn-background,
		'boxShadow': $cui-message-warn-boxShadow,
	),
	'danger': (
		'defaultColor': $cui-message-danger-defaultColor,
		'strikingColor': $cui-message-danger-strikingColor,
		'background': $cui-message-danger-background,
		'boxShadow': $cui-message-danger-boxShadow,
	),
), $cui-message-variants);

// FormGroup
$cui-formGroup-separation: 1em !default;
$cui-formGroup-label-color: $cui-color-gray-8 !default;
$cui-formGroup-labelDescription-color: $cui-color-gray-4 !default;
$cui-formGroup-description-color: $cui-color-gray-4 !default;

$cui-formGroup-size-small: .7em !default;
$cui-formGroup-size-default: .8em !default;
$cui-formGroup-size-large: 1.1em !default;

$cui-formGroup-sizes: () !default;
$cui-formGroup-sizes: map_merge((
	$cui-conf-defaultView: $cui-formGroup-size-default,
	'small': $cui-formGroup-size-small,
	'large': $cui-formGroup-size-large,
), $cui-formGroup-sizes);


// Collapsible
$cui-collapsible-transition-duration: .2s !default;


// Heading
$cui-heading-color: $cui-color-gray-9 !default;
$cui-heading-color-subtle: $cui-color-gray-8 !default;

$cui-heading-1-fontSize-default: 2em !default;
$cui-heading-2-fontSize-default: 1.75em !default;
$cui-heading-3-fontSize-default: 1.5em !default;
$cui-heading-4-fontSize-default: 1.3em !default;
$cui-heading-5-fontSize-default: 1.15em !default;
$cui-heading-6-fontSize-default: 1em !default;

$cui-heading-1-fontSize-small: 1.3em !default;
$cui-heading-2-fontSize-small: 1.15em !default;
$cui-heading-3-fontSize-small: 1em !default;
$cui-heading-4-fontSize-small: .95em !default;
$cui-heading-5-fontSize-small: .925em !default;
$cui-heading-6-fontSize-small: .9em !default;

$cui-heading-sizes: (
	$cui-conf-defaultView: (
		$cui-heading-1-fontSize-default,
		$cui-heading-2-fontSize-default,
		$cui-heading-3-fontSize-default,
		$cui-heading-4-fontSize-default,
		$cui-heading-5-fontSize-default,
		$cui-heading-6-fontSize-default,
	),
	'small': (
		$cui-heading-1-fontSize-small,
		$cui-heading-2-fontSize-small,
		$cui-heading-3-fontSize-small,
		$cui-heading-4-fontSize-small,
		$cui-heading-5-fontSize-small,
		$cui-heading-6-fontSize-small,
	),
);

// Boxes
$cui-box-active-color: $cui-control-view-default-distinction-color !default;

$cui-box-depth-1-background: $cui-color-white !default;
$cui-box-depth-1-separation: $cui-heading-1-fontSize-small !default;
$cui-box-depth-1-separation-color: rgba($cui-color-gray-8, .15) !default;
$cui-box-depth-1-border-radius: em(3px) !default;
$cui-box-depth-1-padding-x: $cui-heading-1-fontSize-small * .85 !default;
$cui-box-depth-1-padding-y: $cui-heading-1-fontSize-small * .85 !default;
$cui-box-depth-1-boxShadow: 0 0 0 em(1px) rgba($cui-color-gray-8, .05), 0 em(1px) em(3px) 0 rgba($cui-color-gray-8, .15) !default;

$cui-box-depth-2-background: darken($cui-box-depth-1-background, 1%) !default;
$cui-box-depth-2-separation: $cui-heading-2-fontSize-small !default;
$cui-box-depth-2-separation-color: rgba($cui-color-gray-8, .15) !default;
$cui-box-depth-2-border-radius: em(2.5px) !default;
$cui-box-depth-2-padding-x: $cui-heading-2-fontSize-small * .85 !default;
$cui-box-depth-2-padding-y: $cui-heading-2-fontSize-small * .85 !default;
$cui-box-depth-2-boxShadow: 0 0 0 em(1px) rgba($cui-color-gray-8, .05), 0 em(1px) em(2.75px) 0 rgba($cui-color-gray-8, .17) !default;

$cui-box-depth-3-background: darken($cui-box-depth-2-background, 1%) !default;
$cui-box-depth-3-separation: $cui-heading-3-fontSize-small !default;
$cui-box-depth-3-separation-color: rgba($cui-color-gray-8, .15) !default;
$cui-box-depth-3-border-radius: em(2px) !default;
$cui-box-depth-3-padding-x: $cui-heading-3-fontSize-small * .85 !default;
$cui-box-depth-3-padding-y: $cui-heading-3-fontSize-small * .85 !default;
$cui-box-depth-3-boxShadow: 0 0 0 em(1px) rgba($cui-color-gray-8, .05), 0 em(1px) em(2.5px) 0 rgba($cui-color-gray-8, .19) !default;

$cui-box-depth-4-background: darken($cui-box-depth-3-background, 1%) !default;
$cui-box-depth-4-separation: $cui-heading-4-fontSize-small !default;
$cui-box-depth-4-separation-color: rgba($cui-color-gray-8, .15) !default;
$cui-box-depth-4-border-radius: em(1.75px) !default;
$cui-box-depth-4-padding-x: $cui-heading-4-fontSize-small * .85 !default;
$cui-box-depth-4-padding-y: $cui-heading-4-fontSize-small * .85 !default;
$cui-box-depth-4-boxShadow: 0 0 0 em(1px) rgba($cui-color-gray-8, .05), 0 em(1px) em(2px) 0 rgba($cui-color-gray-8, .21) !default;

$cui-box-depth-5-background: darken($cui-box-depth-4-background, 1%) !default;
$cui-box-depth-5-separation: $cui-heading-5-fontSize-small !default;
$cui-box-depth-5-separation-color: rgba($cui-color-gray-8, .15) !default;
$cui-box-depth-5-border-radius: em(1.5px) !default;
$cui-box-depth-5-padding-x: $cui-heading-5-fontSize-small * .85 !default;
$cui-box-depth-5-padding-y: $cui-heading-5-fontSize-small * .85 !default;
$cui-box-depth-5-boxShadow: 0 0 0 em(1px) rgba($cui-color-gray-8, .05), 0 em(1px) em(1.75px) 0 rgba($cui-color-gray-8, .23) !default;

$cui-box-depth-6-background: darken($cui-box-depth-5-background, 1%) !default;
$cui-box-depth-6-separation: $cui-heading-6-fontSize-small !default;
$cui-box-depth-6-separation-color: rgba($cui-color-gray-8, .15) !default;
$cui-box-depth-6-border-radius: em(1.25px) !default;
$cui-box-depth-6-padding-x: $cui-heading-6-fontSize-small * .85 !default;
$cui-box-depth-6-padding-y: $cui-heading-6-fontSize-small * .85 !default;
$cui-box-depth-6-boxShadow: 0 0 0 em(1px) rgba($cui-color-gray-8, .05), 0 em(1px) em(1.5px) 0 rgba($cui-color-gray-8, .25) !default;

$cui-box-depths: (
	(
		'background': $cui-box-depth-1-background,
		'separation': $cui-box-depth-1-separation,
		'borderRadius': $cui-box-depth-1-border-radius,
		'paddingX': $cui-box-depth-1-padding-x,
		'paddingY': $cui-box-depth-1-padding-y,
		'separationColor': $cui-box-depth-1-separation-color,
		'boxShadow': $cui-box-depth-1-boxShadow,
	),
	(
		'background': $cui-box-depth-2-background,
		'separation': $cui-box-depth-2-separation,
		'borderRadius': $cui-box-depth-2-border-radius,
		'paddingX': $cui-box-depth-2-padding-x,
		'paddingY': $cui-box-depth-2-padding-y,
		'separationColor': $cui-box-depth-2-separation-color,
		'boxShadow': $cui-box-depth-2-boxShadow,
	),
	(
		'background': $cui-box-depth-3-background,
		'separation': $cui-box-depth-3-separation,
		'borderRadius': $cui-box-depth-3-border-radius,
		'paddingX': $cui-box-depth-3-padding-x,
		'paddingY': $cui-box-depth-3-padding-y,
		'separationColor': $cui-box-depth-3-separation-color,
		'boxShadow': $cui-box-depth-3-boxShadow,
	),
	(
		'background': $cui-box-depth-4-background,
		'separation': $cui-box-depth-4-separation,
		'borderRadius': $cui-box-depth-4-border-radius,
		'paddingX': $cui-box-depth-4-padding-x,
		'paddingY': $cui-box-depth-4-padding-y,
		'separationColor': $cui-box-depth-4-separation-color,
		'boxShadow': $cui-box-depth-4-boxShadow,
	),
	(
		'background': $cui-box-depth-5-background,
		'separation': $cui-box-depth-5-separation,
		'borderRadius': $cui-box-depth-5-border-radius,
		'paddingX': $cui-box-depth-5-padding-x,
		'paddingY': $cui-box-depth-5-padding-y,
		'separationColor': $cui-box-depth-5-separation-color,
		'boxShadow': $cui-box-depth-5-boxShadow,
	),
	(
		'background': $cui-box-depth-6-background,
		'separation': $cui-box-depth-6-separation,
		'borderRadius': $cui-box-depth-6-border-radius,
		'paddingX': $cui-box-depth-6-padding-x,
		'paddingY': $cui-box-depth-6-padding-y,
		'separationColor': $cui-box-depth-6-separation-color,
		'boxShadow': $cui-box-depth-6-boxShadow,
	),
) !default;


// Icon
$cui-icon-default-size: 1em !default;
$cui-icon-small-size: .75em !default;
$cui-icon-large-size: 1.5em !default;
$cui-icon-lowercase-size: 1ex !default;

$cui-icon-sizes: () !default;
$cui-icon-sizes: map_merge((
	$cui-conf-defaultView: $cui-icon-default-size,
	'small': $cui-icon-small-size,
	'large': $cui-icon-large-size,
	'lowercase': $cui-icon-lowercase-size,
), $cui-icon-sizes);


// Menu
$cui-menu-vertical-padding: rem(6px) !default;
$cui-menu-horizontal-padding: rem(20px) !default;
$cui-menu-group-title-font-size: rem(10px) !default;
$cui-menu-group-color: $cui-color-gray-4 !default;
$cui-menu-subgroup-title-font-size: rem(12px) !default;
$cui-menu-subgroup-hover-color: $cui-color-primary !default;
$cui-menu-subgroup-active-color: darken($cui-color-primary, 5) !default;
$cui-menu-subgroup-inactive-color: $cui-color-gray-8 !default;
$cui-menu-hover-background: $cui-color-gray-1 !default;
$cui-menu-active-background: transparent !default; // $cui-color-gray-2 !default;
$cui-menu-action-title-font-size: rem(12px) !default;
$cui-menu-action-inactive-opacity: .8 !default;
$cui-menu-action-hover-color: $cui-color-primary !default;
$cui-menu-action-active-color: darken($cui-color-primary, 5) !default;
$cui-menu-action-inactive-color: $cui-color-gray-6 !default;
$cui-menu-caret-transition-duration: $cui-collapsible-transition-duration !default;
$cui-menu-action-focus-color: rgba($cui-menu-action-active-color, .2) !default;


// Spinner
$cui-spinner-softColor: currentColor !default;
$cui-spinner-accentColor: transparent !default;
$cui-spinner-period: .6s !default;

// Container spinner
$cui-containerSpinner-default-size: 2.5em !default;
$cui-containerSpinner-small-size: 1.5em !default;
$cui-containerSpinner-large-size: 4em !default;

$cui-containerSpinner-sizes: () !default;
$cui-containerSpinner-sizes: map_merge((
	$cui-conf-defaultView: $cui-containerSpinner-default-size,
	'small': $cui-containerSpinner-small-size,
	'large': $cui-containerSpinner-large-size,
), $cui-containerSpinner-sizes);


// Dropdown
$cui-dropdown-zIndex: 100 !default;
$cui-dropdown-content-color: $cui-color-black !default;
$cui-dropdown-content-background: $cui-box-depth-1-background !default;
$cui-dropdown-content-boxShadow: $cui-box-depth-1-boxShadow !default;
$cui-dropdown-content-border-radius: $cui-control-border-radius + $cui-control-border-width !default;
$cui-dropdown-button-content-gap-size: .3em !default;
$cui-dropdown-transition-duration: .1s !default;


// Table
$cui-table-small: (
	'spacingX': .4em,
	'spacingY': .4em,
	'font-size': .9em,
) !default;
$cui-table-default: (
	'spacingX': .75em,
	'spacingY': .75em,
	'font-size': 1em,
) !default;
$cui-table-large: (
	'spacingX': 1em,
	'spacingY': 1em,
	'font-size': 1.3em,
) !default;

$cui-table-sizes: () !default;
$cui-table-sizes: map_merge((
	$cui-conf-defaultView: $cui-table-default,
	'small': $cui-table-small,
	'large': $cui-table-large,
), $cui-table-sizes);


// Tag
$cui-tag-color: $cui-color-white;
$cui-tag-background: $cui-color-gray-6;
$cui-tag-remove-color: $cui-color-gray-3;
$cui-tag-remove-color-focused: $cui-color-white;


// Breadcrumbs
$cui-breadcrumbs-text-color: #838383;
$cui-breadcrumbs-link-color: $cui-color-primary;
$cui-breadcrumbs-sep-color: #444444;


// DimensionSwitcher
$cui-dimensionSwitcher-border: solid 1px #E5E5E5;
$cui-dimensionSwitcher-spacing: 1em;


// Layout
$cui-layout-background: #FFFFFF;
$cui-layout-border: solid 1px #E5E5EC;
$cui-layout-sidebar-width: em(260px);
$cui-editable-width: 60em;
$cui-topBar-right-safeSpace: 14em;

// ProgressBar
$cui-progressBar-background-color: #444444;
$cui-progressBar-foreground-color: #85FF00;

// FileDropZone
$cui-fileDropZone-border-color: #DFDFDF;
$cui-fileDropZone-active-border-color: $cui-box-active-color;
$cui-fileDropZone-accepting-border-color: $cui-box-active-color; // Deliberately active, and not success
$cui-fileDropZone-rejecting-border-color: $cui-control-validation-invalid-border-color;

// Editor
$cui-editor-heading-counters: (
	"#{$cui-conf-globalPrefix}editorHeading-1"
	"#{$cui-conf-globalPrefix}editorHeading-2"
	"#{$cui-conf-globalPrefix}editorHeading-3"
	"#{$cui-conf-globalPrefix}editorHeading-4"
	"#{$cui-conf-globalPrefix}editorHeading-5"
	"#{$cui-conf-globalPrefix}editorHeading-6"
);
$cui-editor-paragraph-counter: "#{$cui-conf-globalPrefix}editorParagraph-counter"
