@import '~@mangoweb/sass-base/crucialVariables';
@import '~@mangoweb/sass-base/functions/index';
@import './functions/index';

// "CUI" stands for Contember UI

// Core configurations
$cui-conf-globalPrefix: '' !default; // If you need to avoid a name conflict, you can prefix all CUI classes
$cui-conf-viewClassCallback: 'formatViewClass' !default;
$cui-conf-stateClassCallback: 'formatStateClass' !default;
$cui-conf-rootSelector: ':root'; // Override this if you need to scope CUI custom properties. See _root.sass
$cui-conf-defaultView: default !default;

// Global values
$cui-focusTransitionDuration: .3s !default;


// Buttons
$cui-button-focusTransitionDuration: $cui-focusTransitionDuration !default;


// FormGroup
$cui-formGroup-separation: 1.25em !default;


// Collapsible
$cui-collapsible-transition-duration: .2s !default;


// Spinner
$cui-spinner-appearSpeed: .2s !default;
$cui-spinner-color: currentColor !default;
$cui-spinner-period: 1.5s !default;
