:where(html),
:where(body) {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100dvh;
	min-width: 100vw;
	min-width: 100dvw;
	margin: 0;
	overscroll-behavior: none;
	padding: 0;
}

:where(html) {
	display: flex;
	min-height: 100vh;
	min-height: 100dvh;
	-webkit-text-size-adjust: 100%;
}

:where(body) {
	flex: 1 1 100%;
}

:where(body > div) {
	display: contents
}

:where(h1, h2, h3, h4, h5, h6, p, pre):last-child {
	margin-bottom: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, pre):first-child {
	margin-top: 0;
}

:where(.cui-slug-input-input .cui-text-input::-moz-focus-inner),
:where(.cui-slug-input-prefix-link::-moz-focus-inner),
:where(.cui-button::-moz-focus-inner),
:where(.cui-tag-remove::-moz-focus-inner),
:where(.cui-editorTable-appendRow::-moz-focus-inner),
:where(.cui-editorTable-appendColumn::-moz-focus-inner),
:where(.cui-editorTable-rowControls-item::-moz-focus-inner),
:where(.cui-editorTable-columnControls-item::-moz-focus-inner),
:where(.cui-editorCanvas [contenteditable=true]::-moz-focus-inner),
:where(.cui-editorCanvas:focus-within::-moz-focus-inner),
:where(.cui-textarea-input::-moz-focus-inner),
:where(.cui-text-input::-moz-focus-inner),
:where(.cui-editorCanvas::-moz-focus-inner) {
	border: 0;
}

:where(.cui-slug-input-input .cui-text-input),
:where(.cui-slug-input-prefix-link),
:where(.cui-tag-remove),
:where(.cui-editorTable-appendRow),
:where(.cui-editorTable-appendColumn),
:where(.cui-editorTable-rowControls-item),
:where(.cui-editorTable-columnControls-item),
:where(.cui-editorCanvas *[contenteditable=true]),
:where(.cui-editorCanvas:focus-within),
:where(.cui-textarea-input),
:where(.cui-text-input),
:where(.cui-editorCanvas) {
	outline: none;
}

:where(.cui-textarea-input),
:where(.cui-text-input) {
	--cui-control-line-height: var(--cui-line-height);
	display: block;
	font-family: inherit;
	transition-duration: var(--cui-transition-duration--fast);
	transition-property: box-shadow, color, opacity;
	font-weight: 400;
	font-size: inherit;
	text-decoration: none;
	position: relative;
	margin: 0;
	border-style: solid;
	border-width: var(--cui-border-width, 1px);
	border-radius: var(--cui-border-radius--controls);
	resize: none;
	flex-basis: 2em;
	flex-grow: 1;
	overflow: hidden;
	line-height: var(--cui-control-line-height);
}

:where(.cui-root .cui-textarea-input),
:where(.cui-root .cui-text-input) {
	box-sizing: border-box;
}

:where(.cui-textarea-input:-webkit-autofill),
:where(.cui-text-input:-webkit-autofill) {
	-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
}

:where(.view-withTopToolbar.cui-textarea-input),
:where(.view-withTopToolbar.cui-text-input) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

:where(.cui-textarea-input),
:where(.cui-text-input) {
	--cui-min-height: var(--cui-size--controls);
	--cui-padding-horizontal: var(--cui-gutter);
	min-height: var(--cui-min-height);
	padding-left: var(--cui-padding-horizontal);
	padding-right: var(--cui-padding-horizontal);
	padding-top: 0;
	padding-bottom: 0;
}

:where(.cui-text-input) {
	max-height: var(--cui-min-height);
}

:where(.view-small.cui-textarea-input),
:where(.view-small.cui-text-input) {
	--cui-min-height: var(--cui-size--controls-small);
	--cui-padding-horizontal: calc(2 * var(--cui-gap));
}

:where(.view-large.cui-textarea-input),
:where(.view-large.cui-text-input) {
	--cui-min-height: var(--cui-size--controls-large);
	--cui-padding-horizontal: calc(4 * var(--cui-gap));
}

:where(.is-invalid.cui-select),
:where(.is-invalid.cui-slug-input),
:where(.is-invalid.cui-textarea-input),
:where(.is-invalid.cui-text-input) {
	border-color: rgb(var(--cui-color--controls-rgb-50));
}

:where(.cui-slug-input),
:where(.cui-textarea-input),
:where(.cui-text-input),
:where(.cui-editorCanvas) {
	--input-control-focus-ring: var(--cui-box-shadow--controls-focus-ring);
	background-color: rgba(var(--cui-background-color--rgb-25), var(--cui-opacity--medium));
	border-color: rgb(var(--cui-background-color--toned-rgb-75));
	border-width: var(--cui-border-width, 1px);
	border-style: solid;
	color: rgb(var(--cui-color--strong-rgb-50));
}

:where(.cui-slug-input:-webkit-autofill),
:where(.cui-textarea-input:-webkit-autofill),
:where(.cui-text-input:-webkit-autofill),
:where(.cui-editorCanvas:-webkit-autofill) {
	-webkit-box-shadow: 0 0 0 1000px rgba(var(--cui-theme-controls--rgb-500), 0.250) inset !important;
}

:where(.cui-slug-input:-webkit-autofill),
:where(.cui-textarea-input:-webkit-autofill),
:where(.cui-text-input:-webkit-autofill),
:where(.cui-editorCanvas:-webkit-autofill) {
	transition-delay: 9999s;
	transition-property: color;
}

:where(.cui-slug-input:not([disabled]):hover),
:where(.cui-textarea-input:not([disabled]):hover),
:where(.cui-text-input:not([disabled]):hover),
:where(.cui-editorCanvas:not([disabled]):hover) {
	border-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--high));
}

:where(.cui-slug-input:focus),
:where(.cui-textarea-input:focus),
:where(.cui-text-input:focus),
:where(.cui-editorCanvas:focus) {
	border-color: rgb(var(--cui-color--accent-rgb-50));
}

:where(.cui-textarea-input:focus:focus-visible),
:where(.cui-text-input:focus:focus-visible),
:where(.cui-editorCanvas:focus:focus-visible) {
	box-shadow: var(--input-control-focus-ring);
}

:where(.cui-textarea-input)::placeholder,
:where(.cui-text-input)::placeholder,
:where(.cui-editorCanvas)::placeholder {
	color: rgba(var(--cui-color--rgb-25), var(--cui-opacity--high));
}

:where([readonly].cui-textarea-input),
:where([readonly].cui-text-input),
:where([readonly].cui-editorCanvas) {
	color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--medium));
}

:where([disabled].cui-textarea-input),
:where([disabled].cui-text-input),
:where([disabled].cui-editorCanvas) {
	background-color: rgba(var(--cui-background-color--rgb-25), var(--cui-opacity--medium));
	color: rgba(var(--cui-color--strong-rgb-50), var(--cui-opacity--medium));
	cursor: not-allowed;
	opacity: var(--cui-opacity--medium);
}

:where(.view-seamless.cui-textarea-input),
:where(.view-seamless.cui-text-input),
:where(.view-seamless.cui-editorCanvas) {
	padding-left: 0;
	padding-right: 0;
}

:where(.view-seamless.cui-textarea-input:focus),
:where(.view-seamless.cui-text-input:focus),
:where(.view-seamless.cui-editorCanvas:focus),
:where(.view-seamless-with-padding.cui-textarea-input:focus),
:where(.view-seamless-with-padding.cui-text-input:focus),
:where(.view-seamless-with-padding.cui-editorCanvas:focus) {
	box-shadow: none;
}

:where(.view-seamless.cui-textarea-input:focus-within),
:where(.view-seamless.cui-text-input:focus-within),
:where(.view-seamless.cui-editorCanvas:focus-within),
:where(.view-seamless-with-padding.cui-textarea-input:focus-within),
:where(.view-seamless-with-padding.cui-text-input:focus-within),
:where(.view-seamless-with-padding.cui-editorCanvas:focus-within) {
	box-shadow: none;
}

:where(.cui-icon),
:where([data-overrides-lucide-icons] .lucide) {
	--cui-scale: var(--cui-scale);
	--cui-icon--inset: calc(1em / 2 * var(--cui-border-radius-optical-grow));
	--cui-icon--padding: calc((var(--cui-line-height--units) - 1em) / 2);
	display: inline-block;
	flex-basis: content;
	flex-grow: 0;
	flex-shrink: 0;
	font-size: calc(1em * var(--cui-scale));
	height: var(--cui-line-height--units);
	margin: calc(-1 * (var(--cui-icon--inset) + var(--cui-icon--padding)));
	padding: var(--cui-icon--padding);
	stroke: currentColor;
	vertical-align: middle;
	width: var(--cui-line-height--units);
}

:where(.dangerously-remove-native-focus-outline) {
	outline: none;
}

:where(.dangerously-remove-native-focus-outline:focus-visible .native-focus-outline-handler) {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
}
