@import '../common'

.#{$cui-conf-globalPrefix}box
	+boxNesting

	& & + &-section:not(:first-child)
		border-top: none
		padding-top: 0

	&.view-seamless,
	& &.view-seamlessIfNested
		box-shadow: none
		background: inherit
		padding: 0
		border-radius: unset

	&-heading

	&-content
		//

	&-section
		&-handle
			display: inline-flex
			margin-left: -.35em
			margin-right: .35em
			cursor: grab
		&-heading
			display: inline-flex // TODO
			align-items: center
		&-actions
			float: right // TODO

	&.is-active
		transition: box-shadow .15s
		box-shadow: 0 0 0 .2em rgba($cui-box-active-color, .3)
