@import '../common'

$breadcrumbs-text-color: #838383
$breadcrumbs-link-color: #0094FF
$breadcrumbs-sep-color: #444444

.#{$cui-conf-globalPrefix}breadcrumbs
	&-items
		display: flex
		flex-wrap: wrap

	&-item
		color: $breadcrumbs-text-color

		&:before
			content: '›'
			display: inline-block
			margin: 0 .5em
			color: $breadcrumbs-sep-color

		&:first-child:before
			display: none

		a
			text-decoration: underline
			color: $breadcrumbs-link-color
