@import '../common'

$contentStatus-text-color: #838383

.#{$cui-conf-globalPrefix}contentStatus
	color: $contentStatus-text-color
	display: inline-flex
	align-items: center

	&-label
		margin-right: 1em

	&-icon
		$size: (16em / 12)
		flex-grow: 0
		flex-shrink: 0
		display: inline-block
		width: $size
		height: $size
		background: url(../../assets/contentStatus-clock.svg) no-repeat center center
		background-size: contain
		line-height: 1
