@use 'sass:math'

@import '../common'

.#{$cui-conf-globalPrefix}contemberLogo
	font-size: inherit
	display: inline-block
	vertical-align: middle

	&-image
		$ratio: math.div(439, 414)
		display: block
		width: 1em * $ratio
		height: 1em

	&.view-logotype &-image
		$ratio: math.div(1871, 414)
		width: 1em * $ratio
		height: 1em
