@import '../common'

.#{$cui-conf-globalPrefix}contemberLogo
	font-size: inherit
	display: inline-block
	vertical-align: middle

	&-image
		$ratio: 431 / 401
		display: block
		width: 1em * $ratio
		height: 1em
		background: url(../../assets/contember-logo.svg) no-repeat left top
		background-size: contain

	&.view-logotype &-image
		$ratio: 1871 / 414
		width: 1em * $ratio
		height: 1em
		background: url(../../assets/contember-logotype.svg) no-repeat left top
		background-size: contain
