@import '../common'

$dimensionSwitcher-border: solid 1px #E5E5E5
$dimensionSwitcher-spacing: 1em

.#{$cui-conf-globalPrefix}dimensionSwitcher
	font-size: (12em / 16)

	&-items
		display: flex
		margin: 0 -1 * $dimensionSwitcher-spacing

	&-item
		padding: .5em $dimensionSwitcher-spacing

		&:not(:first-child)
			border-left: $dimensionSwitcher-border

		&-icon
			margin-left: .5em
			display: inline-block
			width: 1em
			height: .75em
			background: url(../../assets/dimensionSwitcher-arrow.svg) no-repeat center center
			background-size: contain

		&-options
			display: inline-flex
			margin-left: .5em

		&-option
			padding: .125em
			opacity: .5

			&.view-active
				font-weight: bold
				opacity: 1
