@import '../common'

.#{$cui-conf-globalPrefix}dropdown

	&-button
		//

	&-content
		--cui-collapsible-transition-duration: #{$cui-dropdown-transition-duration}
		color: $cui-dropdown-content-color
		z-index: $cui-dropdown-zIndex

		&-in
			margin-top: $cui-dropdown-button-content-gap-size
			border-style: solid
			border-width: $cui-dropdown-content-border-width
			border-radius: $cui-dropdown-content-border-radius
			border-color: $cui-dropdown-content-border-color
			background: $cui-dropdown-content-background
			box-shadow: 0 rem(1px) rem(2px) rgba(0, 0, 0, .08)

		&[data-placement^="top"] &-in
			margin-bottom: $cui-dropdown-button-content-gap-size

		&[data-placement^="left"] &-in
			margin-right: $cui-dropdown-button-content-gap-size

		&[data-placement^="right"] &-in
			margin-left: $cui-dropdown-button-content-gap-size
