@import '../common'

.dropdown2

	&-handle
		//

	&-content
		$space: .5em

		color: $cui-dropdown2-content-color
		z-index: 100

		&-in
			margin-top: $space
			border-style: solid
			border-width: $cui-control-border-width
			border-radius: $cui-control-border-radius + $cui-control-border-width
			border-color: $cui-dropdown2-content-border-color
			background: $cui-dropdown2-content-background

		&[data-placement^="top"] &-in
			margin-bottom: $space

		&[data-placement^="left"] &-in
			margin-right: $space

		&[data-placement^="right"] &-in
			margin-left: $space
