@import '../common'

.#{$cui-conf-globalPrefix}editorBlockBoundary
	$root: &
	height: .75em

	display: flex
	flex-direction: row
	align-items: center
	margin: 5px 0
	cursor: pointer
	&-inner
		visibility: hidden
	&:hover
		#{$root}-inner
			visibility: visible
			&::before
				display: inline-block
				content: '+'
				color: #777
				border: 1px solid #777
				border-radius: 50%
				text-align: center
				width: 14px
				height: 14px
				line-height: 10px

	.cui-editorCanvas-canvas > div[data-contember-type="reference"] + div[data-contember-type="reference"]
		.cui-editorBlockBoundary.view-beforeBlock
			display: none
	//&.view-beforeBlock
	//	top: (-$height / 2)
	//&.view-afterBlock
	//	bottom: (-$height / 2)
