@import '../common'

.#{$cui-conf-globalPrefix}editorCanvas
	// TODO don't use box
	// TODO handle selection color systemically
	// TODO proper spacing
	// TODO less arbitrary styles of classic elements within the canvas (headings, lists, etc)
	+box()
	background: #FFFFFF
	width: 100%
	padding: 0

	//&::after
		+size(100% 2em)
		content: ''
		display: block

	&-canvas
		padding: .75em
		min-height: 2em
		cursor: text

		h1, h2, h3, h4, h5, h6
			margin: 0
		& > :first-child
			margin-top: 0
		& > :last-child
			margin-bottom: 0
		a
			color: #0094ff
		code
			font-family: monospace
			background-color: $cui-color-gray-2
			padding: em(2px) em(1px)

		::selection
			background-color: #BFE4FF

	&.view-large &
		&-canvas
			min-height: 32em
			padding: 2em
