@import '../common'

.#{$cui-conf-globalPrefix}editorCanvas
	@extend %controlVariants

	--cui-editor-canvas-element-padding-bottom: calc(2 * var(--cui-gap))
	--cui-editor-canvas-element-padding-left: calc(3 * var(--cui-gap))
	--cui-editor-canvas-element-padding-right: calc(3 * var(--cui-gap))
	--cui-editor-canvas-element-padding-top: calc(2 * var(--cui-gap))
	--cui-editor-blocks-gap: calc(2 * var(--cui-editor-canvas-element-padding-top))

	border: var(--cui-control-border-width, 1px) solid var(--cui-color--lower)
	border-radius: var(--cui-control-border-radius)
	position: relative
	width: 100%

	*[contenteditable="true"]
		padding-bottom: var(--cui-gap)
		padding-top: var(--cui-gap)
		border-radius: var(--cui-control-border-radius)
		flex-grow: 1

	&:hover
		border-color: var(--cui-color--low)

	&:focus-within
		@extend %implementsCustomFocusEffects
		border-color: var(--cui-control-border-color)
		box-shadow: var(--cui-control-focus-ring-box-shadow)

	&.view-hovering-toolbar *[contenteditable="true"]
		padding-bottom: calc(56px + 10 * var(--cui-gap)) // TODO: Measure the hovoering container

	*[contenteditable="true"]
		@extend %implementsCustomFocusEffects

	&-canvas > [class^="cui-editor"]
		padding-bottom: 0
		padding-left: var(--cui-editor-canvas-element-padding-left)
		padding-right: var(--cui-editor-canvas-element-padding-right)
		padding-top: 0
		position: relative

	&-canvas > .#{$cui-conf-globalPrefix}editorBlock
		padding: 0

	&-canvas > *[contenteditable="true"]
		display: flex
		flex-direction: column
		gap: var(--cui-editor-blocks-gap)
		padding-bottom: var(--cui-editor-canvas-element-padding-bottom)
		padding-top: var(--cui-editor-canvas-element-padding-top)

	&-canvas
		cursor: text
		display: flex
		min-height: var(--cui-control-height)
		flex-direction: column
		gap: var(--cui-editor-blocks-gap)

		$headingCounter: null
		counter-reset: $headingCounter unquote($cui-editor-paragraph-counter)
		@for $level from 1 through length($cui-editor-heading-counters)
			$counter-name: nth($cui-editor-heading-counters, $level)
			$headingCounter: $headingCounter unquote($counter-name)

		h1, h2, h3, h4, h5, h6
			margin: 0
		& > :first-child
			margin-top: 0
		& > :last-child
			margin-bottom: 0
		a
			color: $cui-color-blue

		ol + ul,
		ol + ol,
		ul + ul,
		ul + ol
			margin-top: .5em

		li
			& > p
				margin: 0

		code,
		em
			padding: em(2px) em(1px)

		code
			background-color: var(--cui-color--lower)
			border-radius: 0.25em
			font-family: monospace
			padding-left: 0.25em
			padding-right: 0.25em

		em
			--cui-highlight-color: 255, 249, 51
			color: var(--cui-color--strong)
			background-color: rgb(var(--cui-highlight-color), var(--cui-opacity--medium, 0.5))
			font-style: normal
			@media (prefers-color-scheme: dark)
				background-color: rgb(var(--cui-highlight-color), var(--cui-opacity--low, 0.3))

		hr
			background-color: var(--cui-color--lower)
			height: em(1px)
			margin: 0
			border: none

		::selection
			color: var(--cui-color--strong)
			background-color: rgb(75, 150, 255, 0.500)
			background-color: rgb(var(--cui-theme-positive-500), var(--cui-opacity--medium, 0.5))

	&.view-large &-canvas
		min-height: 32em

	& > &-canvas &-canvas
		min-height: 1em
		padding: 0

	&.view-seamless
		--cui-editor-canvas-element-padding-left: 0
		--cui-editor-canvas-element-padding-right: 0

	&.view-seamless,
	&.view-seamless-with-padding
		background-color: transparent
		border: 0
		box-shadow: none
