@import '../common'

.#{$cui-conf-globalPrefix}editorTable
	$frontRowControlsWidth: 3.5em
	$topColumnControlsHeight: 3.5em
	$lineThickness: em(1px)
	$addDimensionThickness: 1em
	$frontRemoveDimensionThickness: 1em
	$topRemoveDimensionThickness: 1em
	$verticalOffsetTop: 1.5em
	$verticalOffsetBottom: 3.5em

	$removeDimensionBorderRadius: .5em

	$addColor: lighten($cui-color-blue, 10)
	$removeColor: lighten($cui-color-danger, 10)

	$rowCount: var(--#{$cui-conf-globalPrefix}editorTable-rowCount, 0)
	$columnCount: var(--#{$cui-conf-globalPrefix}editorTable-columnCount, 0)

	display: grid
	grid-template-rows: $topColumnControlsHeight repeat(calc(#{$rowCount}), $lineThickness auto) $lineThickness $addDimensionThickness
	grid-template-columns: $frontRowControlsWidth repeat(calc(#{$columnCount}), $lineThickness 1fr) $lineThickness $addDimensionThickness
	margin: ($verticalOffsetTop - $topColumnControlsHeight) (-$addDimensionThickness) ($verticalOffsetBottom - $frontRowControlsWidth) (-$frontRowControlsWidth)

	&-rowControls,
	&-columnControls,
	&-body,
	&-row,
	&-stub
		display: contents

	$row: var(--#{$cui-conf-globalPrefix}editorTable-row, 0)
	$column: var(--#{$cui-conf-globalPrefix}editorTable-column, 0)
	&-rowControls
		&-item
			grid-row: calc(2 * #{$row} + 3) / span 1
			grid-column: 1 / span 1
			place-self: center end
			width: $frontRemoveDimensionThickness
			height: 100%
			&-first
				border-top-left-radius: $removeDimensionBorderRadius
			&-last
				border-bottom-left-radius: $removeDimensionBorderRadius
		&-item:hover + * + &-line,
		&-item:hover + * + * + * + * + &-line // I know…
			background-color: $removeColor
			z-index: 1
		&-item:hover + * + &-line
			transform: translateY(150%) scaleY(2)
		&-item:hover + * + * + * + * + &-line
			transform: translateY(-150%) scaleY(2)
		&-line
			grid-row: calc(2 * #{$row} + 2) / span 1
			grid-column: 2 / -2
			background: $cui-color-gray-2
		&-add
			grid-row: calc(2 * #{$row} + 2) / span 1
			grid-column: 1 / span 1
		&-add:hover + &-line
			transform: scaleY(4)
	&-columnControls
		&-item
			grid-row: 1 / span 1
			grid-column: calc(2 * #{$column} + 3) / span 1
			justify-self: center
			place-self: end center
			height: $topRemoveDimensionThickness
			width: 100%
			&-first
				border-top-left-radius: $removeDimensionBorderRadius
			&-last
				border-top-right-radius: $removeDimensionBorderRadius
		&-item:hover + * + &-line,
		&-item:hover + * + * + * + * + * + &-line // I know…
			background-color: $removeColor
			z-index: 1
		&-item:hover + * + &-line
			transform: translateX(150%) scaleX(2)
		&-item:hover + * + * + * + * + * + &-line
			transform: translateX(-150%) scaleX(2)
		&-more
			grid-row: 1 / span 1
			grid-column: calc(2 * #{$column} + 3) / span 1
			justify-self: center
			place-self: center
		&-line
			grid-row: 2 / -2
			grid-column: calc(2 * #{$column} + 2) / span 1
			background: $cui-color-gray-2
		&-add
			grid-row: 1 / span 1
			grid-column: calc(2 * #{$column} + 2) / span 1
		&-add:hover + &-line
			transform: scaleX(4)

	&-rowControls,
	&-columnControls
		&-item
			&:hover
				background-color: $removeColor
				color: $cui-color-white
			& > * > * // This is 10/10 crap.
				font-size: .5em
		&-line
			transition-property: background-color, transform
			transition-duration: .2s, .1s
		&-add
			justify-self: center
			align-self: center
			> *
				transition: transform .2s
				transform: scale(.4)
			&:hover > *
				transform: scale(1)
		&-add:hover + &-line
			background-color: $addColor
			z-index: 1
	&-rowControls-add,
	&-columnControls-add,
	&-columnControls-more,
	&-handle,
	&-remove
		> *
			transition: transform .2s
			transform: scale(.4)
		&:hover > *
			transform: scale(1)
	&-handle
		grid-area: 1 / 1 / span 1 / span 1
	&-remove
		grid-area: 1 / -2 / span 1 / span 1
		align-self: center
		padding-left: .6em
		width: 1.5em
	&-cell
		// grid-row: calc(2 * #{$row} + 3) / span 1
		// grid-column: calc(2 * #{$column} + 3) / span 1
		padding: em(2px) em(6px)
		&.view-justify-start
			text-align: left
		&.view-justify-center
			text-align: center
		&.view-justify-end
			text-align: right

		& > p
			margin: 0
		& > p + p
			margin-top: .5em

	&-appendRow
		grid-row: -2 / span 1
		grid-column: 2 / -2
		border-bottom-left-radius: ($addDimensionThickness / 2)
		border-bottom-right-radius: ($addDimensionThickness / 2)
	&-appendColumn
		grid-row: 2 / -2
		grid-column: -2 / span 1
		border-top-right-radius: ($addDimensionThickness / 2)
		border-bottom-right-radius: ($addDimensionThickness / 2)
	&-appendRow,
	&-appendColumn,
	&-rowControls-item,
	&-columnControls-item
		@extend %implementsCustomFocusEffects
		border: none
		background: $cui-color-gray-1
		display: flex
		justify-content: center
		align-items: center
		color: $cui-color-gray-7
		cursor: pointer
		padding: 0

		&,
		& > *
			transition-property: background-color, color
			transition-duration: .2s
			transition-timing-function: ease-in-out
	&-appendRow,
	&-appendColumn
		font-size: .6em
		&:hover
			background-color: $addColor
			& > *
				color: $cui-color-white

	&-handle
		&:hover > *
			transform: scale(1)

	&-rowControls-add,
	&-rowControls-item,
	&-columnControls-add,
	&-columnControls-item,
	&-columnControls-more,
	&-appendRow,
	&-appendColumn,
	&-handle,
	&-remove
		transition-property: visibility, opacity
		transition-duration: .2s
		visibility: hidden
		opacity: 0

	&.is-focused &,
	&:hover &
		&-rowControls-add,
		&-rowControls-item,
		&-columnControls-add,
		&-columnControls-item,
		&-columnControls-more,
		&-appendRow,
		&-appendColumn,
		&-handle,
		&-remove
			opacity: 1
			visibility: visible
