@import '../common'

.#{$cui-conf-globalPrefix}editorToolbar
	display: inline-flex
	background: #3F3F3F
	color: #FFFFFF
	border-radius: 5em
	padding: em(14px) em(20px)

	&-groups, &-group
		display: flex

	&-groups
		min-height: em(30px)
		align-items: stretch

	&-group
		align-items: flex-start

		&:before
			content: ''
			display: inline-block
			height: 100%
			opacity: .25
			border-left: solid 1px
			margin: 0 .5em

		&:first-child:before
			display: none

	&-button
		line-height: 1

