@import '../common'

.#{$cui-conf-globalPrefix}editorToolbarButton
	display: inline-flex
	flex-direction: column
	max-width: em(90px)
	min-width: em(40px)
	padding: em(4px)
	align-items: center
	text-align: center
	border-radius: .25em
	background: rgba(#FFF, 0)
	border: solid em(2px) rgba(#FFF, 0)
	cursor: pointer

	&:hover
		background: rgba(#FFF, 0.1)

	&:focus
		border-color: rgba($cui-color-blue, 0.5)
		outline: none

	&-icon
		line-height: 1
		width: 1.5em
		height: 1.5em

	&-label
		font-size: em(12px)
		margin-top: em(4px, 12px)
		display: none
		max-width: 100%
		overflow-x: hidden
		line-height: 1.2
		text-overflow: ellipsis
		margin-bottom: -.25em

	&.view-showLabel &-label
		display: block
