@import '../common'

.#{$cui-conf-globalPrefix}fileDropZone
	background-color: $cui-fileDropZone-background-color
	border-radius: em(10px)
	border: em(1px) dashed $cui-fileDropZone-border-color
	transition: border-color .2s

	&.is-active
		border-color: $cui-fileDropZone-active-border-color

	&.is-accepting
		border-color: $cui-fileDropZone-accepting-border-color

	&.is-rejecting
		border-color: $cui-fileDropZone-rejecting-border-color
