@import '../common'

.#{$cui-conf-globalPrefix}filePreview
	height: 0
	overflow: hidden
	padding-top: 100% // Square
	position: relative

	&-in
		+absolute(0)
		+size(100%)
		border-radius: var(--cui-control-border-radius)
		border: var(--cui-control-border-width, 1px) solid var(--cui-color--lower)
		background-color: rgba(0, 0, 0, .05)
		display: flex
		transition: border-color .2s
		overflow: hidden

	&-preview,
	&-overlay
		+size(100%)
		display: flex
		justify-content: center
		align-items: center

	&-preview
		order: 0

		> *
			max-width: 100%
			max-height: 100%

	&-overlay
		+absolute(0)
		order: 1
		padding: .5em

	&-overlay ~ &-preview
		opacity: .1
		pointer-events: none

	&.is-active &
		&-in
			border-color: var(--cui-control-border-color)
