@import '../common'

.#{$cui-conf-globalPrefix}heading
	font-weight: $fw-medium
	line-height: 1.25
	color: $cui-heading-color
	margin: 0

h1.#{$cui-conf-globalPrefix}heading
	font-size: $cui-heading-1-fontSize
h2.#{$cui-conf-globalPrefix}heading
	font-size: $cui-heading-2-fontSize
h3.#{$cui-conf-globalPrefix}heading
	font-size: $cui-heading-3-fontSize
h4.#{$cui-conf-globalPrefix}heading
	font-size: $cui-heading-4-fontSize
h5.#{$cui-conf-globalPrefix}heading
	font-size: $cui-heading-5-fontSize
h6.#{$cui-conf-globalPrefix}heading
	font-size: $cui-heading-6-fontSize
