@import '../common'

.#{$cui-conf-globalPrefix}hoveringToolbar
	display: flex
	justify-content: center
	margin: 0 auto
	z-index: 2
	opacity: 0
	visibility: hidden
	transition-duration: .15s
	transition-property: opacity, visibility
	position: sticky
	bottom: 2em

	pointer-events: none
	> *
		pointer-events: all

	&.view-contextual
		position: absolute
		top: -1000vh
		left: -1000vw
		margin: -.5em 0 0 0
		bottom: unset

	&.is-active
		visibility: visible
		opacity: 1
