@import '../common'

.menu
	padding: $cui-menu-link-vertical-padding 0 0
	line-height: 1.5

	&-group,
	&-subgroup,
	&-action,
	&-tooDeep
		padding: 0

	&,
	&-group,
	&-subgroup,
	&-action,
	&-tooDeep
		&,
		&-list
			margin: 0

		&-list
			padding: 0
			list-style-type: none

	&-group,
	&-subgroup,
	&-action,
	&-tooDeep
		&-title
			display: block
			width: 100%

	&-group
		&-title
			color: $cui-menu-group-color
			font-size: $cui-menu-group-title-font-size
			margin: ($cui-menu-link-horizontal-padding / 2 + rem(8px)) 0 (rem(24px) / 2)
			padding: 0 $cui-menu-link-horizontal-padding
			font-weight: $fw-medium
			text-transform: uppercase

		&-list
			//

	&-subgroup
		&-title
			margin: 0
			color: $cui-menu-subgroup-color
			font-size: $cui-menu-subgroup-title-font-size
			padding: rem(8px) $cui-menu-link-horizontal-padding
			margin: 0
			text-align: inherit
			text-decoration: none
			border: none
			background: transparent
			text-transform: inherit
			font-weight: $fw-medium
			font-family: inherit

		&-list
			padding: em(4px) 0 em(8px)

		&.is-expanded &,
		&.is-collapsed &
			&-title::after
				content: ''
				display: inline-block
				margin-top: .3em
				width: .5em
				height: .5em
				margin-left: 1em
				border-bottom: rem(2px) solid
				border-right: rem(2px) solid
				opacity: .5
				float: right
				transition: transform var(--cui-menu-caret-transition-duration)
				transform-origin: 70% 70%
				transform: rotate(45deg)

		&.is-collapsed &
			&-title::after
				transform: rotate(135deg)

	&-action
		font-size: $cui-menu-action-title-font-size

		&-title
			margin: 0
			color: $cui-menu-action-color
			padding: rem(2px) $cui-menu-link-horizontal-padding rem(2px) (1.5 * $cui-menu-link-horizontal-padding)
			text-decoration: none
			font-weight: $fw-medium

		&-list
			padding: 0 0 rem(4px) rem(56px)

	&-tooDeep
		font-size: .9em
		list-style-type: none

		&-title,
		&-list
			padding-left: 1em

		&-title
			margin: 0
			color: $cui-menu-action-color
			text-decoration: none
			padding: rem(1px) $cui-menu-link-horizontal-padding rem(1px) 0
			font-weight: $fw-medium

		&-list
			//

	&-subgroup
		&.is-active > &-title
			background-color: $cui-menu-subgroup-active-background

	&-action,
	&-tooDeep
		&.is-active > &-title
			color: $cui-menu-action-active-color

	a#{&},
	button#{&}
		&-subgroup-title
			cursor: pointer

			&:hover
				background-color: $cui-menu-subgroup-active-background

		&-action,
		&-tooDeep
			&-title:hover
				color: $cui-menu-action-active-color
