@use 'sass:math'

@import '../common'

.#{$cui-conf-globalPrefix}persistControl
	$icon-size: 2em
	$label-transition-duration: .2s
	$check-transition-duration: .1s

	align-items: center
	display: flex
	gap: 1.25em
	position: relative

	.cui-spinner,
	&-label--dirty
		left: 0
		right: 0
		bottom: 0
		top: 0
		margin: auto
		position: absolute

	&-label--dirty
		opacity: 0
		transform: translateX(-1em)
		transition-property: opacity, transform
		transition-duration: $label-transition-duration, $label-transition-duration

	&-label--saved
		margin: 0 auto
		transition-property: opacity, transform
		transition-duration: $label-transition-duration, $label-transition-duration

		.is-dirty &,
		.is-mutating &
			opacity: 0
			transform: translateX(1em)

	.is-dirty &-label--dirty
		opacity: 1
		transform: translateX(0)

	.is-dirty.is-mutating &-label--dirty
		opacity: 0

	&-icon
		align-items: center
		background: darken($cui-color-success, 5%)
		color: $cui-control-view-default-background
		display: flex
		justify-content: center
		height: $icon-size
		width: $icon-size
		border-radius: 50%
		margin: -0.5em -1em -0.5em (-1 * $icon-size * $extra-optical-size-circle)
		vertical-align: bottom
		transition-property: opacity, transform
		transition-duration: $check-transition-duration, $check-transition-duration
		transition-delay: $check-transition-duration
		transition-timing-function: ease-out

		.is-dirty &,
		.is-mutating &
			opacity: 0
			transform: scale(0.25) rotate(135deg)

		.#{$cui-conf-globalPrefix}icon
			vertical-align: bottom
