@use 'sass:math'

@import '../common'

.#{$cui-conf-globalPrefix}saveControl
	$vertical-padding: .8em
	$horizontal-padding: 1.5em
	$line-height: 1

	$button-height: $line-height + 2 * $vertical-padding

	display: inline-flex
	position: relative

	&-window-in
		padding: 1em 1.5em

	&-button-primary,
	&-button-toggle
		padding: $vertical-padding $horizontal-padding

	&-button,
	&-window
		border-radius: 1.5em

	&-button
		background: var(--cui-filled-control-background-color)
		color: var(--cui-filled-control-color)
		display: inherit
		flex-grow: 1
		line-height: $line-height
		overflow: hidden
		margin-left: -$button-height * math.div($extra-optical-size-rounded-rectangle, 2)
		margin-right: -$button-height * math.div($extra-optical-size-rounded-rectangle, 2)

		&.view-disabled
			background: rgba(182, 182, 182, 0.5)
			pointer-events: none

		&-primary
			flex-grow: inherit

		&-primary,
		&-toggle
			border: none
			appearance: none
			background: var(--cui-filled-control-background-color)
			color: var(--cui-filled-control-color)
			font-size: inherit
			font-family: inherit
			outline: none

			&:hover
				background-color: var(--cui-filled-control-background-color--highlighted)

		&-label
			font-size: math.div(18em, 16)
			line-height: 1.2

		&-toggle
			border-left: solid 1px var(--cui-filled-control-color)
			width: 2em
			background: url("data:image/svg+xml,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.02.81l-4.3 5.37a.5.5 0 0 1-.78 0L.65.8A.5.5 0 0 1 1.04 0h8.59a.5.5 0 0 1 .39.81z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat center center
			background-size: .6em auto

	&-window
		position: absolute
		z-index: 100
		top: 0
		left: 0
		width: 16em
		background: var(--cui-filled-control-background-color)
		color: var(--cui-filled-control-color)
		display: none

	&.view-open &-window
		display: block

	.#{$cui-conf-globalPrefix}layout-mainActions &
		margin-right: 10em
