@import '../common'

.#{$cui-conf-globalPrefix}table2
	outline: 1px solid

	display: grid
	border-collapse: collapse

	thead,
	tbody,
	tfoot,
	tr
		display: contents

	td
		display: block

	&-row
		//

	&-cell
		//
