@import "./parts/avatar";
@import "./parts/centerCard";
@import "./parts/concealableField";
@import "./parts/diffView";
@import "./parts/dimensionsSwitcher";
@import "./parts/editor";
@import "./parts/fileInput";
@import "./parts/hoverMenu";
@import "./parts/input";
@import "./parts/inputGroup";
@import "./parts/link";
@import "./parts/locationField";
@import "./parts/navbar";
@import "./parts/projectsList";
@import "./parts/repeaterItem";
@import "./parts/selectField";
@import "./parts/shape";
@import "./parts/sideDimensions";
@import "./parts/sortable";
@import "./parts/tile";
@import "./parts/tileList";
@import "./parts/toolbar";
@import "./libs/leaflet";

/* Global overrides: */
:where(.bp3-icon) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/* HOTFIX */
:where(.react-datepicker-popper) {
	z-index: 2;
}
