:where(.cui-layout-panel-body) {
	flex-basis: 100%;
	max-width: var(--panel-max-width);
	min-width: var(--panel-min-width, 0px);
	overflow: auto;
}
:where(.cui-layout-panel-body):empty {
	display: none;
}


:where(.cui-layout-panel-body[data-layout-panel-body-behavior="modal"]) {
	max-width: unset;
}

:where(.cui-layout-panel-body) {
	transition-property: transform, opacity;
	transition-timing-function: ease-in;
	transition-duration: var(--cui-transition-duration);
}

:where(.cui-layout-panel-body):where([data-layout-panel-body-behavior="overlay"], [data-layout-panel-body-behavior="modal"]) {
	overscroll-behavior: contain;
	overflow: hidden;
}
