:where(.cui-layout-panel-footer) {
	bottom: 0;
	position: sticky;
	z-index: 1;
}

:where(.cui-layout-panel-footer):empty {
	display: none;
}

:where(.cui-layout-panel-footer-spacer) {
	flex-grow: 1;
}
