@import '../common'

.avatar
	$avatar-sizes: 28px, 38px, 60px, 80px, 100px
	$avatar-fonts: $fs-tiny, $fs-normal, $fs-large, $fs-huge, $fs-giant

	display: flex
	background: #1665D8
	justify-content: center
	align-items: center

	&-placeholder
		color: #FFFFFF

	@for $i from 1 through length($avatar-sizes)
		&-size#{$i}
			+size(nth($avatar-sizes, $i))
			font-size: nth($avatar-fonts, $i)

	&-shape
		&Circle
			border-radius: 50%
		&Square
			border-radius: 4px
