@import '../common'

.button
	display: inline-block
	text-decoration: none
	$shadow-color: rgba(22, 29, 37, 0.05)
	box-shadow: 0 rem(1px) rem(1px) $shadow-color, inset 0 rem(2px) 0 rgba(255, 255, 255, 0.05)
	border-radius: rem(4px)
	padding: $spacing-extraSmall ($spacing-large / 2)
	margin: $spacing-small 0
	font-size: $fs-small

	&-small
		padding: $spacing-extraSmall

	&-large
		font-size: $fs-normal
		padding: $spacing-small $spacing-normal

	$color: #F6F7F9
	color: $c-text
	border: rem(1px) solid darken($color, 10)
	background: linear-gradient(to top, $color 0%, lighten($color, 5) 100%)

	&:hover
		$hover-color: darken($color, 3)
		background: linear-gradient(to top, $hover-color 0%, lighten($hover-color, 5) 100%)

	&:focus
		$hover-color: darken($color, 5)
		background: linear-gradient(to top, $hover-color 0%, lighten($hover-color, 5) 100%)
		outline: none

	@each $name, $color in $color-pairs
		&.view-#{$name}
			color: #FFFFFF
			border: rem(1px) solid darken($color, 10)
			background: linear-gradient(to top, $color 0%, lighten($color, 5) 100%)

			&:hover
				$hover-color: darken($color, 3)
				background: linear-gradient(to top, $hover-color 0%, lighten($hover-color, 5) 100%)

			&:focus
				$hover-color: darken($color, 5)
				background: linear-gradient(to top, $hover-color 0%, lighten($hover-color, 5) 100%)
				outline: none

	&[readonly],
	&[disabled],
		&,
		&:hover
			color: $c-text-light
			box-shadow: inset 0 rem(2px) 0 rgba(255, 255, 255, 0.06)
			border-radius: rem(4px)
			border: rem(1px) solid #696a6e
			background: #747578

	&-noMargin
		margin: 0

	&-noBorder
		border: none

	&-minimal
		background: none
		border: none
		box-shadow: none
		color: $c-text-light
		margin: 0

		&:hover
			background: $color
