@import '../common'

.concealableField
	margin: .5em 0 1em
	cursor: pointer

	&-in
		display: flex
		align-items: center

	&-value
		color: $c-text-light

	&-button
		margin-left: 1em

	&.view-extended &
		&-value
			flex: 1 0 auto
