@import '../common'

.dropdown
	$border-radius: rem(4px)
	$border-width: rem(1px)

	list-style: none
	box-shadow: 0 rem(1px) rem(2px) rgba(0, 0, 0, .08)
	border-radius: $border-radius
	background: var(--dropdown-background-color)
	border: $border-width solid var(--dropdown-border-color)
	font-size: $fs-normal
	width: fit-content
	margin: 0
	padding: 0

	&-item
		$item-border-radius: $border-radius - $border-width

		position: relative
		color: var(--dropdown-color)
		padding: .25em .75em

		&.is-active
			background: var(--dropdown-item-selected-background-color)
			color: var(--dropdown-item-selected-text-color)

		&.is-active:hover,
		&:hover
			background: var(--dropdown-item-hover-background-color)
			color: var(--dropdown-item-hover-color)

		&:first-child
			border-top-left-radius: $item-border-radius
			border-top-right-radius: $item-border-radius
		&:last-child
			border-bottom-left-radius: $item-border-radius
			border-bottom-right-radius: $item-border-radius

		// Dirty solution to stretch an injected anchor element without a class across the whole item
		> a:not([class]),
		> button:not([class])
			color: inherit
			border: none
			background: transparent
			padding: 0
			margin: 0
			font-size: inherit
			font-family: inherit
			font-weight: inherit
			cursor: pointer

			&::before
				content: ''
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0

	&.view-columns
		display: flex
		min-width: auto
	&.view-columns &
		&-column
			list-style: none
			border-right: rem(1px) solid #eaedf3

	&-revealer
		display: inline-block
		position: relative

		&-opener
			display: flex

		&-dropdown
			position: absolute
			padding-top: $spacing-small
			width: fit-content
