@import '../common'

.dropdown
	$border-radius: rem(4px)
	$border-width: rem(1px)

	list-style: none
	box-shadow: 0 rem(1px) rem(2px) rgba(0, 0, 0, .08)
	border-radius: $border-radius
	background: var(--dropdown-background-color)
	border: $border-width solid var(--dropdown-border-color)
	font-size: $fs-normal
	width: fit-content

	&-item
		$item-border-radius: $border-radius - $border-width

		color: var(--dropdown-color)
		padding: .25em .75em

		&.is-active
			background: var(--dropdown-item-selected-background-color)
			color: var(--dropdown-item-selected-text-color)

		&.is-active:hover,
		&:hover
			background: var(--dropdown-item-hover-background-color)
			color: var(--dropdown-item-hover-color)

		&:first-child
			border-top-left-radius: $item-border-radius
			border-top-right-radius: $item-border-radius
		&:last-child
			border-bottom-left-radius: $item-border-radius
			border-bottom-right-radius: $item-border-radius

	&.view-columns
		display: flex
		min-width: auto
	&.view-columns &
		&-column
			list-style: none
			border-right: rem(1px) solid #eaedf3
