@import '../common'

.editor

	&-toolbar
		position: relative
		padding: 0 0 .5em
		border-bottom: 2px solid #eee
		margin-bottom: 20px

	&-button
		cursor: pointer
		color: #ccc
		background: none
		border: none

		&.is-active
			color: #000

		&.is-reversed
			color: #aaa

			&.is-active
				color: #fff

	&-icon
		font-size: 18px
		vertical-align: text-bottom

	&-image
		display: block
		max-width: 100%
		max-height: 20em

		&.is-selected
			box-shadow: 0 0 0 2px blue
