@import '../common'

.fileInput
	border-radius: rem(4px)
	border: rem(1px) solid #E2E5ED
	padding: rem(10px) rem(15px)
	font-size: $fs-small
	width: 100%
	display: flex
	background: #FDFDFD

	&-input
		+absolute
		+size(rem(.1px))
		opacity: 0
		z-index: -1
		overflow: hidden

	&-preview
		display: block
		width: 40%
		height: rem(100px)
		background: #FFF
		padding: rem(5px)
		border: rem(1px) solid #E2E5ED
		text-align: center

		> *
			max-width: 100%
			max-height: 100%

	&-message
		display: block
		align-self: center
		margin-left: rem(10px)
	&-drop
		display: block
		color: #777
		font-size: $fs-small
		text-align: center
	&-empty
		color: #777
		font-style: italic
