@import '../common'

.fileInput
	border-radius: rem(4px)
	border: rem(1px) solid #E2E5ED
	padding: rem(10px) rem(15px)
	font-size: $fs-small
	width: 100%
	display: block

	&-input
		+absolute
		+size(rem(.1px))
		opacity: 0
		z-index: -1
		overflow: hidden

	&-preview
		width: 30%
		display: inline-block

		> *
			max-width: 100%

	&-message
		margin-left: rem(10px)
