@import '../common'

.formGroup
	display: flex
	flex-direction: column
	margin-bottom: 15px

	&-label
		color: $c-text-light
		font-size: $font-size-0
		font-weight: $fw-medium
		text-transform: uppercase
		margin-bottom: 9px

	&-field
		//
