@import '../common'

.inputGroup
	// TODO: icon
	&-text
		border-radius: 4px
		border: 1px solid #E2E5ED
		padding: 10px 15px
		font-size: $font-size-1
		width: 100%
		background: white

		&::placeholder
				color: $c-text-light

		&:focus
			outline: none
			border: 1px solid #1665d8


	&.view-large
		font-size: $font-size-5
