@import '../common'

.inputGroup
	// TODO: icon
	&-text
		border-radius: rem(4px)
		border: rem(1px) solid #E2E5ED
		padding: rem(10px) rem(15px)
		font-size: $fs-small
		width: 100%
		background: white

		&::placeholder
				color: $c-text-light

		&:focus
			outline: none
			border: rem(1px) solid #1665d8


	&.view-large
		font-size: $fs-extraLarge
