.inputGroup
	// TODO: icon
	&-text
		border-radius: 4px
		border: 1px solid #E2E5ED
		padding: 10px 15px
		font-size: 14px
		width: 100%

		&::placeholder
				color: $c-text-light

		&:focus
			outline: none
			border: 1px solid #1665d8
