@import '../common'

.layout
	&-navbar
		+sticky(0 null null 0)
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		height: $layout-navbar-height
		padding: 16px $spacing-extraLarge
		z-index: 19
		background-color: $layout-background-color
		color: $layout-text-color
		border-bottom: 1px solid #EAEDF3

	&-container
		display: flex
		background: #fbfbfd

	&-side
		+sticky($layout-navbar-height null null)
		width: 270px
		max-width: 80vw
		border-right: 1px solid #EAEDF3
		height: calc(100vh - #{$layout-navbar-height})
		z-index: 19
		background-color: $layout-background-color
		color: $layout-text-color
		overflow-y: auto

	&-menuBtn
		display: none

	&-menuShadow
		display: none

	@media (max-width: 768px)
		&-side
			position: fixed
			transform: translateX(-100%)
			transition: transform 500ms

		&-menuOpen &-side
			transform: translateX(0)
		&-menuShadow
			display: block
			+fixed(0)
			background: #000000
			opacity: 0
			transition: opacity 500ms
			pointer-events: none
		&-menuOpen &-menuShadow
			opacity: .15
			pointer-events: all

		&-menuBtn
			display: inline-block
			background: none
			border: none
			padding: $spacing-small
			margin-left: -$spacing-small
			vertical-align: middle

	&-content
		padding: rem(25px)
		flex-grow: 1
		max-width: 50rem
		margin: 0 auto

		&-title
			margin: 0
