@import '../common'

.menuSecondaryItem
	display: block

	&-link
		display: block
		color: var(--menu-link-color)
		font-size: $fs-small
		padding: $spacing-small $spacing-extraLarge
		text-decoration: none
		font-weight: $fw-medium

		&:hover,
		&-active
			background-color: var(--menu-link-active-background-color)
			color: var(--menu-link-active-color)
