@import '../common'

.menu
	list-style-type: none
	padding: $menu-link-vertical-padding 0 0

	&-title
		color: var(--menu-title-color)
		font-size: $menu-title-font-size
		margin: ($spacing-extraLarge / 2 + $spacing-small) 0 ($spacing-large / 2)
		padding: 0 $menu-link-horizontal-padding
		font-weight: $fw-medium
		text-transform: uppercase

	&-list
		list-style-type: none
