@import '../common'

.navbar
	&-left,
	&-center,
	&-right
		flex-basis: 0
		flex-grow: 1
		white-space: nowrap

	&-center
		text-align: center

	&-right
		text-align: right
		display: flex
		justify-content: flex-end
		align-items: center

	&-title
		font-size: $fs-normal
		font-weight: $fw-medium
		text-decoration: none
		margin-right: $spacing-normal
		color: inherit

		+media($break768M)
			display: none

	&-link
		display: inline-block
