@import '../common'

.sortable
	list-style-type: none
	background: white
	box-shadow: 0 rem(1px) rem(3px) rgba(0, 0, 0, 0.04)
	margin: 0
	padding: 0

	&-item
		background: white
		display: flex
		align-items: flex-start
		border-bottom: rem(1px) solid #eaedf3
		padding: $spacing-normal $spacing-small

		&-handle
			display: flex
			justify-content: flex-start
			align-items: center
			flex: 0 0 2em
			height: (1em * 1.28581)
			cursor: ns-resize
			color: #D5DCE6

			&-disabled
				color: lighten(#D5DCE6, 7)
				cursor: not-allowed
		&-content
			flex: 1
