@import '../common'

.sortable
	list-style-type: none
	margin: 0
	padding: 0

	&-item
		display: flex
		align-items: flex-start
		padding: $spacing-normal 0

		& + &
			border-top: em(1px) solid #eaedf3

		&-handle
			display: flex
			justify-content: flex-start
			align-items: center
			flex: 0 0 2em
			height: (1em * 1.28581)
			cursor: ns-resize
			color: #D5DCE6

			&-disabled
				color: lighten(#D5DCE6, 7)
				cursor: not-allowed
		&-content
			flex: 1
