.table
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04)
	border-radius: 4px
	border: 1px solid #EAEDF3
	background: white

	&-row
		box-shadow: 0 1px 0 #EAEDF3

	&-cell
		padding: 15px 7px

		&:first-child
			padding-left: 30px
		&:last-child
			padding-right: 30px
