@import '../common'

.table
	box-shadow: 0 rem(1px) rem(3px) rgba(0, 0, 0, .04)
	border-radius: rem(4px)
	border: rem(1px) solid #EAEDF3
	background: #FFFFFF
	padding: 0 rem(30px)

	&-row
		& + &
			box-shadow: 0 rem(-1px) 0 #EAEDF3

	&-cell
		padding: rem(15px) rem(7px)
