@import '../common'

.toaster
	+fixed($spacing-normal $spacing-normal null)
	pointer-events: none
	z-index: 20

	&-item
		pointer-events: auto
		max-width: rem(400px)
		margin: 0 auto

		& + &
			margin-top: $spacing-small
