@import '../common'

.toolbar
	$color: #F6F7F9
	color: $c-text
	background: linear-gradient(to top, $color 0%, lighten($color, 5) 100%)
	border: rem(1px) solid darken($color, 10)
	border-top-left-radius: 0.25rem
	border-top-right-radius: 0.25rem
	border-bottom: none
	overflow: hidden

	&-item
		margin: 0
		padding: $spacing-extraSmall
		display: inline-block

		&:focus
			outline: none

		svg
			vertical-align: middle

		&.isActive
			background: var(--brand-accent-color)
			color: white

		&[disabled]
			opacity: .3
