@import '../common'

.tree
	$root: &

	+box

	&-list
		position: relative
		list-style-type: none
		padding-left: 2em
		margin-bottom: 1em

		#{$root} > &
			padding-left: 0

	&-item
		position: relative
