.#{$cui-conf-globalPrefix}grid
  --grid-row-gap: var(--cui-padding)
  --grid-column-gap: var(--cui-padding)
  --cui-grid-column-width: 160px

  display: grid
  grid-template-columns: repeat(auto-fill, minmax(min(var(--cui-grid-column-width, 160px), 100%), 1fr))
  grid-column-gap: var(--grid-column-gap)
  grid-row-gap: var(--grid-row-gap)

  &.gap-none
    --grid-row-gap: 0
    --grid-column-gap: 0
  &.gap-small
    --grid-row-gap: var(--cui-gap)
    --grid-column-gap: var(--cui-gap)
  &.gap-large
    --grid-row-gap: calc(1.5 * var(--cui-padding))
    --grid-column-gap: calc(1.5 * var(--cui-padding))
  &.gap-xlarge
    --grid-row-gap: calc(3 * var(--cui-padding))
    --grid-column-gap: calc(3 * var(--cui-padding))
