:where(.cui-message) {
	--cui-message--background-color: transparent;
	--cui-message--border-radius: 0px;
	--cui-message--color: rgb(var(--cui-color--rgb-50));
	--cui-message--font-size: 1em;
	--cui-message--padding-horizontal: 0px;
	--cui-message--padding-vertical: 0px;
	--cui-message--shadow-color-rgb: var(--cui-color--rgb-50);
	align-items: center;
	background-color: var(--cui-message--background-color);
	border-radius: var(--cui-message--border-radius);
	color: var(--cui-message--color);
	display: inline-flex;
	font-size: var(--cui-message--font-size);
	font-weight: 300;
	gap: var(--cui-gutter);
	line-height: 1.2;
	padding: var(--cui-message--padding-vertical) var(--cui-message--padding-horizontal);
	position: relative;
}

:where(.cui-message-content) {
	flex-grow: 1;
}

:where(.cui-message-action) {
	align-items: center;
	align-self: stretch;
	display: flex;
	gap: var(--cui-gap);
}

:where(.cui-message-action .cui-button) {
	color: inherit;
}

:where(.cui-message[data-size="small"]) { --cui-message--font-size: var(--cui-font-size--note) }
:where(.cui-message[data-size="medium"]) { --cui-message--font-size: var(--cui-font-size--body) }
:where(.cui-message[data-size="large"]) { --cui-message--font-size: var(--cui-font-size--heading) }

:where(.cui-message[data-display="block"]) { display: flex }

:where(.cui-message[data-background]) {
	--cui-message--background-color: rgb(var(--cui-background-color--rgb-25));
}

:where(.cui-message[data-border-radius]) { --cui-message--border-radius: var(--cui-border-radius) }
:where(.cui-message[data-border-radius="gap"]) { --cui-message--border-radius: var(--cui-gap) }
:where(.cui-message[data-border-radius="gutter"]) { --cui-message--border-radius: var(--cui-gutter) }
:where(.cui-message[data-border-radius="padding"]) { --cui-message--border-radius: var(--cui-padding) }
:where(.cui-message[data-border-radius="large"]) { --cui-message--border-radius: calc(1.5 * var(--cui-padding)) }
:where(.cui-message[data-border-radius="larger"]) { --cui-message--border-radius: calc(3 * var(--cui-padding)) }

:where(.cui-message[data-important]) {
	--cui-message--color: rgb(var(--cui-color--controls-rgb-0));
	font-weight: 700;
}

:where(.cui-message[data-important][data-background]) {
	--cui-message--background-color: rgba(var(--cui-background-color--controls-rgb-50), 0.9);
}


:where(.cui-message[data-padding]) {
	--cui-message--padding-horizontal: var(--cui-padding);
	--cui-message--padding-vertical: var(--cui-padding);
}

:where(.cui-message[data-padding="gap"]) {
	--cui-message--padding-horizontal: var(--cui-gap);
	--cui-message--padding-vertical: var(--cui-gap);
}

:where(.cui-message[data-padding="gutter"]) {
	--cui-message--padding-horizontal: var(--cui-gutter);
	--cui-message--padding-vertical: var(--cui-gutter);
}

:where(.cui-message[data-padding="padding"]) {
	--cui-message--padding-horizontal: var(--cui-padding);
	--cui-message--padding-vertical: var(--cui-padding);
}

:where(.cui-message[data-padding="large"]) {
	--cui-message--padding-horizontal: calc(1.5 * var(--cui-padding));
	--cui-message--padding-vertical: calc(1.5 * var(--cui-padding));
}

:where(.cui-message[data-padding="larger"]) {
	--cui-message--padding-horizontal: calc(3 * var(--cui-padding));
	--cui-message--padding-vertical: calc(3 * var(--cui-padding));
}

:where(.cui-message[data-text-align="center"]) { text-align: center }
:where(.cui-message[data-text-align="start"]) { text-align: start }
:where(.cui-message[data-text-align="end"]) { text-align: end }

:where(.cui-message[data-elevated]) {
	box-shadow:
		0 0.125em 0.25em rgba(var(--cui-message--shadow-color-rgb), var(--cui-opacity--lower)),
		0 0.25em 1.00em rgba(var(--cui-message--shadow-color-rgb), calc(var(--cui-opacity--low) / 2)),
		0 0.5em 4em rgba(var(--cui-message--shadow-color-rgb), calc(var(--cui-opacity--lower) / 2));
}
