.#{$cui-conf-globalPrefix}message
	--message-color: var(--cui-control-color)
	--message-background-color: transparent

	--message-striking-padding-horizontal: 0
	--message-striking-padding-vertical: 0

	align-items: center
	background-color: var(--message-background-color)
	border-radius: var(--cui-control-border-radius)
	color: var(--message-color)
	display: inline-flex
	font-weight: $fw-light
	line-height: $cui-base-lineHeight
	padding: var(--message-striking-padding-vertical) var(--message-striking-padding-horizontal)
	position: relative

	&.view-striking
		--message-color: var(--cui-color--strong)
		--message-background-color: rgba(var(--cui-controls-500), 0.9)

	&.view-lifted
		box-shadow: 0 em(2px) em(6px) rgba(0, 0, 0, .025), 0 em(4px) em(12px) rgba(0, 0, 0, .05), 0 em(8px) em(24px) rgba(0, 0, 0, .1)

	&-content
		flex-grow: 1

	&-action
		align-items: center
		align-self: stretch
		display: flex
		gap: var(--cui-gap)
		.#{$cui-conf-globalPrefix}button:not(:hover)
			color: inherit

	&.view-small
		font-size: var(--cui-message-font-size-small)
	&.view-large
		font-size: var(--cui-message-font-size-large)

	&.view-block,
	&.view-generousBlock
		display: flex

	&.view-striking
		--message-striking-padding-horizontal: var(--cui-padding)
		--message-striking-padding-vertical: var(--cui-padding)
		font-weight: $fw-normal

	&.view-generous,
	&.view-generousBlock
		--message-striking-padding-horizontal: calc(1.5 * var(--cui-padding))
		--message-striking-padding-vertical: calc(1.5 * var(--cui-padding))
		text-align: center
