@use '../src/index' with ($inter-font-path: '../src/assets/Inter')

html,
body
	font-family: Inter, 'system-ui'
	min-height: 100vh

	@supports (font-variation-settings: normal)
		font-family: 'Inter var', 'system-ui'

body.sb-show-main,
body.sb-show-main.sb-main-padded
	display: flex
	flex-direction: column
	padding: 0

#storybook-root
	display: flex
	flex-direction: column
	flex-grow: 1
