:where(.cui-layout-panel-header) {
	-webkit-backdrop-filter: blur(var(--cui-backdrop-blur));
	backdrop-filter: blur(var(--cui-backdrop-blur));
	background-color: rgba(var(--cui-layout-panel--header-background-rgb), var(--cui-layout-panel--header-background-alpha));
	background-image: linear-gradient(rgb(var(--cui-layout-panel--header-background-rgb)), rgba(var(--cui-layout-panel--header-background-rgb), 0));
	left: 0;
	padding-bottom: var(--cui-padding--panel-vertical);
	padding-left: max(var(--inset-left, 0px), var(--cui-padding--panel-horizontal));
	padding-right: max(var(--inset-right, 0px), var(--cui-padding--panel-horizontal));
	padding-top: max(var(--inset-top, 0px), var(--cui-padding--panel-vertical));
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}

:where(.cui-layout-panel-header-content) {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: var(--cui-gutter);
	justify-content: space-between;
}

:where(.cui-layout-panel-header):empty {
	--cui-padding--panel-vertical: 0px;
	--cui-padding--panel-horizontal: 0px;
	padding-bottom: 0;
}
