:where(.cui-layout-panel) {
	--cui-layout-panel--background-rgb: var(--cui-background-color--rgb-0);
	--cui-layout-panel--background-alpha: 1;
	--cui-layout-panel--header-background-alpha: var(--cui-backdrop-blur-opacity);
	--cui-layout-panel--header-background-rgb: var(--cui-layout-panel--background-rgb);
	--cui-layout-panel--body-background-rgb: var(--cui-layout-panel--background-rgb);
	--cui-layout-panel--body-background-alpha: 1;
	--cui-layout-panel--footer-background-alpha: var(--cui-backdrop-blur-opacity);
	--cui-layout-panel--footer-background-rgb: var(--cui-layout-panel--background-rgb);

	content-visibility: visible;
	display: flex;
	flex-basis: var(--panel-basis);
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: min(100%, var(--panel-min-width, 0px));
	opacity: 1;
	overflow-y: auto;
	overflow-x: hidden;
	overscroll-behavior: none;
	transition-duration: var(--cui-transition-duration);
	transition-property: transform, opacity;
	transition-timing-function: ease-in;
}

:where([data-suppress-focus-ring] .cui-layout-panel) {
	outline: none;
}

:where(.cui-layout-panel > .cui-layout-panel-content) {
	background-color: rgba(var(--cui-layout-panel--background-rgb), var(--cui-layout-panel--background-alpha));
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	scroll-padding-bottom: var(--panel-footer-height);
	scroll-padding-top: var(--panel-header-height);
}

:where(.cui-layout-panel):where(
	[data-behavior="overlay"],
	[data-behavior="modal"],
) {
	bottom: 0;
	left: 0;
	overflow: hidden;
	right: 0;
	top: 0;
}
:where(.cui-layout-panel[data-behavior="overlay"]) {
	position: absolute;
}
:where(.cui-layout-panel[data-behavior="modal"]) {
	--cui-layout-panel--background-alpha: 0;
	position: fixed;
}
:where(
	.cui-layout-panel[data-behavior="overlay"] > .cui-layout-panel-content,
	.cui-layout-panel[data-behavior="modal"] > .cui-layout-panel-content,
) {
	overflow: hidden;
}

:where(.cui-layout-panel[data-behavior="overlay"]) {
	background-color: rgb(var(--cui-background-color--rgb-50));
	color: rgb(var(--cui-color--rgb-50));
	z-index: 3;
}

:where(.cui-layout-panel[data-behavior="modal"]) {
	background: rgba(0, 0, 0, 0.2);
	z-index: 4;
}

:where(
	.cui-layout-panel[data-behavior="modal"][data-visibility="visible"]
) {
	pointer-events: all;
}

:where(
	.cui-layout-panel:not([data-behavior="modal"]),
) {
	max-width: var(--panel-max-width, 100vw);
	max-width: var(--panel-max-width, 100dvw);
}

:where(
	.cui-layout-panel:not([data-visibility="visible"]),
) {
	clip-path: inset(0 0 0 0);
	overflow: hidden;
	pointer-events: none;
}

:where(
	.cui-layout-panel,
):where(
	[data-visibility="hidden"],
	[data-visibility="will-become-hidden"],
) {
	pointer-events: none;
	opacity: 0;
}

:where(
	.cui-layout-panel,
):where(
	[data-visibility="hidden"]
) {
	content-visibility: hidden;
}

:where(
	.cui-layout-panel,
):where(
	[data-behavior="collapsible"],
	[data-behavior="static"],
):where(
	[data-visibility="hidden"],
	[data-visibility="will-become-hidden"],
) {
	flex-basis: 0px;
	max-width: 0px;
	min-width: 0px;
	width: 0px;
}
