:where(.cui-layout-panel-body) {
	background-color: rgba(var(--cui-layout-panel--body-background-rgb), var(--cui-layout-panel--body-background-alpha));
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-bottom: max(var(--inset-bottom, 0px), var(--cui-padding--panel-vertical));
	padding-left: max(var(--inset-left, 0px), var(--cui-padding--panel-horizontal));
	padding-right: max(var(--inset-right, 0px), var(--cui-padding--panel-horizontal));
	padding-top: max(var(--inset-top, 0px), var(--cui-padding--panel-vertical));
	transition-property: transform, opacity;
	transition-timing-function: ease-in;
	transition-duration: var(--cui-transition-duration);
}

:where(.cui-layout-panel-body-content) {
	display: flex;
	flex-direction: column;
	gap: calc(2 * var(--cui-gutter));
	flex: 1;
}

:where(.cui-layout-panel-body):empty {
	display: none;
}

:where(.cui-layout-panel-body[data-behavior='modal']) {
	max-width: unset;
}

:where(.cui-layout-panel-body):where(
	[data-behavior='overlay'],
	[data-behavior='modal'],
) {
	overscroll-behavior: none;
	overflow: auto;
}
