:where(.cui-layout-panel-footer) {
	-webkit-backdrop-filter: blur(var(--cui-backdrop-blur));
	backdrop-filter: blur(var(--cui-backdrop-blur));bottom: 0;
	background-color: rgba(var(--cui-footer-background-color-rgb), var(--cui-footer-background-color-alpha));
	background-image: linear-gradient(transparent, rgb(var(--cui-frame-background-color-rgb)));
	bottom: 0;
	left: 0;
	padding-bottom: max(var(--inset-bottom, 0px), var(--cui-box-padding-vertical));
	padding-left: max(var(--inset-left, 0px), var(--cui-box-padding-horizontal));
	padding-right: max(var(--inset-right, 0px), var(--cui-box-padding-horizontal));
	padding-top: max(var(--inset-top, 0px), var(--cui-box-padding-vertical));
	position: sticky;
	width: 100%;
	z-index: 1;
}

:where(.cui-layout-panel-footer-content) {
	display: flex;
	flex-direction: row;
	gap: var(--cui-gutter);
	justify-content: space-between;
}

:where(.cui-layout-panel-footer):empty {
	--cui-box-padding-vertical: 0px;
	--cui-box-padding-horizontal: 0px;
	padding-top: 0;
}
