:where(.cui-layout-panel-body) {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-bottom: max(var(--inset-bottom, 0px), var(--cui-box-padding-vertical));
	padding-left: max(var(--inset-left, 0px), var(--cui-box-padding-horizontal));
	padding-right: max(var(--inset-right, 0px), var(--cui-box-padding-horizontal));
	padding-top: max(var(--inset-top, 0px), var(--cui-box-padding-vertical));
	transition-property: transform, opacity;
	transition-timing-function: ease-in;
	transition-duration: var(--cui-transition-duration);
}

:where(.cui-layout-panel-body-content) {
	display: flex;
	flex-direction: column;
	gap: calc(2 * var(--cui-gutter));
	flex: 1;
}

:where(.cui-layout-panel-body):empty {
	display: none;
}

:where(.cui-layout-panel-body[data-behavior='modal']) {
	background-color: rgba(var(--cui-content-background-color-rgb), var(--cui-content-background-color-alpha));
	overflow: auto;
	max-width: unset;
}

:where(.cui-layout-panel-body):where(
	[data-behavior='overlay'],
	[data-behavior='modal'],
	) {
	overscroll-behavior: contain;
	overflow: auto;
}
