:where(.cui-layout) {
	background-color: rgb(var(--cui-background-color--rgb-25));
	color: rgb(var(--cui-color--rgb-50));
	display: flex;
	flex-direction: row;
	flex: 1;
}

.disable-transitions-on-resize,
.disable-transitions-on-resize * {
	transition-duration: 0ms !important;
}
