:where(.cui-dimensionSwitcher) {
  font-size: 0.75em;
}

:where(.cui-dimensionSwitcher-items) {
  display: flex;
  margin: 0 -1em;
}

:where(.cui-dimensionSwitcher-item) {
  padding: 0.5em 1em;
}

:where(.cui-dimensionSwitcher-item:not(:first-child)) {
  border-left: solid 1px #E5E5E5;
}

:where(.cui-dimensionSwitcher-item-icon) {
  margin-left: 0.5em;
  display: inline-block;
  width: 1em;
  height: 0.75em;
  background: url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 4.59l4.3-4.3a1 1 0 0 1 1.4 1.42l-5 5a1 1 0 0 1-1.4 0l-5-5A1 1 0 1 1 1.7.29L6 4.6z' fill='%23000' fill-rule='evenodd' fill-opacity='.2'/%3E%3C/svg%3E") no-repeat center center;
  background-size: contain;
}

:where(.cui-dimensionSwitcher-item-options) {
  display: inline-flex;
  margin-left: 0.5em;
}

:where(.cui-dimensionSwitcher-item-option) {
  padding: 0.125em;
  opacity: 0.5;
}

:where(.cui-dimensionSwitcher-item-option.view-active) {
  font-weight: bold;
  opacity: 1;
}
