:global html[data-theme='light'] {
  --docs-card-border-c: #dddddd;
  --docs-card-border-c-dark: #aaaaaa;
  --docs-card-shadow: 0px 1px 2px rgba(2, 8, 20, 0.06), 0px 2px 8px rgba(2, 8, 20, 0.08);
}
:global html[data-theme='dark'] {
  --docs-card-border-c: rgba(255, 255, 255, 0.02);
  --docs-card-border-c-dark: rgba(255, 255, 255, 0.1);
  --docs-card-shadow: 0px 1px 2px rgba(255, 255, 255, 0.05), 0px 2px 8px rgba(255, 255, 255, 0.1), 0px -1px 2px rgba(255, 255, 255, 0.05), 0px -2px 8px rgba(255, 255, 255, 0.1);
}
:global :root {
  --docs-card-bg-c: var(--token-secondary-bg-c);
}
docs-card {
  display: block;
  font-size: 12px;
  max-width: 30em;
}
docs-card.disabled, docs-card[disabled] {
  position: relative;
}
docs-card.disabled::after, docs-card[disabled]::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(232, 232, 232, 0.5);
  pointer-events: none;
  content: '';
}
.card {
  color: inherit;
  background-color: var(--docs-card-bg-c);
  border: 1px solid var(--docs-card-border-c);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: normal;
  height: 100%;
  justify-content: flex-start;
  line-height: 1.6;
  transition: border-color 150ms ease-out, transform 150ms ease-out, opacity 150ms ease-out;
  box-shadow: var(--docs-card-shadow);
  width: 100%;
  overflow: hidden;
}
@media (hover: hover) {
  .card[href]:hover {
    text-decoration: none;
    border-color: var(--docs-card-border-c-dark);
  }
  .card[href]:hover :global(.Card-icon-hover) {
    opacity: 1;
  }
}
.card:hover, .card:active, .card:focus {
  color: inherit;
}
:global .Card-with-image {
  grid-row: span 2;
}
:global .Card-without-image {
  font-size: 16px;
}
:global .Card-container {
  padding: 1rem;
}
:global .Card-image {
  width: 100%;
  height: auto;
}
:global .Card-icon, :global .Card-iconset__container {
  width: 48px;
  height: 48px;
  margin-bottom: 1.2em;
  border-radius: 50%;
  object-fit: contain;
}
:global .Card-icon-default {
  transition: opacity 150ms ease-out;
}
:global .Card-icon-hover {
  top: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 150ms ease-out;
}
:global .Card-icon-row {
  position: relative;
}
:global .Card-iconset__container {
  position: relative;
}
:global .Card-iconset__container .Card-icon {
  position: absolute;
  opacity: 0;
  transition: 0.8s opacity;
}
:global .Card-iconset__container .Card-icon--active {
  opacity: 1;
}
:global .Card-ionicon {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 1em;
}
:global .Card-content > *:first-child {
  margin-top: 0;
}
:global .Card-content > *:last-child {
  margin-bottom: 0;
}
:global .Card-content > * {
  margin: 0 0 0.65em;
}
:global .Card-content p {
  font-size: 0.85rem;
}
:global .Card-header {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 0.45em;
  font-weight: 600;
  color: var(--token-heading-color-dark);
  display: flex;
  justify-content: space-between;
}
:global .Card-without-image .Card-header {
  margin-bottom: 0.3em;
}
:global .Card-header > svg {
  fill: currentColor;
  height: 1em;
  margin-bottom: -0.125em;
  width: auto;
}
:global .Card-size-lg {
  font-size: 14px;
}
:global .Card-size-lg .Card-icon, :global .Card-size-lg .Card-ionicon, :global .Card-size-lg .Card-iconset__container {
  width: 80px;
  height: 80px;
}
:global .Card-size-lg.Card-without-image .Card-header {
  font-size: 20px;
}
:global aside docs-card {
  max-width: 240px;
}
:global aside .Card-container {
  display: grid;
  grid-template-columns: minmax(0, max-content) 1fr;
  grid-template-rows: minmax(0, min-content);
  grid-template-areas: 'icon title' 'icon body';
}
:global aside .Card-icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  margin-bottom: 0;
  grid-area: icon;
}
:global aside .Card-header {
  grid-area: title;
}
:global aside .Card-header::after {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-size: 13px 13px;
  margin-left: 4px;
  content: '';
}
:global aside .Card-content {
  grid-area: body;
  /* https://stackoverflow.com/questions/5269713/css-ellipsis-on-second-line */
  max-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
:global aside .Card-icon + .Card-content {
  margin-top: -6px;
}
:global .markdown-content p docs-card {
  margin-top: 1em;
}
