:where(.layout-responsive-container) {
	display: flex;
	flex-direction: column;
	flex: 1;
}

:where(
	body:has(.layout-responsive-container.has-visible-modal),
) {
	pointer-events: none;
	overflow: hidden;
}
