%buttonEssentials
	display: inline-block
	font-family: inherit
	transition-duration: var(--cui-button-effect-transition-duration)
	transition-property: box-shadow, color, background, opacity
	text-align: center
	font-weight: $fw-normal
	font-size: inherit
	text-decoration: none
	cursor: pointer
	border-style: solid
	border-width: $cui-control-border-width
	border-radius: $cui-control-border-radius
	text-shadow: 0 .5em .625em rgba(0, 0, 0, .075)
