%buttonSizes
	// $cui-button-sizes
	@each $name, $height in $cui-button-sizes
		$view: toView($name)
		&#{$view}
			$visualLineHeight: $height - 2 * $cui-control-border-width
			$edgeOffset: ($visualLineHeight - 1em) / 2
			min-height: $height
			line-height: 1.25
			padding: ($edgeOffset / 2) $edgeOffset
