%controlEssentials
	--cui-control-line-height: var(--cui-line-height)

	display: block
	font-family: inherit
	transition-duration: var(--cui-transition-duration--fast)
	transition-property: box-shadow, color, background, opacity
	font-weight: $fw-normal
	font-size: inherit
	text-decoration: none
	position: relative
	margin: 0
	border-style: solid
	border-width: var(--cui-control-border-width, 1px)
	border-radius: var(--cui-control-border-radius)
	resize: none
	flex-basis: 2em
	flex-grow: 1
	overflow: hidden
	line-height: var(--cui-control-line-height)

	:root &
		box-sizing: border-box

	&:-webkit-autofill
		-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important

	&.view-withTopToolbar
		border-top-left-radius: 0
		border-top-right-radius: 0
