@use 'sass:math'

%controlSizes
	--cui-min-height: var(--cui-control-height)
	--cui-font-size: var(--cui-font-size-label)
	--cui-padding-horizontal: calc(3 * var(--cui-gap))

	min-height: var(--cui-min-height)
	padding-left: var(--cui-padding-horizontal)
	padding-right: var(--cui-padding-horizontal)
	padding-top: 0
	padding-bottom: 0

	&.view-small
		--cui-min-height: var(--cui-control-height--small)
		--cui-font-size: var(--cui-font-size-note)
		--cui-padding-horizontal: calc(2 * var(--cui-gap))
	&.view-large
		--cui-font-size: var(--cui-font-size-body)
		--cui-min-height: var(--cui-control-height--large)
		--cui-padding-horizontal: calc(4 * var(--cui-gap))
