%controlVariants
	--input-control-focus-ring: var(--cui-control-focus-ring-box-shadow)

	color: var(--cui-color--high)
	background: var(--cui-background-color--above)
	border-color: var(--cui-color--lower)

	+disableWebkitAutoFill(var(--cui-control-background-color))

	&:hover
		border-color: var(--cui-color--low)

	&:focus
		@extend %implementsCustomFocusEffects
		border-color: var(--cui-control-border-color)
	&:focus:focus-visible
		box-shadow: var(--input-control-focus-ring)

	&::placeholder
		color: var(--cui-color--low)

	&[readonly]
		cursor: not-allowed
		color: var(--cui-color--medium)

	&[disabled]
		cursor: not-allowed
		opacity: var(--cui-opacity--medium)

		&,
		&::placeholder
			color: var(--cui-color--low)

	&.view-seamless
		background: transparent
		border-color: transparent
		padding-left: 0
		padding-right: 0

		&:focus
			box-shadow: none
		&:hover,
		&:focus:focus-visible
			background: var(--cui-filled-control-background-color--highlighted)
