:where(.cui-dialog-modal) {
	--cui-dialog-modal--background-color: rgb(var(--cui-background-color--rgb-50));
	--cui-dialog-modal--header-padding-left: var(--cui-padding);
	--cui-dialog-modal--header-padding-right: var(--cui-padding);
	--cui-dialog-modal--header-padding-top: var(--cui-padding);
	--cui-dialog-modal--header-padding-bottom: 0px;
	--cui-dialog-modal--body-padding-left: var(--cui-padding);
	--cui-dialog-modal--body-padding-right: var(--cui-padding);
	--cui-dialog-modal--body-padding-top: var(--cui-padding);
	--cui-dialog-modal--body-padding-bottom: var(--cui-padding);
	--cui-dialog-modal--footer-padding-left: var(--cui-padding);
	--cui-dialog-modal--footer-padding-right: var(--cui-padding);
	--cui-dialog-modal--footer-padding-top: 0px;
	--cui-dialog-modal--footer-padding-bottom: var(--cui-padding);
	--cui-layout-page--padding-left: 0px;
	--cui-layout-page--padding-right: 0px;
	background-color: var(--cui-dialog-modal--background-color);
	border-width: var(--cui-border-width, 1px);
	border-style: solid;
	border-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--low));
	border-radius: calc(2 * var(--cui-border-radius));
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

@media (max-width: 767.98px) {
	:where(.cui-dialog-modal) {
		max-width: calc(100vw - var(--cui-padding));
	}
}

:where(.cui-dialog-modal .cui-table-container-box) {
	flex-grow: 1;
}

:where(.cui-dialog-modal .cui-table-container) {
	flex-grow: 1;
}

:where(.cui-dialog-modal .cui-table-container > .cui-field-container-label) {
	flex-grow: 1;
}

:where(.cui-dialog-modal .cui-table-container > .cui-field-container-label > .cui-field-container-body) {
	flex-grow: 1;
}

:where(.cui-dialog-modal .cui-table-container > .cui-field-container-label > .cui-field-container-body > .cui-field-container-body-content) {
	flex-grow: 1;
}

:where(.cui-dialog-modal .cui-data-grid-body) {
	flex-grow: 1;
}

:where(.cui-dialog-modal .cui-field-container-body-content .cui-table-wrapper) {
	overflow: auto;
}

:where(.cui-dialog-modal .cui-data-grid-body-content-grid) {
	flex: 1 1 0%;
	overflow: auto;
}

:where(.cui-dialog-modal.view-wide),
:where(.cui-dialog-modal.view-fit-content) {
	max-height: calc(100vh - 2 * var(--cui-padding));
}

:where(.cui-dialog-modal.view-fit-content) {
	max-width: calc(767.98px - 2 * var(--cui-padding));
}

:where(.cui-dialog-modal.view-wide) {
	max-width: calc(100vw - 2 * var(--cui-padding));
	width: calc(1023.98px - var(--cui-padding));
}

:where(.cui-dialog-modal.view-expanded) {
	height: calc(100vh - var(--cui-padding));
	width: calc(100vw - var(--cui-padding));
}

:where(.cui-dialog-modal-header) {
	padding-left: var(--cui-dialog-modal--header-padding-left);
	padding-right: var(--cui-dialog-modal--header-padding-right);
	padding-bottom: var(--cui-dialog-modal--header-padding-bottom);
	padding-top: var(--cui-dialog-modal--header-padding-top);
	min-height: calc(var(--cui-button--height) + var(--cui-dialog-modal--header-padding-top) + var(--cui-dialog-modal--header-padding-bottom));
}

:where(.cui-dialog-modal-body-wrapper) {
	display: flex;
	flex: 1 1 0%;
	max-width: 100%;
	overflow: hidden;
}

:where(.cui-dialog-modal-body) {
	flex-grow: 1;
	max-width: 100%;
	padding-left: var(--cui-dialog-modal--body-padding-left);
	padding-right: var(--cui-dialog-modal--body-padding-right);
	padding-bottom: var(--cui-dialog-modal--body-padding-bottom);
	padding-top: var(--cui-dialog-modal--body-padding-top);
	min-height: calc(var(--cui-button--height) + var(--cui-dialog-modal--body-padding-top) + var(--cui-dialog-modal--body-padding-bottom));
}

:where(.cui-dialog-modal-footer) {
	padding-left: var(--cui-dialog-modal--footer-padding-left);
	padding-right: var(--cui-dialog-modal--footer-padding-right);
	padding-bottom: var(--cui-dialog-modal--footer-padding-bottom);
	padding-top: var(--cui-dialog-modal--footer-padding-top);
	min-height: calc(var(--cui-button--height) + var(--cui-dialog-modal--footer-padding-top) + var(--cui-dialog-modal--footer-padding-bottom));
}

:where(.cui-dialog-modal.with-dividers-body),
:where(.cui-dialog-modal.with-dividers-footer) {
	border-top: 1px solid rgba(var(--cui-color--rgb-50), var(--cui-opacity--lower));
}
