.cui-message-item {
  align-self: start;
  margin-inline-start: 0%;
  margin-inline-end: 20%;
}
.cui-message-item[data-mine] {
  align-self: end;
  margin-inline-start: 20%;
  margin-inline-end: 0;
}
.cui-message-item .cui-message-item-bubble {
  align-self: flex-start;
}
.cui-message-item[data-mine] .cui-message-item-bubble {
  align-self: flex-end;
  background-color: rgba(var(--cui-background-color--toned-controls-rgb-50), var(--cui-opacity--lower));
}
