@import "@contember/layout/index.css";
@import "@contember/brand/index.css";

/* Globals */
:where(
	.cui-cms,
	.cui-cms .cui-theme:not([class*=scheme-]),
	.cui-cms .scheme-light,
	.cui-cms .scheme-light .cui-theme:not([class*=scheme-]),
	.cui-cms .scheme-system,
	.cui-cms .scheme-system .cui-theme:not([class*=scheme-]),
) {
	--cui-background-color--above: rgb(var(--cui-content-1000));
	--cui-background-color: rgb(var(--cui-content-975));
	--cui-background-color--below: rgb(var(--cui-content-950));
}

@media (prefers-color-scheme: light) {
	:where(
		.cui-cms,
		.cui-cms .cui-theme:not([class*=scheme-]),
		.cui-cms .scheme-light,
		.cui-cms .scheme-light .cui-theme:not([class*=scheme-]),
		.cui-cms .scheme-system,
		.cui-cms .scheme-system .cui-theme:not([class*=scheme-]),
	) {
		--cui-background-color--above: rgb(var(--cui-content-1000));
		--cui-background-color: rgb(var(--cui-content-975));
		--cui-background-color--below: rgb(var(--cui-content-950));
	}
}

@media (prefers-color-scheme: dark) {
	:where(
		.cui-cms,
		.cui-cms .cui-theme:not([class*=scheme-]),
		.cui-cms .scheme-dark,
		.cui-cms .scheme-dark .cui-theme:not([class*=scheme-]),
		.cui-cms .scheme-system,
		.cui-cms .scheme-system .cui-theme:not([class*=scheme-]),
	) {
		--cui-background-color--above: rgb(var(--cui-content-150));
		--cui-background-color: rgb(var(--cui-content-100));
		--cui-background-color--below: rgb(var(--cui-content-50));
	}
}

@media (prefers-color-scheme: light) {
	:where(.cui-cms) {
		--cms-content-background-color: var(--cui-background-color--above);
		--cms-sidebar-background-color: var(--cui-background-color);
	}
}
@media (prefers-color-scheme: dark) {
	:where(.cui-cms) {
		--cms-content-background-color: var(--cui-background-color);
		--cms-sidebar-background-color: var(--cui-background-color--above);
	}
}

/* Flip Icons (hack for missing icons) */
:where(
	.right-sidebar-close-icon,
	.right-sidebar-open-icon,
) {
	transform: rotate(180deg);
}

:where(.cui-cms-header-title .cui-layout-slot[data-name="title"]) {
	font-size: min(1em, 1.5vw);
}
:where(.cui-root .cui-cms-header-title h1) {
	font-size: max(1rem, min(2vw, 1.75rem));
	font-weight: 800;
}

/* Make left sidebar sticky (1) */
:where(.cui-cms .cui-cms-sidebar-left[data-behavior="static"]) {
	position: sticky;
	max-height: 100vh;
	max-height: 100dvh;
	top: 0;
}

/* Make left sidebar sticky (2) */
:where(.cui-cms-sidebar-left-body) {
	overflow: auto;
}

/* Make right sidebar sticky (1) */
.cui-cms .cui-cms-sidebar-right[data-behavior="static"] {
	position: sticky;
	max-height: 100vh;
	max-height: 100dvh;
	top: 0;
}

/* Make right sidebar sticky (2) */
.cui-cms-sidebar-right-body {
	overflow: auto;
}

/* Inherit colors in menu (1) */
:where(
	.cui-cms .cui-menu-group-title-content,
	.cui-cms .cui-menu-section-title-content,
) {
	color: inherit;
	text-decoration: none;
}
/* Inherit colors in menu (2) */
:where(.cui-menu-section-title-content .cui-menu-section-title-label) {
	color: inherit;
}

/* Remove menu left margins now handled by insets (1) */
:where(
	.cui-cms .cui-menu-section-title,
	.cui-cms .cui-menu-section-list,
) {
	margin-left: 0;
}

/* Remove menu left margins now handled by insets (2) */
:where(.cui-cms .cui-menu-section)::after { display: none }

/* Remove menu left margins now handled by insets (3) */
:where(.cui-cms .cui-menu-section) {
	margin-left: 0px;
}
:where(
	.cui-cms .cui-menu-section > .cui-menu-section-list,
	.cui-cms .cui-menu-section > .cui-menu-section-title,
) {
	margin-left: var(--cui-gutter);
}

/* Modify Menu right margin */
:where(.cui-cms .cui-menu) {
	margin-right: calc(-1 * var(--cms-box-padding-horizontal));
}

/* Modify Menu bottom margin */
:where(.cui-cms .cui-menu:last-child) {
	margin-bottom: calc(-1 *  var(--cms-box-padding-vertical));
}

/* CMS Layout */
:where(.cui-cms) {
	--cms-box-padding-vertical: 1rem;
	--cms-box-padding-horizontal: 1rem;
	--cms-logo-whitespace-margin: calc((1em - var(--size) * 0.5) / 2);
}

@media screen and (min-width: 1024px) {
	:where(.cui-cms) {
		--cms-box-padding-horizontal: 2rem;
	}
}

/* Size of logo */
:where(.cui-layout-slot[data-name="logo"] .cui-brand-icon) {
	--scale: 2.5;
}

:where(.cui-cms .cui-responsive-app-layout-header-container) {
	max-width: 100%;
}

:where(.cui-cms-content) {
	/* Apply new background-colors (1) */
	background-color: var(--cms-content-background-color);
	/* Handle max-width (1) */
	max-width: unset;
}

:where(.cui-cms-content .cui-layout-panel-body) {
	/* Handle max-width (2) */
	max-width: unset
}

/* Apply new background-colors (2) */
:where(
	.cui-cms-header-main,
	.cui-cms-header-start,
	.cui-cms-header-end,
)::before {
	background-color: var(--cms-content-background-color);
}

/* Apply new background-colors (3) */
:where(
	.cui-cms-sidebar,
	.cui-cms-sidebar-left-heder,
	.cui-cms-sidebar-left-footer,
	.cui-cms-sidebar-right-heder,
	.cui-cms-sidebar-right-footer,
) {
	background-color: var(--cms-sidebar-background-color);
}

/* Apply new background-colors (4) */
:where(
	[data-panel-cms-sidebar-left-visibility="visible"][data-panel-cms-sidebar-left-behavior="static"] .cui-cms-header-start,
)::before {
	background-color: var(--cms-sidebar-background-color);
}

/* Apply new background-colors (5) */
:where(
	[data-panel-cms-sidebar-right-visibility="visible"][data-panel-cms-sidebar-right-behavior="static"] .cui-cms-header-end,
)::before {
	background-color: var(--cms-sidebar-background-color);
}

/* Add header bottom-border */
:where(
	.cui-cms-header-start,
	.cui-cms-header-main,
	.cui-cms-header-end,
) {
	border-bottom: 1px solid transparent;
}
:where(
	.cui-cms-header-main,
	.cui-layout-responsive-container:not([data-panel-cms-sidebar-left-visibility="visible"]) .cui-cms-header-start,
	.cui-layout-responsive-container:not([data-panel-cms-sidebar-right-visibility="visible"]) .cui-cms-header-end,
) {
	border-bottom-color: var(--cui-color--lower);
}


/* Make toggle buttons transparent (1) */
:where(
	.cui-cms .cui-cms-toggle-right-sidebar,
	.cui-cms .cui-cms-toggle-left-sidebar,
	.cui-cms .cui-cms-toggle-menu.view-seamless,
) {
	--cui-button-box-shadow-shadow-below: ;
	--cui-button-background-color: transparent;
	--cui-button-color: inherit;
	--cui-button-color--highlighted: inherit;
	background-color: transparent;
	border: 0;
	appearance: none;
}

/* Make toggle buttons transparent (2) */
:where(.cui-cms-toggle-left-sidebar) {
	margin-right: calc(var(--cms-box-padding-horizontal) / -4);
}

/* Apply either common box padding or the container inset if larger (1) */
:where(
	.cui-cms-header-start,
	.cui-cms-header-main,
	.cui-cms-header-end,
	.cui-cms-sidebar-left-header,
	.cui-cms-sidebar-left-body,
	.cui-cms-sidebar-left-footer,
	.cui-cms-content-header,
	.cui-cms-content-footer,
	.cui-cms-sidebar-right-header,
	.cui-cms-sidebar-right-body,
	.cui-cms-sidebar-right-footer
) {
	padding-bottom: max(var(--container-inset-bottom), var(--cms-box-padding-vertical));
	padding-left: max(var(--container-inset-left), var(--cms-box-padding-horizontal));
	padding-right: max(var(--container-inset-right), var(--cms-box-padding-horizontal));
	padding-top: max(var(--container-inset-top), var(--cms-box-padding-vertical));
}
/* Apply either common box padding or the container inset if larger (2) */
:where(
	.cui-cms-content-body,
) {
	padding-bottom: max(calc(var(--container-inset-bottom) + var(--cms-box-padding-vertical)), var(--cms-box-padding-vertical));
	padding-left: max(var(--container-inset-left), var(--cms-box-padding-horizontal));
	padding-right: max(var(--container-inset-right), var(--cms-box-padding-horizontal));
	padding-top: max(calc(var(--container-inset-top) + var(--cms-box-padding-vertical)), var(--cms-box-padding-vertical));
}

/* Use flex in parts of CMS Header */
:where(
	.cui-cms-header-start,
	.cui-cms-header-main,
	.cui-cms-header-end,
) {
	display: flex;
	/* Needed for blur to work */
	position: relative;
}
:where(
	.cui-cms-header-main,
) {
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 0px;
}
:where(
	.cui-cms-header-start,
	.cui-cms-header-end,
) {
	flex-shrink: 0;
	flex-grow: 0;
}

/* Blur (1) */
:where(.cui-cms-header-start, .cui-cms-header-main, .cui-cms-header-end)::before,
:where(.cui-cms-header-start, .cui-cms-header-main, .cui-cms-header-end)::after,
:where(.cui-cms-footer-start, .cui-cms-footer-main, .cui-cms-footer-end)::before,
:where(.cui-cms-footer-start, .cui-cms-footer-main, .cui-cms-footer-end)::after {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
}
/* Blur (2) */
:where(
	.cui-cms-header-start-content,
	.cui-cms-header-main-content,
	.cui-cms-header-end-content,
) {
	align-items: center;
	display: flex;
	gap: var(--cui-gutter);
	z-index: 1;
}
/* Blur (3) */
:where(
	.cui-cms-header-start,
	.cui-cms-header-main,
	.cui-cms-header-end,
)::before {
	opacity: 0.85;
}
/* Blur (4) */
:where(
	.cui-cms-header-start,
	.cui-cms-header-main,
	.cui-cms-header-end,
)::after {
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
/* Blur (5) */
:where(
	.cui-cms-sidebar-left-header[data-layout-panel-header-behavior="modal"],
	.cui-cms-sidebar-left-body[data-layout-panel-body-behavior="modal"],
	.cui-cms-sidebar-left-footer[data-layout-panel-footer-behavior="modal"],
	.cui-cms-sidebar-right-header[data-layout-panel-header-behavior="modal"],
	.cui-cms-sidebar-right-body[data-layout-panel-body-behavior="modal"],
	.cui-cms-sidebar-right-footer[data-layout-panel-footer-behavior="modal"],
) {
	background-color: var(--cms-sidebar-background-color);
}

/* CMS Header parts (1) */
:where(.cui-cms-header-start) {
	max-width: var(--panel-cms-sidebar-left-max-width);
}

/* CMS Header parts (2) */
:where(.cui-cms-header-main) {
	flex-basis: var(--panel-cms-content-basis);
}

/* CMS Header parts (3) */
:where(.cui-cms-header-end) {
	justify-content: flex-end;
	max-width: var(--panel-cms-sidebar-right-max-width);
}

/* CMS Header parts (4) Expand CMS Header start to match sidebar width */
:where(
	[data-panel-cms-sidebar-left-visibility="visible"][data-panel-cms-sidebar-left-behavior="static"],
	[data-content-has-max-width] [data-panel-cms-sidebar-left-behavior="static"][data-all-panels-can-be-visible],
)
:where(.cui-cms-header-start) {
	flex-basis: var(--panel-cms-sidebar-left-basis);
	max-width: var(--panel-cms-sidebar-left-max-width);
	min-width: var(--panel-cms-sidebar-left-min-width);
}

/* CMS Header parts (5) Expand CMS Header end to match sidebar width */
:where(
	[data-panel-cms-sidebar-right-visibility="visible"][data-panel-cms-sidebar-right-behavior="static"],
	[data-content-has-max-width] [data-panel-cms-sidebar-right-behavior="static"][data-all-panels-can-be-visible],
)
:where(.cui-cms-header-end) {
	flex-basis: var(--panel-cms-sidebar-right-basis);
	max-width: var(--panel-cms-sidebar-right-max-width);
	min-width: var(--panel-cms-sidebar-right-min-width);
}

/* CMS Header parts (6) */
:where([data-panel-cms-sidebar-left-visibility="visible"] .cui-cms-header-start-content) { flex: 1; }

/* CMS Header parts (7) */
:where([data-panel-cms-sidebar-right-visibility="visible"] .cui-cms-header-end-content) { flex: 1; }

/* CMS Header parts (8) */
:where(
	.cui-cms-sidebar-left-header[data-behavior="modal"],
	.cui-cms-sidebar-left-body[data-behavior="modal"],
	.cui-cms-sidebar-left-footer[data-behavior="modal"],
	.cui-cms-sidebar-right-header[data-behavior="modal"],
	.cui-cms-sidebar-right-body[data-behavior="modal"],
	.cui-cms-sidebar-right-footer[data-behavior="modal"],
) {
	align-self: stretch;
}

/* Left sidebar is open in modal (1) */
:where(.cui-cms-sidebar-left-header[data-behavior="modal"]) {
	display: flex;
	align-items: center;
	min-height: var(--header-height);
}

/* Left sidebar is open in modal (2) */
:where(
	.cui-cms-sidebar-left-header[data-behavior="modal"]
)
:where(
	.cui-cms-sidebar-left-header-content
) {
	flex: 1
}

:where(.cui-layout-panel[data-behavior="modal"] .cui-layout-panel-body) {
	max-width: unset;
}

/* Make content and title with max-width (1) */
:where(.cui-cms)
:where(
	[data-content-has-max-width] .cui-cms-header-main-content,
	[data-content-has-max-width] .cui-layout-slot[data-name="content"],
) {
	margin-right: auto;
	max-width: min(100%, var(--panel-cms-content-max-width, 720px));
	width: 100%;
}

/* Make content and title with max-width (2) */
:where([data-content-has-max-width] .cui-cms-header-main-content) {
	flex: 1;
}

/* Make content and title with max-width (3) */
:where([data-content-has-max-width] [data-all-panels-can-be-visible] .cui-cms-content) {
	padding-left: var(--panel-cms-sidebar-left-max-width);
	padding-right: var(--panel-cms-sidebar-right-max-width);
}

:where([data-content-has-max-width] [data-panel-cms-sidebar-left-visibility="visible"] .cui-cms-content) {
	padding-left: unset;
}
:where([data-content-has-max-width] [data-panel-cms-sidebar-right-visibility="visible"] .cui-cms-content) {
	padding-right: unset;
}



/* Add basic padding to content container */
:where(.cui-cms-content-body .cui-cms-content-container) {
	padding-bottom: var(--cms-box-padding-vertical);
	padding-top: var(--cms-box-padding-vertical);
}
