:where(.cui-layout-frame) {
	background-color: rgb(var(--cui-background-color--rgb-0));
	height: 100%;
	max-width: 100vw;
	max-width: 100dvw;
	overflow: hidden;
	position: relative;
}

:where(.cui-layout-frame .cui-layout-panel) {
	--cui-layout-panel--background-rgb: var(--cui-background-color--rgb-50);
}
:where(.cui-layout-frame .cui-layout-panel[data-behavior="modal"]) {
	--cui-layout-panel--header-background-rgb: var(--cui-background-color--rgb-0);
}

:where(.cui-layout-frame-container) {
	background-color: rgb(var(--cui-background-color--rgb-0));
}

:where(.cui-layout-frame-header, .cui-layout-frame-footer) {
	display: flex;
	flex-direction: column;
	gap: var(--cui-padding);
	left: 0;
	max-width: 100vw;
	max-width: 100dvw;
	right: 0;
	z-index: 3;
}

:where(
	.cui-layout-frame[data-header-is-fixed] .cui-layout-frame-header,
	.cui-layout-frame[data-footer-is-fixed] .cui-layout-frame-footer
) {
	position: fixed;
}

:where(.cui-layout-frame-header) {
	top: 0;
}
:where(.cui-layout-frame-body) {
	align-self: center;
	background-color: rgb(var(--cui-background-color--rgb-50));
	border-radius: var(--cui-gutter);
	border-width: 1px;
	border-style: solid;
	border-color: rgba(var(--cui-color--rgb-50), var(--cui-opacity--lower));
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 var(--cui-padding--panel-horizontal) 0 var(--cui-padding--panel-horizontal);
	max-height: 100%;
	overflow: hidden;
	position: relative;
	width: min(calc(100vw - 2 * var(--cui-padding--panel-horizontal)), 80rem);
}
:where([data-has-modals] .cui-layout-frame-body > .cui-divider) {
	display: none;
}

:where(
	.cui-layout-frame-body-header,
	.cui-layout-frame-body-footer,
) {
	left: 0;
	position: absolute;
	right: 0;
	z-index: 2;
}

:where(.cui-layout-frame-body-header) {
	top: 0;
}

:where(.cui-layout-frame-body-footer) {
	bottom: 0;
}

:where(.cui-layout-frame-body-content) {
	display: flex;
	flex: 1 1 100%;
	justify-content: center;
	overflow: inherit;
	max-height: inherit;
}

:where(.cui-layout-frame-footer) {
	bottom: 0;
}
