:where(
	.cui-toggle-sidebar-button,
	.cui-toggle-menu[data-distinction="seamless"],
) {
	--cui-button--background-color: transparent;
	--cui-button--color: inherit;
	--cui-button--color--highlighted: inherit;
	background-color: transparent;
	border: 0;
	appearance: none;
}

:where(.cui-toggle-sidebar-button) {
	opacity: var(--cui-opacity--medium);
}
:where(.cui-toggle-sidebar-button:hover) {
	opacity: var(--cui-opacity--strong);
}

:where(
	.cui-toggle-sidebar-button,
	.cui-toggle-menu[data-distinction="seamless"],
)
:where(
	.lucide,
) {
	--cui-scale: 1.5;
}
