:where(
	.cui-toggle-sidebar-button,
	.cui-toggle-menu.view-seamless,
) {
	--cui-button-box-shadow-shadow-below: ;
	--cui-button-background-color: transparent;
	--cui-button-color: inherit;
	--cui-button-color--highlighted: inherit;
	background-color: transparent;
	border: 0;
	appearance: none;
}

:where(
	.cui-toggle-sidebar-button,
	.cui-toggle-menu.view-seamless,
)
:where(
	.lucide,
) {
	--scale: 1.5;
}
