@import "../../../../packages/admin/src/index";

.cui-layout-main {
	background: #f3f3f3;
}

.cui-trio-start {
	max-width: 1300px;
}

.projectMembers {
	display: flex;
	flex-wrap: wrap;
	margin: 0.5em -1em 0 -1em;
}

.projectMembers-section {
	flex: 1 0 50%;
	min-width: 550px;
	padding: 0 1em;
}
