:where(.cui-spacer) {
	--spacer-margin: var(--cui-padding);
	min-height: var(--spacer-margin);
	min-width: var(--spacer-margin);
}

:where(.cui-spacer[data-shrink]) {
	flex-shrink: 1;
}

:where(.cui-spacer[data-grow]) {
	flex-grow: 1;
}

:where(.cui-spacer[data-gap="none"]) {
	--spacer-margin: 0;
}

:where(.cui-spacer[data-gap="small"]) {
	--spacer-margin: var(--cui-gap);
}
:where(.cui-spacer[data-gap="medium"]) {
	--spacer-margin: var(--cui-gutter);
}

:where(.cui-spacer[data-gap="large"]) {
	--spacer-margin: calc(1.5 * var(--cui-padding));
}

:where(.cui-spacer[data-gap="xlarge"]) {
	--spacer-margin: calc(3 * var(--cui-padding));
}
