:where(.cui-spacer) {
	--cui-spacer-margin: 0px;
	min-height: var(--cui-spacer-margin);
	min-width: var(--cui-spacer-margin);
}

:where(.cui-spacer[data-shrink]) {
	flex-shrink: 1;
}

:where(.cui-spacer[data-grow]) {
	flex-grow: 1;
}

:where(.cui-spacer[data-gap]) {
	--cui-spacer-margin: var(--cui-padding);
}

:where(.cui-spacer[data-gap="gap"]) {
	--cui-spacer-margin: var(--cui-gap);
}

:where(.cui-spacer[data-gap="gutter"]) {
	--cui-spacer-margin: var(--cui-gutter);
}

:where(.cui-spacer[data-gap="padding"]) {
	--cui-spacer-margin: var(--cui-padding);
}

:where(.cui-spacer[data-gap="large"]) {
	--cui-spacer-margin: calc(1.5 * var(--cui-padding));
}

:where(.cui-spacer[data-gap="larger"]) {
	--cui-spacer-margin: calc(3 * var(--cui-padding));
}
