.#{$cui-conf-globalPrefix}spacer
  --spacer-margin: var(--cui-padding)

  min-height: var(--spacer-margin)
  min-width: var(--spacer-margin)

  &.view-none
    --spacer-margin: 0
  &.view-small
    --spacer-margin: var(--cui-gap)
  &.view-large
    --spacer-margin: calc(1.5 * var(--cui-padding))
  &.view-xlarge
    --spacer-margin: calc(3 * var(--cui-padding))
