.cui-repeater-item-container
	$root: &

	--cui-box-background-focused-overlay: linear-gradient(rgba(var(--cui-controls-1000), 0.01), rgba(var(--cui-controls-1000), 0.01))
	--line-height-negative-vertical-space: calc(0.5em * calc(var(--cui-line-height) - 1))

	transition: background-image .15s

	&.view-sortable
		--cui-box-content-padding-left: calc(2 * var(--cui-box-content-padding))

	&-header
		align-items: center
		display: flex
		justify-content: space-between
		gap: calc(2 * var(--cui-gap))
	&-content
		//

	&-handle
		align-items: center
		display: flex
		flex-direction: column
		cursor: grab
		position: absolute
		left: 0
		top: 0
		bottom: 0
		padding: var(--cui-box-content-padding) 0
		width: calc(2 * var(--cui-box-content-padding))
		& .#{$cui-conf-globalPrefix}icon
			padding: var(--line-height-negative-vertical-space) 0

	&-label
		font-weight: 800
	&-actions
		align-items: center
		display: flex
		gap: inherit

	&.is-active,
	&:focus-within
		color: var(--cui-control-color)
		background-image: var(--cui-box-background-focused-overlay)

:where(.cui-repeater-item-container-actions) .cui-button.view-seamless
	margin-bottom: calc(-1 * (var(--cui-button-height) - var(--cui-button-line-height)) / 2)
	margin-top: calc(-1 * (var(--cui-button-height) - var(--cui-button-line-height)) / 2)

:where(.cui-repeater-item-container-actions) .cui-button.view-seamless
	&:last-child
		margin-right: calc(-1 * var(--cui-button-padding-horizontal))
	&.view-squarish,
	&.view-circular
		&:last-child
			margin-right: calc(-1 * (var(--cui-button-height) - var(--cui-button-line-height)) / 2)
