.#{$cui-conf-globalPrefix}repeater-item-container
	$root: &

	--cui-box-background-focused-overlay: linear-gradient(rgba(var(--cui-controls-1000), 0.01), rgba(var(--cui-controls-1000), 0.01))
	--line-height-negative-vertical-space: calc(0.5em * calc(var(--cui-line-height) - 1))

	transition: background-image .15s

	&.view-sortable
		--cui-box-content-padding-left: calc(2 * var(--cui-box-content-padding))

	&-header
		display: flex
		justify-content: space-between
	&-content
		//

	&-handle
		align-items: center
		display: flex
		flex-direction: column
		cursor: grab
		position: absolute
		left: 0
		top: 0
		bottom: 0
		padding: var(--cui-box-content-padding) 0
		width: calc(2 * var(--cui-box-content-padding))
		& .#{$cui-conf-globalPrefix}icon
			padding: var(--line-height-negative-vertical-space) 0

	&-label
		font-weight: 800
	&-actions
		margin-left: var(--line-height-negative-vertical-space)
		margin-right: calc(-1 * var(--line-height-negative-vertical-space))
		margin-top: calc(-1 * var(--line-height-negative-vertical-space))

	&.is-active,
	&:focus-within
		color: var(--cui-control-color)
		background-image: var(--cui-box-background-focused-overlay)
