name: Build
on:
  push:
    branches: [ 'main' ]
    tags: [ '**' ]
  pull_request:
    paths-ignore:
      - docs/**
  workflow_dispatch:

jobs:
  check:
    needs: [ ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:

          - job_name: eslint
            run_script: bun run eslint:lint

          - job_name: build
            run_script: |
              bun run pre-build
              bun run ts:build

          - job_name: api-exporter
            run_script: |
              bun add @microsoft/api-extractor ajv
              bun run pre-build
              bun run ts:build
              bun run ae:test

          - job_name: lint-imports
            run_script: ./scripts/lint-module-import/run.sh

          - job_name: test
            run_script: |
                bun run test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - name: Install deps
        run: |
          bun --version
          bun install --frozen-lockfile

      - name: Run ${{ matrix.job_name }}
        run: ${{ matrix.run_script }}


  test-db:
    needs: [ ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        postgres: [ 12, 13, 14, 15, 16 ]
    services:
      mailhog:
        image: mailhog/mailhog
        env:
          MH_CORS_ORIGIN: "*"
        ports:
          - 8025:8025
          - 1025:1025
      postgres:
        image: postgres:${{ matrix.postgres }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: "Build server"
        run: ./scripts/server-build/run.sh

      - name: Start server
        run: ./e2e/start-server.sh
        env:
          NODE_ENV: production
          DEFAULT_DB_HOST: 127.0.0.1
          DEFAULT_DB_PASSWORD: postgres
          DEFAULT_DB_USER: postgres
          DEFAULT_DB_PORT: 5432
          TENANT_DB_NAME: test_tenant
          CONTEMBER_PORT: 4000
          CONTEMBER_MONITORING_PORT: 4001
          CONTEMBER_ROOT_TOKEN: '0000000000000000000000000000000000000000'
          CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
          TENANT_MAILER_HOST: 'localhost'
          TENANT_MAILER_PORT: '1025'
          TENANT_MAILER_FROM: 'contember@localhost'
      - name: "Run E2E tests"
        run: bun run test:e2e --no-file-parallelism
        env:
          CONTEMBER_API_URL: "http://localhost:4000"
          CONTEMBER_ROOT_TOKEN: '0000000000000000000000000000000000000000'
          CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
          MAILHOG_URL: "http://localhost:8025"
