name: CI

on:
  push:
    branches: ['main']
    tags: ['**']
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container: node:16-alpine

    steps:
      - uses: actions/checkout@v2
      - run: npm install -g pnpm@6
      - run: pnpm install
      - run: pnpm run eslint:lint
      - run: pnpm run build
      - run: pnpm run test
      - run: pnpm run ae:test

  playwright:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/playwright:v1.20.0-focal

    services:
      postgres:
        image: postgres:13-alpine
        env:
          POSTGRES_PASSWORD: 'contember'
          POSTGRES_USER: 'contember'
          POSTGRES_DB: 'contember'
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      contember-engine:
        image: contember/engine:1.1.0-rc.3
        env:
          NODE_ENV: 'development'
          CONTEMBER_PORT: '4000'
          CONTEMBER_ROOT_EMAIL: 'superadmin@localhost'
          CONTEMBER_ROOT_PASSWORD: 'superadmin@localhost'
          CONTEMBER_ROOT_TOKEN: '0000000000000000000000000000000000000000'
          CONTEMBER_LOGIN_TOKEN: '1111111111111111111111111111111111111111'
          CONTEMBER_ENCRYPTION_KEY: '0000000000000000000000000000000000000000000000000000000000000000'
          DEFAULT_DB_HOST: 'postgres'
          DEFAULT_DB_PORT: '5432'
          DEFAULT_DB_USER: 'contember'
          DEFAULT_DB_PASSWORD: 'contember'
          TENANT_DB_NAME: 'contember'
          DEFAULT_S3_ENDPOINT: 'http://minio:9000'
          DEFAULT_S3_PROVIDER: 'minio'
          DEFAULT_S3_REGION: ''
          DEFAULT_S3_BUCKET: 'contember'
          DEFAULT_S3_PREFIX: 'data'
          DEFAULT_S3_KEY: 'contember'
          DEFAULT_S3_SECRET: 'contember'

      minio:
        image: bitnami/minio

        env:
          MINIO_ROOT_USER: 'contember'
          MINIO_ROOT_PASSWORD: 'contember'
          MINIO_DEFAULT_BUCKETS: 'contember:download'

    env:
      CONTEMBER_API_URL: 'http://contember-engine:4000'
      CONTEMBER_API_TOKEN: '0000000000000000000000000000000000000000'
      HOME: '/root'

    steps:
      - uses: actions/checkout@v2
      - run: npm install -g pnpm@6
      - run: pnpm install
      - run: pnpm run --recursive --parallel -- build:js:prod
      - run: cd packages/admin && pnpm run pw:build
      - run: cd packages/admin && pnpm run pw:test

      - uses: jakejarvis/s3-sync-action@master
        if: always()
        with:
          args: --acl public-read
        env:
          AWS_S3_BUCKET: 'contember-admin'
          AWS_ACCESS_KEY_ID: ${{ secrets.PLAYWRIGHT_S3_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.PLAYWRIGHT_S3_SECRET }}
          AWS_S3_ENDPOINT: 'https://fra1.digitaloceanspaces.com'
          SOURCE_DIR: 'packages/admin/tests/playwright/report'
          DEST_DIR: ${{ github.sha }}

      - uses: phulsechinmay/rewritable-pr-comment@v0.2.1
        if: always() && github.event_name == 'pull_request'
        with:
          message: '[Playwright Test Report](https://contember-admin.fra1.digitaloceanspaces.com/${{ github.sha }}/index.html)'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  publish-npm:
    if: github.event_name == 'push' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    container: node:16-alpine
    needs: [test]

    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - uses: actions/checkout@v2
      - run: npm install -g pnpm@6
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm config set "//registry.npmjs.org/:_authToken" "$NPM_TOKEN"
      - run: pnpm config set "git-tag-version" "false"
      - run: pnpm recursive exec npm version "${GITHUB_REF:11}"
      - run: pnpm recursive publish --access public --no-git-checks


  publish-docker:
    if: (github.event_name == 'push' && github.ref_type == 'tag') || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Release Tag
        if: github.event_name == 'push' && github.ref_type == 'tag'
        run: 'echo "TAG=${GITHUB_REF:11}" >> $GITHUB_ENV'

      - name: Canary Tag
        if: github.event_name == 'workflow_dispatch'
        run: 'echo "TAG=canary-${GITHUB_SHA:0:10}" >> $GITHUB_ENV'

      - name: Build & Publish Docker Image
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login --username "$DOCKER_USER" --password "$DOCKER_PASSWORD"
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --file ee/admin-server/Dockerfile \
            --cache-from type=registry,ref=ghcr.io/contember/admin \
            --cache-to   type=registry,ref=ghcr.io/contember/admin,mode=max \
            --tag "contember/admin:$TAG" \
            --push \
            .
