name: Publish
on:
  push:
    tags:
      - '**'
jobs:
  publish-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'

      - name: "Install yarn deps"
        run: yarn install

      - name: Extract version
        id: versions
        uses: ./.github/actions/extract-version
        with:
          version: ${{ github.ref }}

      - name: "Build app"
        run: yarn run build

      - name: "Publish NPM"
        run: bash ./scripts/npm/publish.sh
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          NPM_TAG: ${{ steps.versions.outputs.npmTag }}

  publish-docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [cli, engine-alpine, engine-debian]
    steps:
      - uses: actions/checkout@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'

      - name: "Install yarn deps"
        run: yarn install

      - name: Extract version
        id: versions
        uses: ./.github/actions/extract-version
        with:
          version: ${{ github.ref }}

      - name: "Publish Docker"
        run: bash ./scripts/docker/publish.sh ${{ matrix.image }}
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_TAGS: ${{ steps.versions.outputs.versions }}
