name: Publish Canary build
on:
  workflow_dispatch:

jobs:
  publish-canary:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [cli, engine-alpine, engine-debian, engine-ee-alpine, engine-ee-debian]
    steps:
      - uses: actions/checkout@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: 'yarn'

      - name: "Install yarn deps"
        run: yarn install

      - name: Get the version
        run: echo "VERSION=${GITHUB_SHA:0:10}" >> $GITHUB_ENV

      - name: "Publish Docker"
        run: bash ./scripts/docker/publish.sh ${{ matrix.image }}
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_TAGS: "canary-${{ env.VERSION }}"
